In [1]:
# set up for pandas, numpy, matplotlib, read csv file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

### To get cycle data by state, I'll need: 
- columns including state name
- ART cycles counts
- donation cycles counts

## 1995 data

In [14]:
# read excel "clinic_tables_data_1995.xls" in the folder "Input"
df_1995 = pd.read_excel("Input/clinic_tables_data_1995.xls", sheet_name="1995 Clinic Tables Data", header=0)
df_1995

,Clinic_Name,Clinic_City,Clinic_State,SART_Member,Single_Women,Surrogates,Donor_Eggs_Shared,IVF_Rate,GIFT_Rate,ZIFT_Rate,...,AVG_Num_TX_GT39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39,Live_TX_LT35,Live_TX_35_39,Live_TX_GT39,AVG_TX_LT35,AVG_TX_35to39,AVG_TX_GT39
0,ART AT BIRMINGHAM,BIRMINGHAM,ALABAMA,YES,NO,NO,9%,100%,0%,0%,...,NaN,2,2.0,2,1/2,1/2,0/2,3.0,3.5,5.0
1,UNIVERSITY OF ALABAMA-BIRMINGHAM IVF PROGRAM,BIRMINGHAM,ALABAMA,YES,YES,YES,NO,58%,42%,0%,...,NaN,1,0.0,1,0/1,NaN,0/1,3.0,NaN,6.0
2,UNIVERSITY OF SOUTH ALABAMA REPRODUCTIVE ENDOC...,MOBILE,ALABAMA,YES,NO,YES,0%,96%,4%,0%,...,NaN,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,FERTILITY TREATMENT CENTER,CHANDLER,ARIZONA,YES,YES,NO,0%,100%,0%,0%,...,4.0,0,1.0,1,NaN,0/1,0/1,NaN,4.0,5.0
4,"ARIZONA INSTITUTE OF REPRODUCTIVE MEDICINE, LTD.",PHOENIX,ARIZONA,YES,YES,NO,<1%,100%,0%,0%,...,2.0,0,1.0,5,NaN,0/1,2/5,NaN,8.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,REPRODUCTIVE SPECIALTY CENTER,MILWAUKEE,WISCONSIN,YES,YES,YES,0%,45%,53%,2%,...,NaN,0,0.0,1,NaN,NaN,0/1,NaN,NaN,3.0
259,ADVANCED INSTITUTE OF FERTILITY,MILWAUKEE & WAUKESHA,WISCONSIN,YES,YES,YES,0%,88%,12%,0%,...,3.2,2,8.0,7,0/2,4/8,5/7,2.5,3.5,3.7
260,WOMENCARE-WAUKESHA MEMORIAL HOSPITAL,WAUKESHA,WISCONSIN,YES,NO,YES,0%,100%,0%,0%,...,3.5,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
261,WOMEN'S HEALTH CARE IVF PROGRAM,WAUKESHA,WISCONSIN,YES,YES,NO,0%,88%,12%,0%,...,6.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
262,"CLINIC OF OBSTETRICS AND GYNECOLOGY, LTD.",WEST ALLIS,WISCONSIN,YES,NO,NO,0%,87%,13%,0%,...,NaN,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# find the column names: Number_Cycles_LT35, Number_Cycles_35to39, Number_Cycles_GT39, Num_Transfer_LT35, Num_Transfer_35to39, Num_Transfer_GT39, Num_Fresh_TX_LT35, Num_Fresh_TX_35to39, Num_Fresh_TX_GT39
# display the columns, and name the df as df_1995_cycles
df_1995_cycles = df_1995[['Number_Cycles_LT35', 'Number_Cycles_35to39', 'Number_Cycles_GT39', 'Num_Transfer_LT35', 'Num_Transfer_35to39', 'Num_Transfer_GT39', 'Num_Fresh_TX_LT35', 'Num_Fresh_TX_35to39', 'Num_Fresh_TX_GT39']]
df_1995_cycles

,Number_Cycles_LT35,Number_Cycles_35to39,Number_Cycles_GT39,Num_Transfer_LT35,Num_Transfer_35to39,Num_Transfer_GT39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [16]:
# rename the columns
# Number_Cycles_LT35 -> fresh_non_<35, Number_Cycles_35to39 -> fresh_non_35-39, Number_Cycles_GT39 -> fresh_non_>39

df_1995_cycles = df_1995_cycles.rename(columns={'Number_Cycles_LT35': 'fresh_non_<35', 'Number_Cycles_35to39': 'fresh_non_35-39', 'Number_Cycles_GT39': 'fresh_non_>39'})
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,Num_Transfer_LT35,Num_Transfer_35to39,Num_Transfer_GT39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [17]:
# rename: Num_Transfer_LT35 -> frozen_non_<35, Num_Transfer_35to39 -> frozen_non_35-39, Num_Transfer_GT39 -> frozen_non_>39
df_1995_cycles = df_1995_cycles.rename(columns={'Num_Transfer_LT35': 'frozen_non_<35', 'Num_Transfer_35to39': 'frozen_non_35-39', 'Num_Transfer_GT39': 'frozen_non_>39'})
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [18]:
# rename: Num_Fresh_TX_LT35	Num_Fresh_TX_35to39	Num_Fresh_TX_GT39
df_1995_cycles = df_1995_cycles.rename(columns={'Num_Fresh_TX_LT35': 'fresh_donor_<35', 'Num_Fresh_TX_35to39': 'fresh_donor_35-39', 'Num_Fresh_TX_GT39': 'fresh_donor_>39'})
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [20]:
# turn all data into numeric
df_1995_cycles = df_1995_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_1995_cycles = df_1995_cycles.astype(int)
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39
0,160,66,10,11,5,0,2,2,2
1,73,39,21,1,1,0,1,0,1
2,30,17,8,5,1,0,0,0,0
3,37,27,13,14,10,1,0,1,1
4,22,18,16,27,7,2,0,1,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1
259,128,99,30,62,36,16,2,8,7
260,14,19,9,15,6,4,0,0,0
261,20,16,3,5,9,1,0,0,0
262,7,5,3,0,2,0,0,0,0

In [22]:
# add the state column from the original df_1995
df_1995_cycles['State'] = df_1995['Clinic_State']
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,State
0,160,66,10,11,5,0,2,2,2,ALABAMA
1,73,39,21,1,1,0,1,0,1,ALABAMA
2,30,17,8,5,1,0,0,0,0,ALABAMA
3,37,27,13,14,10,1,0,1,1,ARIZONA
4,22,18,16,27,7,2,0,1,5,ARIZONA
...,...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1,WISCONSIN
259,128,99,30,62,36,16,2,8,7,WISCONSIN
260,14,19,9,15,6,4,0,0,0,WISCONSIN
261,20,16,3,5,9,1,0,0,0,WISCONSIN
262,7,5,3,0,2,0,0,0,0,WISCONSIN

### Caculate total cycles & donor cycles

In [23]:
# add a column "total cycles" by summing all numeric columns
df_1995_cycles['total_cycles'] = df_1995_cycles.iloc[:, 0:9].sum(axis=1)
df_1995_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,State,total_cycles
0,160,66,10,11,5,0,2,2,2,ALABAMA,258
1,73,39,21,1,1,0,1,0,1,ALABAMA,137
2,30,17,8,5,1,0,0,0,0,ALABAMA,61
3,37,27,13,14,10,1,0,1,1,ARIZONA,104
4,22,18,16,27,7,2,0,1,5,ARIZONA,98
...,...,...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1,WISCONSIN,73
259,128,99,30,62,36,16,2,8,7,WISCONSIN,388
260,14,19,9,15,6,4,0,0,0,WISCONSIN,67
261,20,16,3,5,9,1,0,0,0,WISCONSIN,54
262,7,5,3,0,2,0,0,0,0,WISCONSIN,17

In [24]:
# group by state
df_1995_cycles_by_state = df_1995_cycles.groupby('State').sum()
df_1995_cycles_by_state

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,total_cycles
State,,,,,,,,,,
ALABAMA,263,122,39,17,7,0,3,2,3,456
ARIZONA,258,196,94,68,24,9,6,9,31,695
ARKANSAS,89,40,20,38,6,2,3,0,3,201
CALIFORNIA,1787,1981,1321,367,330,282,73,139,574,6854
COLORADO,333,341,161,57,37,10,7,37,91,1074
CONNECTICUT,228,195,70,25,14,18,11,10,37,608
D.C.,164,195,137,13,6,4,6,4,27,556
DELAWARE,96,72,42,22,9,3,3,4,7,258
FLORIDA,759,577,220,102,57,18,12,16,74,1835
GEORGIA,481,319,176,101,73,36,15,15,39,1255
HAWAII,77,111,70,23,16,5,0,0,0,302
ILLINOIS,1536,1068,543,319,173,54,28,33,63,3817
INDIANA,575,348,151,67,42,13,16,14,23,1249
IOWA,244,180,46,122,60,16,4,9,16,697
KANSAS,270,185,49,51,38,12,8,4,24,641
KENTUCKY,103,71,35,18,4,1,0,1,4,237
LOUISIANA,175,121,61,12,10,5,3,7,7,401
MARYLAND,732,567,340,165,103,34,10,10,30,1991
MASSACHUSETTS,2113,1704,1356,378,263,183,39,73,153,6262
MICHIGAN,837,549,225,117,55,17,14,14,59,1887
MINNESOTA,433,293,87,80,58,20,15,8,42,1036
MISSISSIPPI,66,32,19,0,0,0,1,2,2,122
MISSOURI,238,188,58,29,16,1,3,10,23,566
NEBRASKA,205,97,42,15,7,0,5,6,15,392
NEVADA,110,72,44,5,1,0,2,3,13,250
NEW HAMPSHIRE,10,10,1,5,1,0,0,0,0,27
NEW JERSEY,884,685,403,325,168,64,26,20,96,2671
NEW MEXICO,33,38,30,4,2,1,0,3,4,115
NEW YORK,1584,1542,841,228,190,62,26,35,159,4667
NORTH CAROLINA,304,234,42,32,26,8,23,22,70,761
OHIO,828,554,186,224,128,44,48,39,83,2134
OKLAHOMA,136,90,19,21,13,7,0,1,4,291
OREGON,104,118,30,41,47,8,14,18,26,406
PENNSYLVANIA,1085,803,327,179,93,44,23,25,63,2642
PUERTO RICO,83,70,43,4,1,0,2,1,8,212
RHODE ISLAND,209,161,64,29,23,12,3,4,3,508
SOUTH CAROLINA,154,86,27,12,8,2,0,3,10,302
SOUTH DAKOTA,5,8,0,0,0,0,0,0,0,13
TENNESSEE,273,147,41,33,15,6,9,7,22,553
TEXAS,946,669,289,204,125,44,22,18,70,2387
UTAH,78,47,11,1,4,6,1,4,6,158
VERMONT,22,19,10,1,3,1,0,0,0,56
VIRGINIA,354,308,108,101,73,21,17,25,58,1065
WASHINGTON,308,303,136,42,46,17,8,12,61,933
WEST VIRGINIA,42,21,14,5,3,1,1,0,0,87
WISCONSIN,269,200,53,101,63,21,4,9,8,728

In [26]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_1995 = df_1995_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 1995: {total_cycles_1995}')

Total number of cycles in 1995: 54358

In [27]:
# in df_1995_cycles_by_state, group [fresh_non_<35	fresh_non_35-39	fresh_non_>39	frozen_non_<35	frozen_non_35-39	frozen_non_>39] into a new column "total_cycles_non_donor"
df_1995_cycles_by_state['total_cycles_non_donor'] = df_1995_cycles_by_state['fresh_non_<35'] + df_1995_cycles_by_state['fresh_non_35-39'] + df_1995_cycles_by_state['fresh_non_>39'] + df_1995_cycles_by_state['frozen_non_<35'] + df_1995_cycles_by_state['frozen_non_35-39'] + df_1995_cycles_by_state['frozen_non_>39']
# group [fresh_donor_<35	fresh_donor_35-39	fresh_donor_>39] into a new column "total_cycles_donor"
df_1995_cycles_by_state['total_cycles_donor'] = df_1995_cycles_by_state['fresh_donor_<35'] + df_1995_cycles_by_state['fresh_donor_35-39'] + df_1995_cycles_by_state['fresh_donor_>39']
df_1995_cycles_by_state

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,
ALABAMA,263,122,39,17,7,0,3,2,3,456,448,8
ARIZONA,258,196,94,68,24,9,6,9,31,695,649,46
ARKANSAS,89,40,20,38,6,2,3,0,3,201,195,6
CALIFORNIA,1787,1981,1321,367,330,282,73,139,574,6854,6068,786
COLORADO,333,341,161,57,37,10,7,37,91,1074,939,135
CONNECTICUT,228,195,70,25,14,18,11,10,37,608,550,58
D.C.,164,195,137,13,6,4,6,4,27,556,519,37
DELAWARE,96,72,42,22,9,3,3,4,7,258,244,14
FLORIDA,759,577,220,102,57,18,12,16,74,1835,1733,102
GEORGIA,481,319,176,101,73,36,15,15,39,1255,1186,69
HAWAII,77,111,70,23,16,5,0,0,0,302,302,0
ILLINOIS,1536,1068,543,319,173,54,28,33,63,3817,3693,124
INDIANA,575,348,151,67,42,13,16,14,23,1249,1196,53
IOWA,244,180,46,122,60,16,4,9,16,697,668,29
KANSAS,270,185,49,51,38,12,8,4,24,641,605,36
KENTUCKY,103,71,35,18,4,1,0,1,4,237,232,5
LOUISIANA,175,121,61,12,10,5,3,7,7,401,384,17
MARYLAND,732,567,340,165,103,34,10,10,30,1991,1941,50
MASSACHUSETTS,2113,1704,1356,378,263,183,39,73,153,6262,5997,265
MICHIGAN,837,549,225,117,55,17,14,14,59,1887,1800,87
MINNESOTA,433,293,87,80,58,20,15,8,42,1036,971,65
MISSISSIPPI,66,32,19,0,0,0,1,2,2,122,117,5
MISSOURI,238,188,58,29,16,1,3,10,23,566,530,36
NEBRASKA,205,97,42,15,7,0,5,6,15,392,366,26
NEVADA,110,72,44,5,1,0,2,3,13,250,232,18
NEW HAMPSHIRE,10,10,1,5,1,0,0,0,0,27,27,0
NEW JERSEY,884,685,403,325,168,64,26,20,96,2671,2529,142
NEW MEXICO,33,38,30,4,2,1,0,3,4,115,108,7
NEW YORK,1584,1542,841,228,190,62,26,35,159,4667,4447,220
NORTH CAROLINA,304,234,42,32,26,8,23,22,70,761,646,115
OHIO,828,554,186,224,128,44,48,39,83,2134,1964,170
OKLAHOMA,136,90,19,21,13,7,0,1,4,291,286,5
OREGON,104,118,30,41,47,8,14,18,26,406,348,58
PENNSYLVANIA,1085,803,327,179,93,44,23,25,63,2642,2531,111
PUERTO RICO,83,70,43,4,1,0,2,1,8,212,201,11
RHODE ISLAND,209,161,64,29,23,12,3,4,3,508,498,10
SOUTH CAROLINA,154,86,27,12,8,2,0,3,10,302,289,13
SOUTH DAKOTA,5,8,0,0,0,0,0,0,0,13,13,0
TENNESSEE,273,147,41,33,15,6,9,7,22,553,515,38
TEXAS,946,669,289,204,125,44,22,18,70,2387,2277,110
UTAH,78,47,11,1,4,6,1,4,6,158,147,11
VERMONT,22,19,10,1,3,1,0,0,0,56,56,0
VIRGINIA,354,308,108,101,73,21,17,25,58,1065,965,100
WASHINGTON,308,303,136,42,46,17,8,12,61,933,852,81
WEST VIRGINIA,42,21,14,5,3,1,1,0,0,87,86,1
WISCONSIN,269,200,53,101,63,21,4,9,8,728,707,21

In [28]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_1995_cycles_by_state = df_1995_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_1995_cycles_by_state

                total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                  456                     448                   8
ARIZONA                  695                     649                  46
ARKANSAS                 201                     195                   6
CALIFORNIA              6854                    6068                 786
COLORADO                1074                     939                 135
CONNECTICUT              608                     550                  58
D.C.                     556                     519                  37
DELAWARE                 258                     244                  14
FLORIDA                 1835                    1733                 102
GEORGIA                 1255                    1186                  69
HAWAII                   302                     302                   0
ILLINOIS                3817                    3693                 124
INDIANA                 1249                    1196                  53
IOWA                     697                     668                  29
KANSAS                   641                     605                  36
KENTUCKY                 237                     232                   5
LOUISIANA                401                     384                  17
MARYLAND                1991                    1941                  50
MASSACHUSETTS           6262                    5997                 265
MICHIGAN                1887                    1800                  87
MINNESOTA               1036                     971                  65
MISSISSIPPI              122                     117                   5
MISSOURI                 566                     530                  36
NEBRASKA                 392                     366                  26
NEVADA                   250                     232                  18
NEW HAMPSHIRE             27                      27                   0
NEW JERSEY              2671                    2529                 142
NEW MEXICO               115                     108                   7
NEW YORK                4667                    4447                 220
NORTH CAROLINA           761                     646                 115
OHIO                    2134                    1964                 170
OKLAHOMA                 291                     286                   5
OREGON                   406                     348                  58
PENNSYLVANIA            2642                    2531                 111
PUERTO RICO              212                     201                  11
RHODE ISLAND             508                     498                  10
SOUTH CAROLINA           302                     289                  13
SOUTH DAKOTA              13                      13                   0
TENNESSEE                553                     515                  38
TEXAS                   2387                    2277                 110
UTAH                     158                     147                  11
VERMONT                   56                      56                   0
VIRGINIA                1065                     965                 100
WASHINGTON               933                     852                  81
WEST VIRGINIA             87                      86                   1
WISCONSIN                728                     707                  21

In [29]:
# add a row called "National" to the df_1995_cycles_by_state, which is the sum of all states
df_1995_cycles_by_state.loc['National'] = df_1995_cycles_by_state.sum()
df_1995_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/749796429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1995_cycles_by_state.loc['National'] = df_1995_cycles_by_state.sum()

                total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                  456                     448                   8
ARIZONA                  695                     649                  46
ARKANSAS                 201                     195                   6
CALIFORNIA              6854                    6068                 786
COLORADO                1074                     939                 135
CONNECTICUT              608                     550                  58
D.C.                     556                     519                  37
DELAWARE                 258                     244                  14
FLORIDA                 1835                    1733                 102
GEORGIA                 1255                    1186                  69
HAWAII                   302                     302                   0
ILLINOIS                3817                    3693                 124
INDIANA                 1249                    1196                  53
IOWA                     697                     668                  29
KANSAS                   641                     605                  36
KENTUCKY                 237                     232                   5
LOUISIANA                401                     384                  17
MARYLAND                1991                    1941                  50
MASSACHUSETTS           6262                    5997                 265
MICHIGAN                1887                    1800                  87
MINNESOTA               1036                     971                  65
MISSISSIPPI              122                     117                   5
MISSOURI                 566                     530                  36
NEBRASKA                 392                     366                  26
NEVADA                   250                     232                  18
NEW HAMPSHIRE             27                      27                   0
NEW JERSEY              2671                    2529                 142
NEW MEXICO               115                     108                   7
NEW YORK                4667                    4447                 220
NORTH CAROLINA           761                     646                 115
OHIO                    2134                    1964                 170
OKLAHOMA                 291                     286                   5
OREGON                   406                     348                  58
PENNSYLVANIA            2642                    2531                 111
PUERTO RICO              212                     201                  11
RHODE ISLAND             508                     498                  10
SOUTH CAROLINA           302                     289                  13
SOUTH DAKOTA              13                      13                   0
TENNESSEE                553                     515                  38
TEXAS                   2387                    2277                 110
UTAH                     158                     147                  11
VERMONT                   56                      56                   0
VIRGINIA                1065                     965                 100
WASHINGTON               933                     852                  81
WEST VIRGINIA             87                      86                   1
WISCONSIN                728                     707                  21
National               54358                   51057                3301

In [30]:
# save this data frame to a csv file in the folder "Output", named "1995_cycles_by_state.csv"
df_1995_cycles_by_state.to_csv("Output/1995_cycles_by_state.csv")

## 1996 data

In [38]:
# read excel "clinic_tables_data_1996"
df_1996 = pd.read_excel("Input/clinic_tables_data_1996.xls", sheet_name="1996 Clinic Tables Data", header=0)
df_1996

,ClinName,ClinCityCode,ClinStateCode,SART,Single,Gest,Donor,Share,IVF_Rate,GIFT_Rate,...,FdLvTr40,CdTr30,CdTr35,CdTr40,CdLvTr30,CdLvTr35,CdLvTr40,FdCdEms30,FdCdEms35,FdCdEms40
0,CENTER FOR REPRODUCTIVE MEDICINE,MOBILE,ALABAMA,Yes,Yes,No,Yes,No,100%,0%,...,NaN,0,0,0,NaN,NaN,NaN,4.0,NaN,NaN
1,UNIVERSITY OF SOUTH ALABAMA,MOBILE,ALABAMA,Yes,No,No,Yes,No,96%,<1%,...,0/1,0,0,0,NaN,NaN,NaN,NaN,NaN,6.0
2,UNIVERSITY OF ALABAMA AT BIRMINGHAM,BIRMINGHAM,ALABAMA,Yes,Yes,No,Yes,No,65%,35%,...,NaN,0,0,0,NaN,NaN,NaN,NaN,6.0,NaN
3,"HONEA, HOUSERMAN & LONG, P.C.",BIRMINGHAM,ALABAMA,Yes,No,No,Yes,No,93%,6%,...,0/1,0,1,1,NaN,0/1,0/1,3.0,5.0,3.5
4,"ARIZONA INSTITUTE OF REPRODUCTIVE MEDICINE, LTD.",PHOENIX,ARIZONA,Yes,Yes,Yes,Yes,No,100%,0%,...,0/5,3,2,5,2/3,1/2,1/5,3.3,4.0,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,THE FERTILITY CENTER AT SAINT CLAIR HOSPITAL,PITTSBURGH,PENNSYLVANIA,Yes,Yes,No,Yes,No,86%,<1%,...,NaN,0,0,0,NaN,NaN,NaN,4.0,NaN,NaN
298,FAULKNER CENTER FOR REPRODUCTIVE MEDICINE,BOSTON,MASSACHUSETTS,Yes,No,Yes,Yes,Yes,100%,0%,...,4/17,1,0,1,0/1,NaN,0/1,3.8,3.0,2.8
299,NORTHERN FERTILITY AND REPRODUCTIVE ASSOCIATES,MEADOWBROOK,PENNSYLVANIA,Yes,Yes,Yes,Yes,No,93%,6%,...,0/3,0,1,1,NaN,1/1,1/1,NaN,2.5,4.3
300,CENTER FOR ADVANCED REPRODUCTION,PARK RIDGE,ILLINOIS,Yes,Yes,No,Yes,No,99%,<1%,...,3/11,7,4,13,1/7,2/4,5/13,4.2,3.7,4.0
301,TOLL CENTER FOR REPRODUCTIVE SCIENCES,ABINGTON,PENNSYLVANIA,Yes,Yes,Yes,Yes,No,93%,6%,...,0/3,0,1,1,NaN,1/1,1/1,NaN,2.5,4.3

In [39]:
df_1996_cycles = df_1995[['Number_Cycles_LT35', 'Number_Cycles_35to39', 'Number_Cycles_GT39', 'Num_Transfer_LT35', 'Num_Transfer_35to39', 'Num_Transfer_GT39', 'Num_Fresh_TX_LT35', 'Num_Fresh_TX_35to39', 'Num_Fresh_TX_GT39']]
df_1996_cycles

,Number_Cycles_LT35,Number_Cycles_35to39,Number_Cycles_GT39,Num_Transfer_LT35,Num_Transfer_35to39,Num_Transfer_GT39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [40]:
df_1996_cycles = df_1996_cycles.rename(columns={'Number_Cycles_LT35': 'fresh_non_<35', 'Number_Cycles_35to39': 'fresh_non_35-39', 'Number_Cycles_GT39': 'fresh_non_>39'})
df_1996_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,Num_Transfer_LT35,Num_Transfer_35to39,Num_Transfer_GT39,Num_Fresh_TX_LT35,Num_Fresh_TX_35to39,Num_Fresh_TX_GT39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [41]:
df_1996_cycles = df_1996_cycles.rename(columns={'Num_Transfer_LT35': 'frozen_non_<35', 'Num_Transfer_35to39': 'frozen_non_35-39', 'Num_Transfer_GT39': 'frozen_non_>39'})
df_1996_cycles = df_1996_cycles.rename(columns={'Num_Fresh_TX_LT35': 'fresh_donor_<35', 'Num_Fresh_TX_35to39': 'fresh_donor_35-39', 'Num_Fresh_TX_GT39': 'fresh_donor_>39'})

df_1996_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39
0,160,66,10,11,5,0,2,2.0,2
1,73,39,21,1,1,0,1,0.0,1
2,30,17,8,5,1,0,0,0.0,0
3,37,27,13,14,10,1,0,1.0,1
4,22,18,16,27,7,2,0,1.0,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0.0,1
259,128,99,30,62,36,16,2,8.0,7
260,14,19,9,15,6,4,0,0.0,0
261,20,16,3,5,9,1,0,0.0,0
262,7,5,3,0,2,0,0,0.0,0

In [43]:
# turn all data into numeric
df_1996_cycles = df_1996_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_1996_cycles = df_1996_cycles.astype(int)
df_1996_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39
0,160,66,10,11,5,0,2,2,2
1,73,39,21,1,1,0,1,0,1
2,30,17,8,5,1,0,0,0,0
3,37,27,13,14,10,1,0,1,1
4,22,18,16,27,7,2,0,1,5
...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1
259,128,99,30,62,36,16,2,8,7
260,14,19,9,15,6,4,0,0,0
261,20,16,3,5,9,1,0,0,0
262,7,5,3,0,2,0,0,0,0

In [44]:
# add the state column from the original df_1995
df_1996_cycles['State'] = df_1996['ClinStateCode']
df_1996_cycles

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,State
0,160,66,10,11,5,0,2,2,2,ALABAMA
1,73,39,21,1,1,0,1,0,1,ALABAMA
2,30,17,8,5,1,0,0,0,0,ALABAMA
3,37,27,13,14,10,1,0,1,1,ALABAMA
4,22,18,16,27,7,2,0,1,5,ARIZONA
...,...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1,WASHINGTON
259,128,99,30,62,36,16,2,8,7,WASHINGTON
260,14,19,9,15,6,4,0,0,0,WISCONSIN
261,20,16,3,5,9,1,0,0,0,MASSACHUSETTS
262,7,5,3,0,2,0,0,0,0,WASHINGTON

### Calculate total cycles and donor cycles

In [45]:
# add a column "total cycles" by summing all numeric columns
df_1996_cycles['total_cycles'] = df_1996_cycles.iloc[:, 0:9].sum(axis=1)

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,State,total_cycles
0,160,66,10,11,5,0,2,2,2,ALABAMA,258
1,73,39,21,1,1,0,1,0,1,ALABAMA,137
2,30,17,8,5,1,0,0,0,0,ALABAMA,61
3,37,27,13,14,10,1,0,1,1,ALABAMA,104
4,22,18,16,27,7,2,0,1,5,ARIZONA,98
...,...,...,...,...,...,...,...,...,...,...,...
258,31,17,3,13,8,0,0,0,1,WASHINGTON,73
259,128,99,30,62,36,16,2,8,7,WASHINGTON,388
260,14,19,9,15,6,4,0,0,0,WISCONSIN,67
261,20,16,3,5,9,1,0,0,0,MASSACHUSETTS,54
262,7,5,3,0,2,0,0,0,0,WASHINGTON,17

In [46]:
# group by state
df_1996_cycles_by_state = df_1996_cycles.groupby('State').sum()
df_1996_cycles_by_state

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,total_cycles
State,,,,,,,,,,
ALABAMA,300,149,52,31,17,1,3,3,4,560
ARIZONA,310,209,101,92,20,10,9,8,33,792
ARKANSAS,41,64,41,3,6,7,5,6,48,221
CALIFORNIA,2065,2252,1435,416,359,285,75,170,617,7674
COLORADO,406,396,213,43,22,22,17,14,64,1197
CONNECTICUT,201,128,66,38,21,4,3,7,10,478
DISTRICT OF COLUMBIA,74,43,8,9,6,2,3,3,14,162
FLORIDA,1841,1439,662,382,223,82,36,43,121,4829
GEORGIA,169,137,85,16,13,5,2,7,17,451
HAWAII,136,62,43,53,39,14,8,5,13,373
ILLINOIS,1380,891,405,273,133,39,26,27,54,3228
INDIANA,317,224,77,37,34,13,9,12,30,753
IOWA,308,265,173,112,86,25,4,3,10,986
KANSAS,363,263,148,50,14,8,4,4,12,866
KENTUCKY,263,265,142,17,10,5,8,8,19,737
LOUISIANA,1022,749,791,220,153,141,25,39,64,3204
MARYLAND,1043,842,481,155,103,40,8,29,82,2783
MASSACHUSETTS,460,287,121,78,35,11,5,8,25,1030
MICHIGAN,919,639,213,139,100,25,26,23,89,2173
MINNESOTA,283,143,67,20,8,0,6,8,23,558
MISSISSIPPI,32,26,19,0,0,0,1,1,5,84
MISSOURI,611,471,257,285,144,45,13,7,30,1863
NEBRASKA,169,115,98,7,9,6,4,2,8,418
NEVADA,194,160,69,58,29,15,12,11,63,611
NEW HAMPSHIRE,46,26,5,0,1,0,0,0,0,78
NEW JERSEY,337,343,141,66,51,14,1,11,28,992
NEW MEXICO,257,213,102,27,18,8,9,9,41,684
NEW YORK,1625,1458,740,257,180,55,51,56,191,4613
NORTH CAROLINA,417,313,107,118,71,17,30,11,33,1117
NORTH DAKOTA,26,20,4,9,6,2,0,0,2,69
OHIO,589,404,112,114,101,27,19,33,40,1439
OKLAHOMA,100,58,40,35,10,8,4,5,14,274
OREGON,88,77,30,15,8,6,3,1,1,229
PENNSYLVANIA,1089,816,335,135,86,51,22,25,80,2639
PUERTO RICO,16,15,1,0,0,0,0,0,0,32
SOUTH CAROLINA,32,16,1,3,4,1,1,0,4,62
SOUTH DAKOTA,26,15,6,3,0,0,0,0,0,50
TENNESSEE,586,369,129,66,37,16,15,10,35,1263
TEXAS,1098,855,339,276,181,64,34,45,118,3010
UTAH,41,18,4,1,0,0,0,0,1,65
VERMONT,62,43,30,37,37,12,0,0,3,224
VIRGINIA,359,314,143,17,14,6,10,14,57,934
WASHINGTON,168,126,36,75,46,16,3,8,8,486
WISCONSIN,14,19,9,15,6,4,0,0,0,67

In [49]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_1996 = df_1996_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 1996: {total_cycles_1996}')

Total number of cycles in 1996: 54358

In [51]:
# in df_1996_cycles_by_state, group [fresh_non_<35	fresh_non_35-39	fresh_non_>39	frozen_non_<35	frozen_non_35-39	frozen_non_>39] into a new column "total_cycles_non_donor"
df_1996_cycles_by_state['total_cycles_non_donor'] = df_1996_cycles_by_state['fresh_non_<35'] + df_1996_cycles_by_state['fresh_non_35-39'] + df_1996_cycles_by_state['fresh_non_>39'] + df_1996_cycles_by_state['frozen_non_<35'] + df_1996_cycles_by_state['frozen_non_35-39'] + df_1996_cycles_by_state['frozen_non_>39']
# group [fresh_donor_<35	fresh_donor_35-39	fresh_donor_>39] into a new column "total_cycles_donor"
df_1996_cycles_by_state['total_cycles_donor'] = df_1996_cycles_by_state['fresh_donor_<35'] + df_1996_cycles_by_state['fresh_donor_35-39'] + df_1996_cycles_by_state['fresh_donor_>39']
df_1996_cycles_by_state

,fresh_non_<35,fresh_non_35-39,fresh_non_>39,frozen_non_<35,frozen_non_35-39,frozen_non_>39,fresh_donor_<35,fresh_donor_35-39,fresh_donor_>39,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,
ALABAMA,300,149,52,31,17,1,3,3,4,560,550,10
ARIZONA,310,209,101,92,20,10,9,8,33,792,742,50
ARKANSAS,41,64,41,3,6,7,5,6,48,221,162,59
CALIFORNIA,2065,2252,1435,416,359,285,75,170,617,7674,6812,862
COLORADO,406,396,213,43,22,22,17,14,64,1197,1102,95
CONNECTICUT,201,128,66,38,21,4,3,7,10,478,458,20
DISTRICT OF COLUMBIA,74,43,8,9,6,2,3,3,14,162,142,20
FLORIDA,1841,1439,662,382,223,82,36,43,121,4829,4629,200
GEORGIA,169,137,85,16,13,5,2,7,17,451,425,26
HAWAII,136,62,43,53,39,14,8,5,13,373,347,26
ILLINOIS,1380,891,405,273,133,39,26,27,54,3228,3121,107
INDIANA,317,224,77,37,34,13,9,12,30,753,702,51
IOWA,308,265,173,112,86,25,4,3,10,986,969,17
KANSAS,363,263,148,50,14,8,4,4,12,866,846,20
KENTUCKY,263,265,142,17,10,5,8,8,19,737,702,35
LOUISIANA,1022,749,791,220,153,141,25,39,64,3204,3076,128
MARYLAND,1043,842,481,155,103,40,8,29,82,2783,2664,119
MASSACHUSETTS,460,287,121,78,35,11,5,8,25,1030,992,38
MICHIGAN,919,639,213,139,100,25,26,23,89,2173,2035,138
MINNESOTA,283,143,67,20,8,0,6,8,23,558,521,37
MISSISSIPPI,32,26,19,0,0,0,1,1,5,84,77,7
MISSOURI,611,471,257,285,144,45,13,7,30,1863,1813,50
NEBRASKA,169,115,98,7,9,6,4,2,8,418,404,14
NEVADA,194,160,69,58,29,15,12,11,63,611,525,86
NEW HAMPSHIRE,46,26,5,0,1,0,0,0,0,78,78,0
NEW JERSEY,337,343,141,66,51,14,1,11,28,992,952,40
NEW MEXICO,257,213,102,27,18,8,9,9,41,684,625,59
NEW YORK,1625,1458,740,257,180,55,51,56,191,4613,4315,298
NORTH CAROLINA,417,313,107,118,71,17,30,11,33,1117,1043,74
NORTH DAKOTA,26,20,4,9,6,2,0,0,2,69,67,2
OHIO,589,404,112,114,101,27,19,33,40,1439,1347,92
OKLAHOMA,100,58,40,35,10,8,4,5,14,274,251,23
OREGON,88,77,30,15,8,6,3,1,1,229,224,5
PENNSYLVANIA,1089,816,335,135,86,51,22,25,80,2639,2512,127
PUERTO RICO,16,15,1,0,0,0,0,0,0,32,32,0
SOUTH CAROLINA,32,16,1,3,4,1,1,0,4,62,57,5
SOUTH DAKOTA,26,15,6,3,0,0,0,0,0,50,50,0
TENNESSEE,586,369,129,66,37,16,15,10,35,1263,1203,60
TEXAS,1098,855,339,276,181,64,34,45,118,3010,2813,197
UTAH,41,18,4,1,0,0,0,0,1,65,64,1
VERMONT,62,43,30,37,37,12,0,0,3,224,221,3
VIRGINIA,359,314,143,17,14,6,10,14,57,934,853,81
WASHINGTON,168,126,36,75,46,16,3,8,8,486,467,19
WISCONSIN,14,19,9,15,6,4,0,0,0,67,67,0

In [52]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_1996_cycles_by_state = df_1996_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_1996_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        560                     550                  10
ARIZONA                        792                     742                  50
ARKANSAS                       221                     162                  59
CALIFORNIA                    7674                    6812                 862
COLORADO                      1197                    1102                  95
CONNECTICUT                    478                     458                  20
DISTRICT OF COLUMBIA           162                     142                  20
FLORIDA                       4829                    4629                 200
GEORGIA                        451                     425                  26
HAWAII                         373                     347                  26
ILLINOIS                      3228                    3121                 107
INDIANA                        753                     702                  51
IOWA                           986                     969                  17
KANSAS                         866                     846                  20
KENTUCKY                       737                     702                  35
LOUISIANA                     3204                    3076                 128
MARYLAND                      2783                    2664                 119
MASSACHUSETTS                 1030                     992                  38
MICHIGAN                      2173                    2035                 138
MINNESOTA                      558                     521                  37
MISSISSIPPI                     84                      77                   7
MISSOURI                      1863                    1813                  50
NEBRASKA                       418                     404                  14
NEVADA                         611                     525                  86
NEW HAMPSHIRE                   78                      78                   0
NEW JERSEY                     992                     952                  40
NEW MEXICO                     684                     625                  59
NEW YORK                      4613                    4315                 298
NORTH CAROLINA                1117                    1043                  74
NORTH DAKOTA                    69                      67                   2
OHIO                          1439                    1347                  92
OKLAHOMA                       274                     251                  23
OREGON                         229                     224                   5
PENNSYLVANIA                  2639                    2512                 127
PUERTO RICO                     32                      32                   0
SOUTH CAROLINA                  62                      57                   5
SOUTH DAKOTA                    50                      50                   0
TENNESSEE                     1263                    1203                  60
TEXAS                         3010                    2813                 197
UTAH                            65                      64                   1
VERMONT                        224                     221                   3
VIRGINIA                       934                     853                  81
WASHINGTON                     486                     467                  19
WISCONSIN                       67                      67                   0

In [53]:
# add a row called "National" to the df_1996_cycles_by_state, which is the sum of all states
df_1996_cycles_by_state.loc['National'] = df_1996_cycles_by_state.sum()
df_1996_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/2886736004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1996_cycles_by_state.loc['National'] = df_1996_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        560                     550                  10
ARIZONA                        792                     742                  50
ARKANSAS                       221                     162                  59
CALIFORNIA                    7674                    6812                 862
COLORADO                      1197                    1102                  95
CONNECTICUT                    478                     458                  20
DISTRICT OF COLUMBIA           162                     142                  20
FLORIDA                       4829                    4629                 200
GEORGIA                        451                     425                  26
HAWAII                         373                     347                  26
ILLINOIS                      3228                    3121                 107
INDIANA                        753                     702                  51
IOWA                           986                     969                  17
KANSAS                         866                     846                  20
KENTUCKY                       737                     702                  35
LOUISIANA                     3204                    3076                 128
MARYLAND                      2783                    2664                 119
MASSACHUSETTS                 1030                     992                  38
MICHIGAN                      2173                    2035                 138
MINNESOTA                      558                     521                  37
MISSISSIPPI                     84                      77                   7
MISSOURI                      1863                    1813                  50
NEBRASKA                       418                     404                  14
NEVADA                         611                     525                  86
NEW HAMPSHIRE                   78                      78                   0
NEW JERSEY                     992                     952                  40
NEW MEXICO                     684                     625                  59
NEW YORK                      4613                    4315                 298
NORTH CAROLINA                1117                    1043                  74
NORTH DAKOTA                    69                      67                   2
OHIO                          1439                    1347                  92
OKLAHOMA                       274                     251                  23
OREGON                         229                     224                   5
PENNSYLVANIA                  2639                    2512                 127
PUERTO RICO                     32                      32                   0
SOUTH CAROLINA                  62                      57                   5
SOUTH DAKOTA                    50                      50                   0
TENNESSEE                     1263                    1203                  60
TEXAS                         3010                    2813                 197
UTAH                            65                      64                   1
VERMONT                        224                     221                   3
VIRGINIA                       934                     853                  81
WASHINGTON                     486                     467                  19
WISCONSIN                       67                      67                   0
National                     54358                   51057                3301

In [54]:
# save to csv in the "Output" folder as "1996_cycles_by_state.csv"
df_1996_cycles_by_state.to_csv("Output/1996_cycles_by_state.csv")

## 2000 data

In [31]:
# read excel "clinic_tables_data_2000"
df_2000 = pd.read_excel("Input/clinic_tables_data_2000.xls", sheet_name="2000 Clinic Tables Data", header=0)
df_2000

,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,GIFT_Rate,ZIFT_Rate,Combo_Rate,ICSI_Rate,Unstimulated_Rate,...,FshDnrEmbryosRate,ThwDnrEmbryosRate,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation
0,ART PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,60%,0%,...,3.0,2.8,ART Program of Alabama,Yes,Yes,No,Yes,Yes,Yes,Yes
1,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,80%,20%,0%,0%,23%,<1%,...,4.6,NaN,University of Alabama at Birmingham,Yes,No,Yes,Yes,Yes,Yes,Yes
2,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,56%,<1%,...,3.0,3.0,Center for Reproductive Medicine,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,UNIVERSITY OF SOUTH ALABAMA IVF AND ART PROGRAM,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,100%,0%,...,NaN,NaN,University of South Alabama IVF and ART Program,Yes,No,No,Yes,Yes,Yes,Yes
4,FERTILITY TREATMENT CENTER,NaN,CHANDLER,ARIZONA,100%,0%,0%,0%,54%,0%,...,2.8,2.6,Fertility Treatment Center,Yes,Yes,Yes,Yes,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,GUNDERSEN/LUTHERAN MEDICAL CENTER,NaN,LA CROSSE,WISCONSIN,84%,16%,0%,0%,0%,0%,...,NaN,NaN,Gundersen/Lutheran Medical Center,No,No,No,No,No,Yes,Yes
379,UNIVERSITY OF WISCONSIN--MADISON,INFERTILITY AND WOMEN'S ENDOCRINE SERVICE,MADISON,WISCONSIN,>99%,0%,<1%,0%,59%,0%,...,2.1,2.5,"University of Wisconsin--Madison, Infertility ...",Yes,Yes,Yes,Yes,Yes,Yes,Yes
380,ADVANCED INSTITUTE OF FERTILITY,NaN,MILWAUKEE,WISCONSIN,>99%,0%,0%,<1%,50%,0%,...,3.0,2.4,Advanced Institute of Fertility,Yes,Yes,Yes,Yes,Yes,Yes,Yes
381,REPRODUCTIVE SPECIALTY CENTER,IVF COLUMBIA,MILWAUKEE,WISCONSIN,90%,9%,0%,1%,0%,0%,...,3.7,3.0,"Reproductive Specialty Center, IVF Columbia",Yes,Yes,Yes,Yes,Yes,Yes,Yes
382,"WOMEN'S HEALTH CARE, S.C.",NaN,WAUKESHA,WISCONSIN,100%,0%,0%,0%,50%,0%,...,2.0,3.0,"Women's Health Care, S.C.",Yes,Yes,Yes,No,Yes,Yes,Yes

In [56]:
# display the columns, and name the df as df_2000_cycles
# FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnr Transfers, ThwDnrTransfers

df_2000_cycles = df_2000[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2000_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,159,46,24,6,19,5,1,0,29,6
1,78,32,16,5,3,1,0,1,5,0
2,67,23,22,5,3,0,0,0,2,2
3,10,11,6,0,1,3,0,0,0,0
4,61,32,25,18,22,13,6,4,24,19
...,...,...,...,...,...,...,...,...,...,...
378,48,20,11,1,0,0,0,0,0,0
379,64,40,17,4,11,5,2,2,7,2
380,68,37,23,3,32,11,7,4,13,17
381,25,22,13,7,8,17,3,1,3,1
382,20,10,8,3,8,8,5,1,1,1

In [57]:
# turn all data into numeric
df_2000_cycles = df_2000_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2000_cycles = df_2000_cycles.astype(int)
df_2000_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,159,46,24,6,19,5,1,0,29,6
1,78,32,16,5,3,1,0,1,5,0
2,67,23,22,5,3,0,0,0,2,2
3,10,11,6,0,1,3,0,0,0,0
4,61,32,25,18,22,13,6,4,24,19
...,...,...,...,...,...,...,...,...,...,...
378,48,20,11,1,0,0,0,0,0,0
379,64,40,17,4,11,5,2,2,7,2
380,68,37,23,3,32,11,7,4,13,17
381,25,22,13,7,8,17,3,1,3,1
382,20,10,8,3,8,8,5,1,1,1

In [58]:
# add a "State" column from "ClinStateCode" from the df_2000 data frame
df_2000_cycles['State'] = df_2000['ClinStateCode']
df_2000_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,159,46,24,6,19,5,1,0,29,6,ALABAMA
1,78,32,16,5,3,1,0,1,5,0,ALABAMA
2,67,23,22,5,3,0,0,0,2,2,ALABAMA
3,10,11,6,0,1,3,0,0,0,0,ALABAMA
4,61,32,25,18,22,13,6,4,24,19,ARIZONA
...,...,...,...,...,...,...,...,...,...,...,...
378,48,20,11,1,0,0,0,0,0,0,WISCONSIN
379,64,40,17,4,11,5,2,2,7,2,WISCONSIN
380,68,37,23,3,32,11,7,4,13,17,WISCONSIN
381,25,22,13,7,8,17,3,1,3,1,WISCONSIN
382,20,10,8,3,8,8,5,1,1,1,WISCONSIN

In [59]:
# add a column "total cycles" by summing all numeric columns
df_2000_cycles['total_cycles'] = df_2000_cycles.iloc[:, 0:10].sum(axis=1)
df_2000_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,159,46,24,6,19,5,1,0,29,6,ALABAMA,295
1,78,32,16,5,3,1,0,1,5,0,ALABAMA,141
2,67,23,22,5,3,0,0,0,2,2,ALABAMA,124
3,10,11,6,0,1,3,0,0,0,0,ALABAMA,31
4,61,32,25,18,22,13,6,4,24,19,ARIZONA,224
...,...,...,...,...,...,...,...,...,...,...,...,...
378,48,20,11,1,0,0,0,0,0,0,WISCONSIN,80
379,64,40,17,4,11,5,2,2,7,2,WISCONSIN,154
380,68,37,23,3,32,11,7,4,13,17,WISCONSIN,215
381,25,22,13,7,8,17,3,1,3,1,WISCONSIN,100
382,20,10,8,3,8,8,5,1,1,1,WISCONSIN,65

In [60]:
# group by state
df_2000_cycles_by_state = df_2000_cycles.groupby('State').sum()
df_2000_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,314,112,68,16,26,9,1,1,36,8,591
ARIZONA,343,175,144,57,88,37,15,9,106,49,1023
ARKANSAS,130,45,28,8,38,12,3,0,8,4,276
CALIFORNIA,3243,2299,2309,1028,676,380,255,88,1421,579,12278
COLORADO,608,294,255,78,129,70,45,18,293,88,1878
CONNECTICUT,612,360,333,145,102,41,44,13,80,18,1748
DELAWARE,147,54,56,7,15,3,3,0,15,8,308
DISTRICT OF COLUMBIA,345,193,203,92,48,28,24,3,49,31,1016
FLORIDA,1621,776,672,223,204,83,52,15,356,61,4063
GEORGIA,667,397,274,99,140,74,39,5,188,59,1942
HAWAII,82,85,76,63,14,14,12,4,19,6,375
IDAHO,72,33,19,4,32,5,4,0,15,5,189
ILLINOIS,2883,1242,934,449,419,159,63,31,309,108,6597
INDIANA,860,290,229,108,204,86,62,9,66,16,1930
IOWA,327,128,74,41,75,27,14,2,28,21,737
KANSAS,397,148,117,42,57,20,11,9,40,3,844
KENTUCKY,239,89,48,14,22,12,6,0,13,2,445
LOUISIANA,361,117,94,38,17,6,8,3,11,0,655
MARYLAND,1189,653,592,214,239,89,49,29,159,25,3238
MASSACHUSETTS,2652,1647,1481,763,382,191,111,39,331,116,7713
MICHIGAN,1364,575,435,129,258,99,46,4,204,60,3174
MINNESOTA,757,366,253,75,204,100,46,9,148,87,2045
MISSISSIPPI,113,27,22,9,12,4,3,1,3,0,194
MISSOURI,473,211,196,57,39,23,10,1,50,20,1080
NEBRASKA,221,56,59,10,42,6,6,0,46,6,452
NEVADA,380,128,79,58,46,7,6,3,113,29,849
NEW HAMPSHIRE,47,27,16,12,17,6,2,0,1,4,132
NEW JERSEY,2000,1203,1004,439,371,197,125,48,462,218,6067
NEW MEXICO,54,32,35,7,10,5,6,2,23,9,183
NEW YORK,3184,1913,1712,878,706,312,204,94,616,174,9793
NORTH CAROLINA,654,272,205,39,84,30,22,6,130,21,1463
NORTH DAKOTA,62,14,6,2,4,3,0,0,1,1,93
OHIO,1013,418,312,83,231,91,63,12,141,106,2470
OKLAHOMA,221,100,66,9,42,17,6,2,24,20,507
OREGON,266,124,106,30,50,27,20,6,110,53,792
PENNSYLVANIA,1005,514,432,154,206,106,66,18,175,55,2731
PUERTO RICO,144,77,54,31,6,3,2,0,13,4,334
RHODE ISLAND,372,169,175,37,43,19,26,2,35,13,891
SOUTH CAROLINA,255,95,39,17,34,21,6,0,68,15,550
SOUTH DAKOTA,62,17,14,6,10,0,0,1,1,2,113
TENNESSEE,317,99,61,21,33,12,7,1,75,14,640
TEXAS,1885,887,808,296,373,149,81,21,339,115,4954
UTAH,183,69,46,26,45,13,4,2,37,7,432
VERMONT,31,19,14,2,3,6,0,0,3,3,81
VIRGINIA,512,291,224,78,89,57,27,8,158,73,1517
WASHINGTON,509,294,230,98,132,61,46,12,181,82,1645
WEST VIRGINIA,42,18,16,6,14,4,2,2,5,6,115
WISCONSIN,235,132,76,20,59,42,17,8,26,21,636

In [61]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2000 = df_2000_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2000: {total_cycles_2000}')

Total number of cycles in 2000: 91779

In [62]:
# in df_2000_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2000_cycles_by_state['total_cycles_non_donor'] = df_2000_cycles_by_state['FshNDCycle1'] + df_2000_cycles_by_state['FshNDCycle2'] + df_2000_cycles_by_state['FshNDCycle3'] + df_2000_cycles_by_state['FshNDCycle4'] + df_2000_cycles_by_state['ThwNDTransfers1'] + df_2000_cycles_by_state['ThwNDTransfers2'] + df_2000_cycles_by_state['ThwNDTransfers3'] + df_2000_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2000_cycles_by_state['total_cycles_donor'] = df_2000_cycles_by_state['FshDnrTransfers'] + df_2000_cycles_by_state['ThwDnrTransfers']
df_2000_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,314,112,68,16,26,9,1,1,36,8,591,547,44
ARIZONA,343,175,144,57,88,37,15,9,106,49,1023,868,155
ARKANSAS,130,45,28,8,38,12,3,0,8,4,276,264,12
CALIFORNIA,3243,2299,2309,1028,676,380,255,88,1421,579,12278,10278,2000
COLORADO,608,294,255,78,129,70,45,18,293,88,1878,1497,381
CONNECTICUT,612,360,333,145,102,41,44,13,80,18,1748,1650,98
DELAWARE,147,54,56,7,15,3,3,0,15,8,308,285,23
DISTRICT OF COLUMBIA,345,193,203,92,48,28,24,3,49,31,1016,936,80
FLORIDA,1621,776,672,223,204,83,52,15,356,61,4063,3646,417
GEORGIA,667,397,274,99,140,74,39,5,188,59,1942,1695,247
HAWAII,82,85,76,63,14,14,12,4,19,6,375,350,25
IDAHO,72,33,19,4,32,5,4,0,15,5,189,169,20
ILLINOIS,2883,1242,934,449,419,159,63,31,309,108,6597,6180,417
INDIANA,860,290,229,108,204,86,62,9,66,16,1930,1848,82
IOWA,327,128,74,41,75,27,14,2,28,21,737,688,49
KANSAS,397,148,117,42,57,20,11,9,40,3,844,801,43
KENTUCKY,239,89,48,14,22,12,6,0,13,2,445,430,15
LOUISIANA,361,117,94,38,17,6,8,3,11,0,655,644,11
MARYLAND,1189,653,592,214,239,89,49,29,159,25,3238,3054,184
MASSACHUSETTS,2652,1647,1481,763,382,191,111,39,331,116,7713,7266,447
MICHIGAN,1364,575,435,129,258,99,46,4,204,60,3174,2910,264
MINNESOTA,757,366,253,75,204,100,46,9,148,87,2045,1810,235
MISSISSIPPI,113,27,22,9,12,4,3,1,3,0,194,191,3
MISSOURI,473,211,196,57,39,23,10,1,50,20,1080,1010,70
NEBRASKA,221,56,59,10,42,6,6,0,46,6,452,400,52
NEVADA,380,128,79,58,46,7,6,3,113,29,849,707,142
NEW HAMPSHIRE,47,27,16,12,17,6,2,0,1,4,132,127,5
NEW JERSEY,2000,1203,1004,439,371,197,125,48,462,218,6067,5387,680
NEW MEXICO,54,32,35,7,10,5,6,2,23,9,183,151,32
NEW YORK,3184,1913,1712,878,706,312,204,94,616,174,9793,9003,790
NORTH CAROLINA,654,272,205,39,84,30,22,6,130,21,1463,1312,151
NORTH DAKOTA,62,14,6,2,4,3,0,0,1,1,93,91,2
OHIO,1013,418,312,83,231,91,63,12,141,106,2470,2223,247
OKLAHOMA,221,100,66,9,42,17,6,2,24,20,507,463,44
OREGON,266,124,106,30,50,27,20,6,110,53,792,629,163
PENNSYLVANIA,1005,514,432,154,206,106,66,18,175,55,2731,2501,230
PUERTO RICO,144,77,54,31,6,3,2,0,13,4,334,317,17
RHODE ISLAND,372,169,175,37,43,19,26,2,35,13,891,843,48
SOUTH CAROLINA,255,95,39,17,34,21,6,0,68,15,550,467,83
SOUTH DAKOTA,62,17,14,6,10,0,0,1,1,2,113,110,3
TENNESSEE,317,99,61,21,33,12,7,1,75,14,640,551,89
TEXAS,1885,887,808,296,373,149,81,21,339,115,4954,4500,454
UTAH,183,69,46,26,45,13,4,2,37,7,432,388,44
VERMONT,31,19,14,2,3,6,0,0,3,3,81,75,6
VIRGINIA,512,291,224,78,89,57,27,8,158,73,1517,1286,231
WASHINGTON,509,294,230,98,132,61,46,12,181,82,1645,1382,263
WEST VIRGINIA,42,18,16,6,14,4,2,2,5,6,115,104,11
WISCONSIN,235,132,76,20,59,42,17,8,26,21,636,589,47

In [63]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2000_cycles_by_state = df_2000_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2000_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        591                     547                  44
ARIZONA                       1023                     868                 155
ARKANSAS                       276                     264                  12
CALIFORNIA                   12278                   10278                2000
COLORADO                      1878                    1497                 381
CONNECTICUT                   1748                    1650                  98
DELAWARE                       308                     285                  23
DISTRICT OF COLUMBIA          1016                     936                  80
FLORIDA                       4063                    3646                 417
GEORGIA                       1942                    1695                 247
HAWAII                         375                     350                  25
IDAHO                          189                     169                  20
ILLINOIS                      6597                    6180                 417
INDIANA                       1930                    1848                  82
IOWA                           737                     688                  49
KANSAS                         844                     801                  43
KENTUCKY                       445                     430                  15
LOUISIANA                      655                     644                  11
MARYLAND                      3238                    3054                 184
MASSACHUSETTS                 7713                    7266                 447
MICHIGAN                      3174                    2910                 264
MINNESOTA                     2045                    1810                 235
MISSISSIPPI                    194                     191                   3
MISSOURI                      1080                    1010                  70
NEBRASKA                       452                     400                  52
NEVADA                         849                     707                 142
NEW HAMPSHIRE                  132                     127                   5
NEW JERSEY                    6067                    5387                 680
NEW MEXICO                     183                     151                  32
NEW YORK                      9793                    9003                 790
NORTH CAROLINA                1463                    1312                 151
NORTH DAKOTA                    93                      91                   2
OHIO                          2470                    2223                 247
OKLAHOMA                       507                     463                  44
OREGON                         792                     629                 163
PENNSYLVANIA                  2731                    2501                 230
PUERTO RICO                    334                     317                  17
RHODE ISLAND                   891                     843                  48
SOUTH CAROLINA                 550                     467                  83
SOUTH DAKOTA                   113                     110                   3
TENNESSEE                      640                     551                  89
TEXAS                         4954                    4500                 454
UTAH                           432                     388                  44
VERMONT                         81                      75                   6
VIRGINIA                      1517                    1286                 231
WASHINGTON                    1645                    1382                 263
WEST VIRGINIA                  115                     104                  11
WISCONSIN                      636                     589                  47

In [64]:
# save to csv in the "Output" folder as "2000_cycles_by_state.csv"
df_2000_cycles_by_state.to_csv("Output/2000_cycles_by_state.csv")

## 2001 data

In [65]:
# read excel "clinic_tables_data_2001"
df_2001 = pd.read_excel("Input/clinic_tables_data_2001.xls", sheet_name="2001 Clinic Tables Data", header=0)
df_2001

,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,GIFT_Rate,ZIFT_Rate,Combo_Rate,ICSI_Rate,Unstimulated_Rate,...,FshDnrEmbryosRate,ThwDnrEmbryosRate,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation
0,ART PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,69%,0%,...,3.1,2.2,ART Program of Alabama,Yes,Yes,No,Yes,Yes,Yes,Yes
1,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,92%,8%,0%,0%,23%,0%,...,3.6,1.5,University of Alabama at Birmingham,Yes,No,Yes,Yes,Yes,Yes,Yes
2,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,60%,0%,...,3.1,NaN,Center for Reproductive Medicine,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,UNIVERSITY OF SOUTH ALABAMA IVF AND ART PROGRAM,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,67%,0%,...,3.0,NaN,University of South Alabama IVF and ART Program,Yes,No,No,Yes,Yes,Yes,Yes
4,FERTILITY TREATMENT CENTER,NaN,CHANDLER,ARIZONA,100%,0%,0%,0%,56%,0%,...,2.1,2.6,Fertility Treatment Center,Yes,Yes,Yes,Yes,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,GUNDERSEN/LUTHERAN MEDICAL CENTER,NaN,LA CROSSE,WISCONSIN,96%,4%,0%,0%,0%,0%,...,NaN,NaN,Gundersen/Lutheran Medical Center,No,No,No,No,No,Yes,Yes
380,UNIVERSITY OF WISCONSIN--MADISON,INFERTILITY AND WOMEN'S ENDOCRINE SERVICE,MADISON,WISCONSIN,100%,0%,0%,0%,71%,0%,...,3.3,2.0,"University of Wisconsin--Madison, Infertility ...",Yes,Yes,Yes,Yes,Yes,Yes,Yes
381,"MEDICAL COLLEGE OF WISCONSIN, DEPARTMENT OF OB...",NaN,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,49%,0%,...,NaN,NaN,"Medical College Of Wisconsin, Department Of Ob...",Yes,Yes,Yes,Yes,Yes,Yes,Yes
382,REPRODUCTIVE SPECIALTY CENTER,IVF COLUMBIA,MILWAUKEE,WISCONSIN,98%,2%,0%,0%,0%,0%,...,3.0,2.0,"Reproductive Specialty Center, IVF Columbia",Yes,Yes,Yes,Yes,Yes,Yes,Yes
383,"WOMEN'S HEALTH CARE, S.C.",NaN,WAUKESHA,WISCONSIN,100%,0%,0%,0%,36%,0%,...,2.0,2.0,"Women's Health Care, S.C.",Yes,Yes,Yes,No,Yes,Yes,Yes

In [66]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2001_cycles
df_2001_cycles = df_2001[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2001_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,131,35,22,2,15,3,6,0,33,6
1,60,30,6,5,4,2,0,0,9,4
2,71,29,20,10,4,0,1,0,7,0
3,17,9,3,1,1,0,0,0,1,0
4,81,34,47,24,26,8,11,5,33,26
...,...,...,...,...,...,...,...,...,...,...
379,47,16,10,3,0,0,0,0,0,0
380,59,35,23,2,18,5,5,0,3,1
381,33,15,8,6,16,14,1,1,0,0
382,21,19,13,6,5,5,4,0,8,2
383,13,5,2,0,8,17,3,0,1,1

In [67]:
# turn all data into numeric
df_2001_cycles = df_2001_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2001_cycles = df_2001_cycles.astype(int)
df_2001_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,131,35,22,2,15,3,6,0,33,6
1,60,30,6,5,4,2,0,0,9,4
2,71,29,20,10,4,0,1,0,7,0
3,17,9,3,1,1,0,0,0,1,0
4,81,34,47,24,26,8,11,5,33,26
...,...,...,...,...,...,...,...,...,...,...
379,47,16,10,3,0,0,0,0,0,0
380,59,35,23,2,18,5,5,0,3,1
381,33,15,8,6,16,14,1,1,0,0
382,21,19,13,6,5,5,4,0,8,2
383,13,5,2,0,8,17,3,0,1,1

In [68]:
# add a "State" column from "ClinStateCode" from the df_2001 data frame
df_2001_cycles['State'] = df_2001['ClinStateCode']
df_2001_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,131,35,22,2,15,3,6,0,33,6,ALABAMA
1,60,30,6,5,4,2,0,0,9,4,ALABAMA
2,71,29,20,10,4,0,1,0,7,0,ALABAMA
3,17,9,3,1,1,0,0,0,1,0,ALABAMA
4,81,34,47,24,26,8,11,5,33,26,ARIZONA
...,...,...,...,...,...,...,...,...,...,...,...
379,47,16,10,3,0,0,0,0,0,0,WISCONSIN
380,59,35,23,2,18,5,5,0,3,1,WISCONSIN
381,33,15,8,6,16,14,1,1,0,0,WISCONSIN
382,21,19,13,6,5,5,4,0,8,2,WISCONSIN
383,13,5,2,0,8,17,3,0,1,1,WISCONSIN

In [69]:
# add a column "total cycles" by summing all numeric columns
df_2001_cycles['total_cycles'] = df_2001_cycles.iloc[:, 0:10].sum(axis=1)
df_2001_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,131,35,22,2,15,3,6,0,33,6,ALABAMA,253
1,60,30,6,5,4,2,0,0,9,4,ALABAMA,120
2,71,29,20,10,4,0,1,0,7,0,ALABAMA,142
3,17,9,3,1,1,0,0,0,1,0,ALABAMA,32
4,81,34,47,24,26,8,11,5,33,26,ARIZONA,295
...,...,...,...,...,...,...,...,...,...,...,...,...
379,47,16,10,3,0,0,0,0,0,0,WISCONSIN,76
380,59,35,23,2,18,5,5,0,3,1,WISCONSIN,151
381,33,15,8,6,16,14,1,1,0,0,WISCONSIN,94
382,21,19,13,6,5,5,4,0,8,2,WISCONSIN,83
383,13,5,2,0,8,17,3,0,1,1,WISCONSIN,50

In [71]:
# group by state
df_2001_cycles_by_state = df_2001_cycles.groupby('State').sum()
df_2001_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,279,103,51,18,24,5,7,0,50,10,547
ARIZONA,461,214,182,75,137,53,37,16,128,87,1390
ARKANSAS,167,43,35,3,32,11,6,1,6,0,304
CALIFORNIA,3401,2187,2335,1205,776,476,345,128,1607,679,13139
COLORADO,598,269,272,93,132,59,28,11,316,93,1871
CONNECTICUT,573,410,389,185,114,55,50,17,84,11,1888
DELAWARE,176,76,72,21,23,3,3,0,18,4,396
DISTRICT OF COLUMBIA,383,231,174,139,63,32,21,7,48,45,1143
FLORIDA,1784,883,716,255,248,108,82,14,404,93,4587
GEORGIA,771,360,287,99,156,62,37,8,167,58,2005
HAWAII,99,50,88,29,13,12,11,4,15,6,327
IDAHO,5,2,1,0,0,0,0,0,0,0,8
ILLINOIS,3002,1365,1149,465,426,176,90,19,361,148,7201
INDIANA,858,244,207,90,231,68,46,18,75,30,1867
IOWA,345,107,91,31,71,23,12,6,20,26,732
KANSAS,475,162,126,30,54,22,14,1,61,12,957
KENTUCKY,241,88,61,9,32,13,3,4,24,4,479
LOUISIANA,331,133,102,24,36,8,3,3,17,10,667
MARYLAND,1474,710,739,295,233,114,74,30,190,61,3920
MASSACHUSETTS,2706,1678,1494,807,436,195,124,42,362,124,7968
MICHIGAN,1286,491,430,160,245,65,67,10,221,66,3041
MINNESOTA,787,313,318,84,298,101,86,16,162,69,2234
MISSISSIPPI,98,25,20,6,19,4,2,0,16,1,191
MISSOURI,596,251,188,60,61,20,15,3,73,22,1289
NEBRASKA,347,120,94,15,74,24,10,1,80,24,789
NEVADA,177,70,63,29,33,15,3,1,95,23,509
NEW HAMPSHIRE,42,20,24,6,23,8,9,1,2,1,136
NEW JERSEY,2127,1272,1239,625,450,188,147,61,575,243,6927
NEW MEXICO,37,20,30,6,11,5,6,3,27,9,154
NEW YORK,3344,1953,1979,1077,779,294,237,91,608,212,10574
NORTH CAROLINA,784,286,213,58,113,34,15,4,156,34,1697
NORTH DAKOTA,59,16,12,1,8,1,0,0,1,1,99
OHIO,1291,531,404,115,319,117,53,17,156,87,3090
OKLAHOMA,285,99,54,15,38,18,6,3,32,9,559
OREGON,275,123,94,33,66,26,18,4,128,57,824
PENNSYLVANIA,1137,583,472,169,282,112,79,24,190,85,3133
PUERTO RICO,168,100,83,22,5,6,0,0,11,1,396
RHODE ISLAND,353,151,169,57,38,16,19,4,51,12,870
SOUTH CAROLINA,268,113,64,13,39,25,7,3,76,18,626
SOUTH DAKOTA,75,14,19,2,8,1,5,0,0,0,124
TENNESSEE,433,168,87,21,68,20,15,3,103,32,950
TEXAS,2083,900,917,305,389,159,95,30,367,134,5379
UTAH,193,53,47,11,51,11,9,3,24,11,413
VERMONT,57,17,20,4,5,3,1,0,7,1,115
VIRGINIA,782,392,341,132,173,69,50,19,370,248,2576
WASHINGTON,525,286,257,119,160,89,66,13,213,120,1848
WEST VIRGINIA,73,19,18,9,14,4,4,2,13,3,159
WISCONSIN,173,90,56,17,47,41,13,1,12,4,454

In [72]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2001 = df_2001_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2001: {total_cycles_2001}')

Total number of cycles in 2001: 100552

In [73]:
# in df_2001_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2001_cycles_by_state['total_cycles_non_donor'] = df_2001_cycles_by_state['FshNDCycle1'] + df_2001_cycles_by_state['FshNDCycle2'] + df_2001_cycles_by_state['FshNDCycle3'] + df_2001_cycles_by_state['FshNDCycle4'] + df_2001_cycles_by_state['ThwNDTransfers1'] + df_2001_cycles_by_state['ThwNDTransfers2'] + df_2001_cycles_by_state['ThwNDTransfers3'] + df_2001_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2001_cycles_by_state['total_cycles_donor'] = df_2001_cycles_by_state['FshDnrTransfers'] + df_2001_cycles_by_state['ThwDnrTransfers']
df_2001_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,279,103,51,18,24,5,7,0,50,10,547,487,60
ARIZONA,461,214,182,75,137,53,37,16,128,87,1390,1175,215
ARKANSAS,167,43,35,3,32,11,6,1,6,0,304,298,6
CALIFORNIA,3401,2187,2335,1205,776,476,345,128,1607,679,13139,10853,2286
COLORADO,598,269,272,93,132,59,28,11,316,93,1871,1462,409
CONNECTICUT,573,410,389,185,114,55,50,17,84,11,1888,1793,95
DELAWARE,176,76,72,21,23,3,3,0,18,4,396,374,22
DISTRICT OF COLUMBIA,383,231,174,139,63,32,21,7,48,45,1143,1050,93
FLORIDA,1784,883,716,255,248,108,82,14,404,93,4587,4090,497
GEORGIA,771,360,287,99,156,62,37,8,167,58,2005,1780,225
HAWAII,99,50,88,29,13,12,11,4,15,6,327,306,21
IDAHO,5,2,1,0,0,0,0,0,0,0,8,8,0
ILLINOIS,3002,1365,1149,465,426,176,90,19,361,148,7201,6692,509
INDIANA,858,244,207,90,231,68,46,18,75,30,1867,1762,105
IOWA,345,107,91,31,71,23,12,6,20,26,732,686,46
KANSAS,475,162,126,30,54,22,14,1,61,12,957,884,73
KENTUCKY,241,88,61,9,32,13,3,4,24,4,479,451,28
LOUISIANA,331,133,102,24,36,8,3,3,17,10,667,640,27
MARYLAND,1474,710,739,295,233,114,74,30,190,61,3920,3669,251
MASSACHUSETTS,2706,1678,1494,807,436,195,124,42,362,124,7968,7482,486
MICHIGAN,1286,491,430,160,245,65,67,10,221,66,3041,2754,287
MINNESOTA,787,313,318,84,298,101,86,16,162,69,2234,2003,231
MISSISSIPPI,98,25,20,6,19,4,2,0,16,1,191,174,17
MISSOURI,596,251,188,60,61,20,15,3,73,22,1289,1194,95
NEBRASKA,347,120,94,15,74,24,10,1,80,24,789,685,104
NEVADA,177,70,63,29,33,15,3,1,95,23,509,391,118
NEW HAMPSHIRE,42,20,24,6,23,8,9,1,2,1,136,133,3
NEW JERSEY,2127,1272,1239,625,450,188,147,61,575,243,6927,6109,818
NEW MEXICO,37,20,30,6,11,5,6,3,27,9,154,118,36
NEW YORK,3344,1953,1979,1077,779,294,237,91,608,212,10574,9754,820
NORTH CAROLINA,784,286,213,58,113,34,15,4,156,34,1697,1507,190
NORTH DAKOTA,59,16,12,1,8,1,0,0,1,1,99,97,2
OHIO,1291,531,404,115,319,117,53,17,156,87,3090,2847,243
OKLAHOMA,285,99,54,15,38,18,6,3,32,9,559,518,41
OREGON,275,123,94,33,66,26,18,4,128,57,824,639,185
PENNSYLVANIA,1137,583,472,169,282,112,79,24,190,85,3133,2858,275
PUERTO RICO,168,100,83,22,5,6,0,0,11,1,396,384,12
RHODE ISLAND,353,151,169,57,38,16,19,4,51,12,870,807,63
SOUTH CAROLINA,268,113,64,13,39,25,7,3,76,18,626,532,94
SOUTH DAKOTA,75,14,19,2,8,1,5,0,0,0,124,124,0
TENNESSEE,433,168,87,21,68,20,15,3,103,32,950,815,135
TEXAS,2083,900,917,305,389,159,95,30,367,134,5379,4878,501
UTAH,193,53,47,11,51,11,9,3,24,11,413,378,35
VERMONT,57,17,20,4,5,3,1,0,7,1,115,107,8
VIRGINIA,782,392,341,132,173,69,50,19,370,248,2576,1958,618
WASHINGTON,525,286,257,119,160,89,66,13,213,120,1848,1515,333
WEST VIRGINIA,73,19,18,9,14,4,4,2,13,3,159,143,16
WISCONSIN,173,90,56,17,47,41,13,1,12,4,454,438,16

In [74]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2001_cycles_by_state = df_2001_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2001_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        547                     487                  60
ARIZONA                       1390                    1175                 215
ARKANSAS                       304                     298                   6
CALIFORNIA                   13139                   10853                2286
COLORADO                      1871                    1462                 409
CONNECTICUT                   1888                    1793                  95
DELAWARE                       396                     374                  22
DISTRICT OF COLUMBIA          1143                    1050                  93
FLORIDA                       4587                    4090                 497
GEORGIA                       2005                    1780                 225
HAWAII                         327                     306                  21
IDAHO                            8                       8                   0
ILLINOIS                      7201                    6692                 509
INDIANA                       1867                    1762                 105
IOWA                           732                     686                  46
KANSAS                         957                     884                  73
KENTUCKY                       479                     451                  28
LOUISIANA                      667                     640                  27
MARYLAND                      3920                    3669                 251
MASSACHUSETTS                 7968                    7482                 486
MICHIGAN                      3041                    2754                 287
MINNESOTA                     2234                    2003                 231
MISSISSIPPI                    191                     174                  17
MISSOURI                      1289                    1194                  95
NEBRASKA                       789                     685                 104
NEVADA                         509                     391                 118
NEW HAMPSHIRE                  136                     133                   3
NEW JERSEY                    6927                    6109                 818
NEW MEXICO                     154                     118                  36
NEW YORK                     10574                    9754                 820
NORTH CAROLINA                1697                    1507                 190
NORTH DAKOTA                    99                      97                   2
OHIO                          3090                    2847                 243
OKLAHOMA                       559                     518                  41
OREGON                         824                     639                 185
PENNSYLVANIA                  3133                    2858                 275
PUERTO RICO                    396                     384                  12
RHODE ISLAND                   870                     807                  63
SOUTH CAROLINA                 626                     532                  94
SOUTH DAKOTA                   124                     124                   0
TENNESSEE                      950                     815                 135
TEXAS                         5379                    4878                 501
UTAH                           413                     378                  35
VERMONT                        115                     107                   8
VIRGINIA                      2576                    1958                 618
WASHINGTON                    1848                    1515                 333
WEST VIRGINIA                  159                     143                  16
WISCONSIN                      454                     438                  16

In [75]:
# add a row called "NATIONAL" to the df_2001_cycles_by_state, which is the sum of all states
df_2001_cycles_by_state.loc['NATIONAL'] = df_2001_cycles_by_state.sum()
df_2001_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/3992576809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2001_cycles_by_state.loc['NATIONAL'] = df_2001_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        547                     487                  60
ARIZONA                       1390                    1175                 215
ARKANSAS                       304                     298                   6
CALIFORNIA                   13139                   10853                2286
COLORADO                      1871                    1462                 409
CONNECTICUT                   1888                    1793                  95
DELAWARE                       396                     374                  22
DISTRICT OF COLUMBIA          1143                    1050                  93
FLORIDA                       4587                    4090                 497
GEORGIA                       2005                    1780                 225
HAWAII                         327                     306                  21
IDAHO                            8                       8                   0
ILLINOIS                      7201                    6692                 509
INDIANA                       1867                    1762                 105
IOWA                           732                     686                  46
KANSAS                         957                     884                  73
KENTUCKY                       479                     451                  28
LOUISIANA                      667                     640                  27
MARYLAND                      3920                    3669                 251
MASSACHUSETTS                 7968                    7482                 486
MICHIGAN                      3041                    2754                 287
MINNESOTA                     2234                    2003                 231
MISSISSIPPI                    191                     174                  17
MISSOURI                      1289                    1194                  95
NEBRASKA                       789                     685                 104
NEVADA                         509                     391                 118
NEW HAMPSHIRE                  136                     133                   3
NEW JERSEY                    6927                    6109                 818
NEW MEXICO                     154                     118                  36
NEW YORK                     10574                    9754                 820
NORTH CAROLINA                1697                    1507                 190
NORTH DAKOTA                    99                      97                   2
OHIO                          3090                    2847                 243
OKLAHOMA                       559                     518                  41
OREGON                         824                     639                 185
PENNSYLVANIA                  3133                    2858                 275
PUERTO RICO                    396                     384                  12
RHODE ISLAND                   870                     807                  63
SOUTH CAROLINA                 626                     532                  94
SOUTH DAKOTA                   124                     124                   0
TENNESSEE                      950                     815                 135
TEXAS                         5379                    4878                 501
UTAH                           413                     378                  35
VERMONT                        115                     107                   8
VIRGINIA                      2576                    1958                 618
WASHINGTON                    1848                    1515                 333
WEST VIRGINIA                  159                     143                  16
WISCONSIN                      454                     438                  16
NATIONAL                    100552                   89802               10750

In [76]:
# save to csv in the "Output" folder as "2001_cycles_by_state.csv"
df_2001_cycles_by_state.to_csv("Output/2001_cycles_by_state.csv")

## 2005 data

In [78]:
# read excel "clinic_tables_data_2005"
df_2005 = pd.read_excel("Input/clinic_tables_data_2005.xls", sheet_name="Clinic Table Data Records", header=0)
df_2005

,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,GIFT_Rate,ZIFT_Rate,Combo_Rate,ICSI_Rate,Unstimulated_Rate,...,ThwDnrEmbryosRate,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation,state_code
0,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,39%,0%,...,2.0,Alabama Fertility Specialists,Yes,No,Yes,No,Yes,Yes,Yes,AL
1,ART PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,75%,0%,...,1.6,ART Fertility Program of Alabama,Yes,Yes,No,Yes,Yes,Yes,Yes,AL
2,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,97%,3%,0%,0%,34%,0%,...,NaN,University of Alabama at Birmingham,Yes,No,Yes,No,Yes,Yes,Yes,AL
3,"HUNTSVILLE REPRODUCTIVE MEDICINE, PC",NaN,HUNTSVILLE,ALABAMA,100%,0%,0%,0%,62%,0%,...,3.0,"Huntsville Reproductive Medicine, PC",Yes,Yes,Yes,Yes,Yes,No,No,AL
4,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,73%,0%,...,2.5,Center for Reproductive Medicine,Yes,Yes,No,Yes,Yes,Yes,Yes,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,UNIVERSITY OF WISCONSIN–MADISON,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,MADISON,WISCONSIN,100%,0%,0%,0%,56%,0%,...,3.1,This clinic has closed or reorganized since 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WI
418,ADVANCED INSTITUTE OF FERTILITY,NaN,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,66%,1%,...,2.4,Advanced Institute of Fertility,Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
419,FROEDTERT & MEDICAL COLLEGE OF WISCONSIN,REPRODUCTIVE MEDICINE CLINIC,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,79%,0%,...,1.8,"Froedtert & Medical College of Wisconsin, Repr...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
420,REPRODUCTIVE SPECIALTY CENTER,IVF COLUMBIA,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,42%,0%,...,NaN,"Reproductive Specialty Center, IVF Columbia",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
421,"WOMEN'S HEALTH CARE, SC",NaN,WAUKESHA,WISCONSIN,100%,0%,0%,0%,56%,6%,...,NaN,"Women's Health Care, SC",Yes,Yes,Yes,No,Yes,Yes,Yes,WI

In [79]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2005_cycles
df_2005_cycles = df_2005[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2005_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,30,6,6,2,4,0,1,0,9,2
1,151,54,23,6,22,9,4,0,37,5
2,19,11,3,2,2,1,0,0,2,0
3,36,17,6,2,7,1,0,0,5,1
4,107,33,18,10,8,7,4,0,22,4
...,...,...,...,...,...,...,...,...,...,...
417,59,28,15,3,16,7,3,4,41,7
418,55,48,30,11,23,15,6,1,25,14
419,79,37,35,7,29,13,12,4,12,12
420,28,17,18,8,3,3,4,0,0,0
421,7,4,1,4,3,2,1,0,0,0

In [80]:
# turn all data into numeric
df_2005_cycles = df_2005_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2005_cycles = df_2005_cycles.astype(int)
df_2005_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,30,6,6,2,4,0,1,0,9,2
1,151,54,23,6,22,9,4,0,37,5
2,19,11,3,2,2,1,0,0,2,0
3,36,17,6,2,7,1,0,0,5,1
4,107,33,18,10,8,7,4,0,22,4
...,...,...,...,...,...,...,...,...,...,...
417,59,28,15,3,16,7,3,4,41,7
418,55,48,30,11,23,15,6,1,25,14
419,79,37,35,7,29,13,12,4,12,12
420,28,17,18,8,3,3,4,0,0,0
421,7,4,1,4,3,2,1,0,0,0

In [81]:
# add a "State" column from "ClinStateCode" from the df_2005 data frame
df_2005_cycles['State'] = df_2005['ClinStateCode']
df_2005_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,30,6,6,2,4,0,1,0,9,2,ALABAMA
1,151,54,23,6,22,9,4,0,37,5,ALABAMA
2,19,11,3,2,2,1,0,0,2,0,ALABAMA
3,36,17,6,2,7,1,0,0,5,1,ALABAMA
4,107,33,18,10,8,7,4,0,22,4,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...
417,59,28,15,3,16,7,3,4,41,7,WISCONSIN
418,55,48,30,11,23,15,6,1,25,14,WISCONSIN
419,79,37,35,7,29,13,12,4,12,12,WISCONSIN
420,28,17,18,8,3,3,4,0,0,0,WISCONSIN
421,7,4,1,4,3,2,1,0,0,0,WISCONSIN

In [82]:
# add a column "total cycles" by summing all numeric columns
df_2005_cycles['total_cycles'] = df_2005_cycles.iloc[:, 0:10].sum(axis=1)
df_2005_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,30,6,6,2,4,0,1,0,9,2,ALABAMA,60
1,151,54,23,6,22,9,4,0,37,5,ALABAMA,311
2,19,11,3,2,2,1,0,0,2,0,ALABAMA,40
3,36,17,6,2,7,1,0,0,5,1,ALABAMA,75
4,107,33,18,10,8,7,4,0,22,4,ALABAMA,213
...,...,...,...,...,...,...,...,...,...,...,...,...
417,59,28,15,3,16,7,3,4,41,7,WISCONSIN,183
418,55,48,30,11,23,15,6,1,25,14,WISCONSIN,228
419,79,37,35,7,29,13,12,4,12,12,WISCONSIN,240
420,28,17,18,8,3,3,4,0,0,0,WISCONSIN,81
421,7,4,1,4,3,2,1,0,0,0,WISCONSIN,22

In [83]:
# group by state
df_2005_cycles_by_state = df_2005_cycles.groupby('State').sum()
df_2005_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,364,126,65,25,47,19,9,1,76,12,744
ALASKA,26,2,13,3,0,0,0,0,0,0,44
ARIZONA,654,285,225,85,271,102,51,15,125,97,1910
ARKANSAS,147,48,29,8,53,16,7,2,13,11,334
CALIFORNIA,4227,2988,3131,1565,1208,730,492,194,1896,1175,17606
COLORADO,610,368,260,116,175,103,51,23,287,139,2132
CONNECTICUT,738,545,533,273,140,89,69,21,215,96,2719
DELAWARE,113,66,50,15,34,20,10,1,8,6,323
DISTRICT OF COLUMBIA,384,268,246,150,38,32,35,14,32,21,1220
FLORIDA,2221,1196,895,356,379,194,109,43,505,144,6042
GEORGIA,855,454,308,119,272,119,64,14,164,107,2476
HAWAII,208,151,164,66,41,28,23,2,59,22,764
IDAHO,108,39,30,10,55,18,15,6,36,25,342
ILLINOIS,3205,1681,1286,650,635,313,186,58,503,257,8774
INDIANA,743,265,192,73,260,91,63,19,119,78,1903
IOWA,313,85,55,31,77,24,14,4,23,24,650
KANSAS,385,115,72,15,70,17,20,3,84,24,805
KENTUCKY,223,67,49,18,41,18,7,3,5,9,440
LOUISIANA,309,131,96,31,42,12,7,0,16,12,656
MARYLAND,1621,1086,1024,347,292,217,161,51,456,151,5406
MASSACHUSETTS,2938,1873,1652,790,443,279,153,58,426,219,8831
MICHIGAN,1112,466,335,109,353,126,58,12,199,83,2853
MINNESOTA,838,339,227,75,230,116,55,6,142,81,2109
MISSISSIPPI,122,46,26,4,19,7,3,0,30,9,266
MISSOURI,688,305,184,65,92,41,21,5,89,41,1531
NEBRASKA,318,94,61,14,79,23,7,2,46,23,667
NEVADA,446,194,167,74,135,41,34,12,128,82,1313
NEW HAMPSHIRE,54,23,24,7,17,11,4,3,12,6,161
NEW JERSEY,2838,1635,1541,777,613,282,178,59,601,364,8888
NEW MEXICO,52,27,23,3,18,12,9,1,33,14,192
NEW YORK,4393,2816,2905,1750,1002,527,337,140,1025,462,15357
NORTH CAROLINA,928,387,311,95,165,93,39,12,189,61,2280
NORTH DAKOTA,59,21,8,6,15,3,5,0,2,0,119
OHIO,1344,587,418,143,425,158,98,27,252,123,3575
OKLAHOMA,277,104,54,18,49,16,7,0,41,17,583
OREGON,293,172,111,51,102,57,46,10,160,84,1086
PENNSYLVANIA,1295,730,609,227,339,190,96,41,244,142,3913
PUERTO RICO,190,85,77,31,4,2,0,1,24,3,417
RHODE ISLAND,266,175,132,82,61,27,17,5,55,29,849
SOUTH CAROLINA,384,103,72,17,107,32,19,6,83,31,854
SOUTH DAKOTA,81,16,7,4,25,10,3,0,4,3,153
TENNESSEE,556,199,128,30,130,37,22,3,91,113,1309
TEXAS,2312,1142,884,355,509,253,136,50,451,212,6304
UTAH,297,101,43,16,79,21,10,3,31,12,613
VERMONT,34,29,13,14,6,6,1,0,5,2,110
VIRGINIA,841,486,383,147,205,141,72,18,378,240,2911
WASHINGTON,497,279,232,83,121,77,42,15,197,88,1631
WEST VIRGINIA,38,20,12,4,11,1,0,0,3,7,96
WISCONSIN,356,202,123,50,91,50,31,9,86,36,1034

In [84]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2005 = df_2005_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2005: {total_cycles_2005}')

Total number of cycles in 2005: 125295

In [85]:
# in df_2005_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2005_cycles_by_state['total_cycles_non_donor'] = df_2005_cycles_by_state['FshNDCycle1'] + df_2005_cycles_by_state['FshNDCycle2'] + df_2005_cycles_by_state['FshNDCycle3'] + df_2005_cycles_by_state['FshNDCycle4'] + df_2005_cycles_by_state['ThwNDTransfers1'] + df_2005_cycles_by_state['ThwNDTransfers2'] + df_2005_cycles_by_state['ThwNDTransfers3'] + df_2005_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2005_cycles_by_state['total_cycles_donor'] = df_2005_cycles_by_state['FshDnrTransfers'] + df_2005_cycles_by_state['ThwDnrTransfers']
df_2005_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,364,126,65,25,47,19,9,1,76,12,744,656,88
ALASKA,26,2,13,3,0,0,0,0,0,0,44,44,0
ARIZONA,654,285,225,85,271,102,51,15,125,97,1910,1688,222
ARKANSAS,147,48,29,8,53,16,7,2,13,11,334,310,24
CALIFORNIA,4227,2988,3131,1565,1208,730,492,194,1896,1175,17606,14535,3071
COLORADO,610,368,260,116,175,103,51,23,287,139,2132,1706,426
CONNECTICUT,738,545,533,273,140,89,69,21,215,96,2719,2408,311
DELAWARE,113,66,50,15,34,20,10,1,8,6,323,309,14
DISTRICT OF COLUMBIA,384,268,246,150,38,32,35,14,32,21,1220,1167,53
FLORIDA,2221,1196,895,356,379,194,109,43,505,144,6042,5393,649
GEORGIA,855,454,308,119,272,119,64,14,164,107,2476,2205,271
HAWAII,208,151,164,66,41,28,23,2,59,22,764,683,81
IDAHO,108,39,30,10,55,18,15,6,36,25,342,281,61
ILLINOIS,3205,1681,1286,650,635,313,186,58,503,257,8774,8014,760
INDIANA,743,265,192,73,260,91,63,19,119,78,1903,1706,197
IOWA,313,85,55,31,77,24,14,4,23,24,650,603,47
KANSAS,385,115,72,15,70,17,20,3,84,24,805,697,108
KENTUCKY,223,67,49,18,41,18,7,3,5,9,440,426,14
LOUISIANA,309,131,96,31,42,12,7,0,16,12,656,628,28
MARYLAND,1621,1086,1024,347,292,217,161,51,456,151,5406,4799,607
MASSACHUSETTS,2938,1873,1652,790,443,279,153,58,426,219,8831,8186,645
MICHIGAN,1112,466,335,109,353,126,58,12,199,83,2853,2571,282
MINNESOTA,838,339,227,75,230,116,55,6,142,81,2109,1886,223
MISSISSIPPI,122,46,26,4,19,7,3,0,30,9,266,227,39
MISSOURI,688,305,184,65,92,41,21,5,89,41,1531,1401,130
NEBRASKA,318,94,61,14,79,23,7,2,46,23,667,598,69
NEVADA,446,194,167,74,135,41,34,12,128,82,1313,1103,210
NEW HAMPSHIRE,54,23,24,7,17,11,4,3,12,6,161,143,18
NEW JERSEY,2838,1635,1541,777,613,282,178,59,601,364,8888,7923,965
NEW MEXICO,52,27,23,3,18,12,9,1,33,14,192,145,47
NEW YORK,4393,2816,2905,1750,1002,527,337,140,1025,462,15357,13870,1487
NORTH CAROLINA,928,387,311,95,165,93,39,12,189,61,2280,2030,250
NORTH DAKOTA,59,21,8,6,15,3,5,0,2,0,119,117,2
OHIO,1344,587,418,143,425,158,98,27,252,123,3575,3200,375
OKLAHOMA,277,104,54,18,49,16,7,0,41,17,583,525,58
OREGON,293,172,111,51,102,57,46,10,160,84,1086,842,244
PENNSYLVANIA,1295,730,609,227,339,190,96,41,244,142,3913,3527,386
PUERTO RICO,190,85,77,31,4,2,0,1,24,3,417,390,27
RHODE ISLAND,266,175,132,82,61,27,17,5,55,29,849,765,84
SOUTH CAROLINA,384,103,72,17,107,32,19,6,83,31,854,740,114
SOUTH DAKOTA,81,16,7,4,25,10,3,0,4,3,153,146,7
TENNESSEE,556,199,128,30,130,37,22,3,91,113,1309,1105,204
TEXAS,2312,1142,884,355,509,253,136,50,451,212,6304,5641,663
UTAH,297,101,43,16,79,21,10,3,31,12,613,570,43
VERMONT,34,29,13,14,6,6,1,0,5,2,110,103,7
VIRGINIA,841,486,383,147,205,141,72,18,378,240,2911,2293,618
WASHINGTON,497,279,232,83,121,77,42,15,197,88,1631,1346,285
WEST VIRGINIA,38,20,12,4,11,1,0,0,3,7,96,86,10
WISCONSIN,356,202,123,50,91,50,31,9,86,36,1034,912,122

In [86]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2005_cycles_by_state = df_2005_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2005_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        744                     656                  88
ALASKA                          44                      44                   0
ARIZONA                       1910                    1688                 222
ARKANSAS                       334                     310                  24
CALIFORNIA                   17606                   14535                3071
COLORADO                      2132                    1706                 426
CONNECTICUT                   2719                    2408                 311
DELAWARE                       323                     309                  14
DISTRICT OF COLUMBIA          1220                    1167                  53
FLORIDA                       6042                    5393                 649
GEORGIA                       2476                    2205                 271
HAWAII                         764                     683                  81
IDAHO                          342                     281                  61
ILLINOIS                      8774                    8014                 760
INDIANA                       1903                    1706                 197
IOWA                           650                     603                  47
KANSAS                         805                     697                 108
KENTUCKY                       440                     426                  14
LOUISIANA                      656                     628                  28
MARYLAND                      5406                    4799                 607
MASSACHUSETTS                 8831                    8186                 645
MICHIGAN                      2853                    2571                 282
MINNESOTA                     2109                    1886                 223
MISSISSIPPI                    266                     227                  39
MISSOURI                      1531                    1401                 130
NEBRASKA                       667                     598                  69
NEVADA                        1313                    1103                 210
NEW HAMPSHIRE                  161                     143                  18
NEW JERSEY                    8888                    7923                 965
NEW MEXICO                     192                     145                  47
NEW YORK                     15357                   13870                1487
NORTH CAROLINA                2280                    2030                 250
NORTH DAKOTA                   119                     117                   2
OHIO                          3575                    3200                 375
OKLAHOMA                       583                     525                  58
OREGON                        1086                     842                 244
PENNSYLVANIA                  3913                    3527                 386
PUERTO RICO                    417                     390                  27
RHODE ISLAND                   849                     765                  84
SOUTH CAROLINA                 854                     740                 114
SOUTH DAKOTA                   153                     146                   7
TENNESSEE                     1309                    1105                 204
TEXAS                         6304                    5641                 663
UTAH                           613                     570                  43
VERMONT                        110                     103                   7
VIRGINIA                      2911                    2293                 618
WASHINGTON                    1631                    1346                 285
WEST VIRGINIA                   96                      86                  10
WISCONSIN                     1034                     912                 122

In [87]:
# add a row called "NATIONAL" to the df_2005_cycles_by_state, which is the sum of all states
df_2005_cycles_by_state.loc['NATIONAL'] = df_2005_cycles_by_state.sum()
df_2005_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/3798006714.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2005_cycles_by_state.loc['NATIONAL'] = df_2005_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        744                     656                  88
ALASKA                          44                      44                   0
ARIZONA                       1910                    1688                 222
ARKANSAS                       334                     310                  24
CALIFORNIA                   17606                   14535                3071
COLORADO                      2132                    1706                 426
CONNECTICUT                   2719                    2408                 311
DELAWARE                       323                     309                  14
DISTRICT OF COLUMBIA          1220                    1167                  53
FLORIDA                       6042                    5393                 649
GEORGIA                       2476                    2205                 271
HAWAII                         764                     683                  81
IDAHO                          342                     281                  61
ILLINOIS                      8774                    8014                 760
INDIANA                       1903                    1706                 197
IOWA                           650                     603                  47
KANSAS                         805                     697                 108
KENTUCKY                       440                     426                  14
LOUISIANA                      656                     628                  28
MARYLAND                      5406                    4799                 607
MASSACHUSETTS                 8831                    8186                 645
MICHIGAN                      2853                    2571                 282
MINNESOTA                     2109                    1886                 223
MISSISSIPPI                    266                     227                  39
MISSOURI                      1531                    1401                 130
NEBRASKA                       667                     598                  69
NEVADA                        1313                    1103                 210
NEW HAMPSHIRE                  161                     143                  18
NEW JERSEY                    8888                    7923                 965
NEW MEXICO                     192                     145                  47
NEW YORK                     15357                   13870                1487
NORTH CAROLINA                2280                    2030                 250
NORTH DAKOTA                   119                     117                   2
OHIO                          3575                    3200                 375
OKLAHOMA                       583                     525                  58
OREGON                        1086                     842                 244
PENNSYLVANIA                  3913                    3527                 386
PUERTO RICO                    417                     390                  27
RHODE ISLAND                   849                     765                  84
SOUTH CAROLINA                 854                     740                 114
SOUTH DAKOTA                   153                     146                   7
TENNESSEE                     1309                    1105                 204
TEXAS                         6304                    5641                 663
UTAH                           613                     570                  43
VERMONT                        110                     103                   7
VIRGINIA                      2911                    2293                 618
WASHINGTON                    1631                    1346                 285
WEST VIRGINIA                   96                      86                  10
WISCONSIN                     1034                     912                 122
NATIONAL                    125295                  110649               14646

In [88]:
# save to csv in the "Output" folder as "2005_cycles_by_state.csv"
df_2005_cycles_by_state.to_csv("Output/2005_cycles_by_state.csv")

## 2006 data

In [90]:
# read excel "clinic_tables_data_2006"
df_2006 = pd.read_excel("Input/clinic_tables_data_2006.xls", sheet_name="Clinic Table Data Records", header=0)
df_2006

,OrderID,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,GIFT_Rate,ZIFT_Rate,Combo_Rate,ICSI_Rate,...,ThwDnrEmbryosRate,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation,state_code
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,46%,...,2.0,Alabama Fertility Specialists,Yes,No,Yes,No,Yes,Yes,Yes,AL
1,2,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,75%,...,2.0,ART Fertility Program of Alabama,Yes,Yes,No,Yes,Yes,Yes,Yes,AL
2,3,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,98%,2%,0%,0%,43%,...,1.0,University of Alabama at Birmingham,Yes,No,Yes,No,Yes,Yes,Yes,AL
3,4,"HUNTSVILLE REPRODUCTIVE MEDICINE, PC",NaN,HUNTSVILLE,ALABAMA,100%,0%,0%,0%,83%,...,2.0,"Huntsville Reproductive Medicine, PC",Yes,Yes,Yes,Yes,Yes,No,No,AL
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,67%,...,2.5,Center for Reproductive Medicine,Yes,Yes,No,Yes,Yes,Yes,Yes,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,422,ADVANCED INSTITUTE OF FERTILITY,NaN,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,83%,...,2.6,Advanced Institute of Fertility,Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
422,423,FROEDTERT & MEDICAL COLLEGE OF WISCONSIN,REPRODUCTIVE MEDICINE CLINIC,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,83%,...,2.0,"Froedtert & Medical College of Wisconsin, Repr...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
423,424,REPRODUCTIVE SPECIALTY CENTER,IVF COLUMBIA,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,33%,...,NaN,"Reproductive Specialty Center, IVF Columbia",No,No,Yes,No,Yes,Yes,Yes,WI
424,425,"WOMEN'S HEALTH CARE, SC",NaN,WAUKESHA,WISCONSIN,100%,0%,0%,0%,54%,...,NaN,"Women's Health Care, SC",Yes,Yes,Yes,No,Yes,Yes,Yes,WI
425,426,"AURORA HEALTH CARE–AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,100%,0%,0%,0%,50%,...,NaN,"Aurora Health Care–Aurora Fertility Services, ...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI

In [91]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2006_cycles
df_2006_cycles = df_2006[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2006_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,34,8,5,1,8,4,2,0,5,3
1,179,56,45,11,22,8,2,0,35,9
2,30,9,12,2,1,2,0,0,2,1
3,52,10,12,1,12,7,2,0,20,5
4,108,39,20,5,6,2,1,0,25,6
...,...,...,...,...,...,...,...,...,...,...
421,35,19,14,2,12,15,5,2,9,15
422,99,46,39,7,30,14,11,1,14,20
423,21,22,19,4,4,5,3,0,0,0
424,16,7,3,0,8,3,3,1,0,0
425,1,0,1,0,1,2,0,0,0,0

In [92]:
# turn all data into numeric
df_2006_cycles = df_2006_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2006_cycles = df_2006_cycles.astype(int)
df_2006_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,34,8,5,1,8,4,2,0,5,3
1,179,56,45,11,22,8,2,0,35,9
2,30,9,12,2,1,2,0,0,2,1
3,52,10,12,1,12,7,2,0,20,5
4,108,39,20,5,6,2,1,0,25,6
...,...,...,...,...,...,...,...,...,...,...
421,35,19,14,2,12,15,5,2,9,15
422,99,46,39,7,30,14,11,1,14,20
423,21,22,19,4,4,5,3,0,0,0
424,16,7,3,0,8,3,3,1,0,0
425,1,0,1,0,1,2,0,0,0,0

In [93]:
# add a "State" column from "ClinStateCode" from the df_2006 data frame
df_2006_cycles['State'] = df_2006['ClinStateCode']
df_2006_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,34,8,5,1,8,4,2,0,5,3,ALABAMA
1,179,56,45,11,22,8,2,0,35,9,ALABAMA
2,30,9,12,2,1,2,0,0,2,1,ALABAMA
3,52,10,12,1,12,7,2,0,20,5,ALABAMA
4,108,39,20,5,6,2,1,0,25,6,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...
421,35,19,14,2,12,15,5,2,9,15,WISCONSIN
422,99,46,39,7,30,14,11,1,14,20,WISCONSIN
423,21,22,19,4,4,5,3,0,0,0,WISCONSIN
424,16,7,3,0,8,3,3,1,0,0,WISCONSIN
425,1,0,1,0,1,2,0,0,0,0,WISCONSIN

In [94]:
#  add a column "total cycles" by summing all numeric columns
df_2006_cycles['total_cycles'] = df_2006_cycles.iloc[:, 0:10].sum(axis=1)
df_2006_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,34,8,5,1,8,4,2,0,5,3,ALABAMA,70
1,179,56,45,11,22,8,2,0,35,9,ALABAMA,367
2,30,9,12,2,1,2,0,0,2,1,ALABAMA,59
3,52,10,12,1,12,7,2,0,20,5,ALABAMA,121
4,108,39,20,5,6,2,1,0,25,6,ALABAMA,212
...,...,...,...,...,...,...,...,...,...,...,...,...
421,35,19,14,2,12,15,5,2,9,15,WISCONSIN,128
422,99,46,39,7,30,14,11,1,14,20,WISCONSIN,281
423,21,22,19,4,4,5,3,0,0,0,WISCONSIN,78
424,16,7,3,0,8,3,3,1,0,0,WISCONSIN,41
425,1,0,1,0,1,2,0,0,0,0,WISCONSIN,5

In [95]:
# group by state
df_2006_cycles_by_state = df_2006_cycles.groupby('State').sum()
df_2006_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,434,123,95,25,51,23,7,0,88,24,870
ALASKA,28,7,15,5,2,0,1,0,1,0,59
ARIZONA,700,339,235,88,291,141,55,25,146,120,2140
ARKANSAS,111,34,21,4,38,10,7,2,12,5,244
CALIFORNIA,4144,2989,3251,1647,1208,792,554,195,2020,1254,18054
COLORADO,599,370,292,133,185,88,49,17,305,149,2187
CONNECTICUT,1009,690,614,246,174,115,57,16,215,110,3246
DELAWARE,94,63,37,9,30,20,15,1,8,7,284
DISTRICT OF COLUMBIA,349,262,232,134,53,39,33,10,51,20,1183
FLORIDA,2141,1241,958,384,364,206,112,28,535,143,6112
GEORGIA,810,487,363,142,264,141,62,28,210,113,2620
HAWAII,121,94,88,53,30,33,12,3,39,11,484
IDAHO,138,54,42,14,65,31,10,3,45,46,448
ILLINOIS,3119,1798,1343,659,677,347,189,64,532,236,8964
INDIANA,801,284,199,77,203,89,43,10,117,68,1891
IOWA,310,130,59,27,91,25,22,3,40,18,725
KANSAS,456,125,104,19,72,19,7,4,91,36,933
KENTUCKY,200,83,49,21,53,13,12,5,16,7,459
LOUISIANA,353,159,85,55,66,29,11,4,16,12,790
MAINE,38,18,17,7,5,0,1,1,0,0,87
MARYLAND,1654,1096,891,421,297,234,142,35,439,185,5394
MASSACHUSETTS,2637,1779,1600,755,498,303,179,52,407,242,8452
MICHIGAN,1108,504,304,127,324,137,56,11,205,153,2929
MINNESOTA,827,376,264,100,190,103,50,10,205,80,2205
MISSISSIPPI,128,45,19,8,26,7,3,0,19,6,261
MISSOURI,771,256,176,79,115,40,35,12,100,49,1633
NEBRASKA,276,81,44,19,68,11,5,0,47,18,569
NEVADA,474,229,187,74,186,101,65,27,133,102,1578
NEW HAMPSHIRE,56,28,25,20,18,8,3,3,7,13,181
NEW JERSEY,2771,1638,1461,709,589,269,142,60,606,355,8600
NEW MEXICO,51,23,11,11,11,2,4,2,29,20,164
NEW YORK,4688,3161,3199,1995,1165,649,363,122,1075,534,16951
NORTH CAROLINA,867,458,294,86,237,88,48,11,152,82,2323
NORTH DAKOTA,69,17,6,5,26,4,2,0,0,2,131
OHIO,1314,555,385,147,405,197,106,35,227,115,3486
OKLAHOMA,311,91,71,13,51,17,7,2,57,35,655
OREGON,352,180,134,55,157,92,46,11,162,106,1295
PENNSYLVANIA,1131,633,471,167,334,150,94,29,188,150,3347
PUERTO RICO,99,55,55,19,3,1,1,0,16,0,249
RHODE ISLAND,278,148,130,71,47,16,20,11,52,18,791
SOUTH CAROLINA,372,139,84,29,97,29,17,2,92,38,899
SOUTH DAKOTA,99,21,15,5,35,12,3,0,5,5,200
TENNESSEE,558,213,147,49,129,48,23,4,78,99,1348
TEXAS,2156,1062,737,301,559,292,130,43,494,212,5986
UTAH,415,91,77,23,73,23,15,3,42,13,775
VERMONT,50,38,21,6,7,7,2,0,6,3,140
VIRGINIA,866,524,397,154,269,129,82,22,350,239,3032
WASHINGTON,676,419,338,120,198,110,69,31,302,141,2404
WEST VIRGINIA,63,26,24,4,13,2,1,1,3,1,138
WISCONSIN,297,140,109,25,105,57,34,5,64,61,897

In [96]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2006 = df_2006_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2006: {total_cycles_2006}')

Total number of cycles in 2006: 128793

In [97]:
#  in df_2006_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2006_cycles_by_state['total_cycles_non_donor'] = df_2006_cycles_by_state['FshNDCycle1'] + df_2006_cycles_by_state['FshNDCycle2'] + df_2006_cycles_by_state['FshNDCycle3'] + df_2006_cycles_by_state['FshNDCycle4'] + df_2006_cycles_by_state['ThwNDTransfers1'] + df_2006_cycles_by_state['ThwNDTransfers2'] + df_2006_cycles_by_state['ThwNDTransfers3'] + df_2006_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2006_cycles_by_state['total_cycles_donor'] = df_2006_cycles_by_state['FshDnrTransfers'] + df_2006_cycles_by_state['ThwDnrTransfers']
df_2006_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,434,123,95,25,51,23,7,0,88,24,870,758,112
ALASKA,28,7,15,5,2,0,1,0,1,0,59,58,1
ARIZONA,700,339,235,88,291,141,55,25,146,120,2140,1874,266
ARKANSAS,111,34,21,4,38,10,7,2,12,5,244,227,17
CALIFORNIA,4144,2989,3251,1647,1208,792,554,195,2020,1254,18054,14780,3274
COLORADO,599,370,292,133,185,88,49,17,305,149,2187,1733,454
CONNECTICUT,1009,690,614,246,174,115,57,16,215,110,3246,2921,325
DELAWARE,94,63,37,9,30,20,15,1,8,7,284,269,15
DISTRICT OF COLUMBIA,349,262,232,134,53,39,33,10,51,20,1183,1112,71
FLORIDA,2141,1241,958,384,364,206,112,28,535,143,6112,5434,678
GEORGIA,810,487,363,142,264,141,62,28,210,113,2620,2297,323
HAWAII,121,94,88,53,30,33,12,3,39,11,484,434,50
IDAHO,138,54,42,14,65,31,10,3,45,46,448,357,91
ILLINOIS,3119,1798,1343,659,677,347,189,64,532,236,8964,8196,768
INDIANA,801,284,199,77,203,89,43,10,117,68,1891,1706,185
IOWA,310,130,59,27,91,25,22,3,40,18,725,667,58
KANSAS,456,125,104,19,72,19,7,4,91,36,933,806,127
KENTUCKY,200,83,49,21,53,13,12,5,16,7,459,436,23
LOUISIANA,353,159,85,55,66,29,11,4,16,12,790,762,28
MAINE,38,18,17,7,5,0,1,1,0,0,87,87,0
MARYLAND,1654,1096,891,421,297,234,142,35,439,185,5394,4770,624
MASSACHUSETTS,2637,1779,1600,755,498,303,179,52,407,242,8452,7803,649
MICHIGAN,1108,504,304,127,324,137,56,11,205,153,2929,2571,358
MINNESOTA,827,376,264,100,190,103,50,10,205,80,2205,1920,285
MISSISSIPPI,128,45,19,8,26,7,3,0,19,6,261,236,25
MISSOURI,771,256,176,79,115,40,35,12,100,49,1633,1484,149
NEBRASKA,276,81,44,19,68,11,5,0,47,18,569,504,65
NEVADA,474,229,187,74,186,101,65,27,133,102,1578,1343,235
NEW HAMPSHIRE,56,28,25,20,18,8,3,3,7,13,181,161,20
NEW JERSEY,2771,1638,1461,709,589,269,142,60,606,355,8600,7639,961
NEW MEXICO,51,23,11,11,11,2,4,2,29,20,164,115,49
NEW YORK,4688,3161,3199,1995,1165,649,363,122,1075,534,16951,15342,1609
NORTH CAROLINA,867,458,294,86,237,88,48,11,152,82,2323,2089,234
NORTH DAKOTA,69,17,6,5,26,4,2,0,0,2,131,129,2
OHIO,1314,555,385,147,405,197,106,35,227,115,3486,3144,342
OKLAHOMA,311,91,71,13,51,17,7,2,57,35,655,563,92
OREGON,352,180,134,55,157,92,46,11,162,106,1295,1027,268
PENNSYLVANIA,1131,633,471,167,334,150,94,29,188,150,3347,3009,338
PUERTO RICO,99,55,55,19,3,1,1,0,16,0,249,233,16
RHODE ISLAND,278,148,130,71,47,16,20,11,52,18,791,721,70
SOUTH CAROLINA,372,139,84,29,97,29,17,2,92,38,899,769,130
SOUTH DAKOTA,99,21,15,5,35,12,3,0,5,5,200,190,10
TENNESSEE,558,213,147,49,129,48,23,4,78,99,1348,1171,177
TEXAS,2156,1062,737,301,559,292,130,43,494,212,5986,5280,706
UTAH,415,91,77,23,73,23,15,3,42,13,775,720,55
VERMONT,50,38,21,6,7,7,2,0,6,3,140,131,9
VIRGINIA,866,524,397,154,269,129,82,22,350,239,3032,2443,589
WASHINGTON,676,419,338,120,198,110,69,31,302,141,2404,1961,443
WEST VIRGINIA,63,26,24,4,13,2,1,1,3,1,138,134,4
WISCONSIN,297,140,109,25,105,57,34,5,64,61,897,772,125

In [99]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2006_cycles_by_state = df_2006_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2006_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        870                     758                 112
ALASKA                          59                      58                   1
ARIZONA                       2140                    1874                 266
ARKANSAS                       244                     227                  17
CALIFORNIA                   18054                   14780                3274
COLORADO                      2187                    1733                 454
CONNECTICUT                   3246                    2921                 325
DELAWARE                       284                     269                  15
DISTRICT OF COLUMBIA          1183                    1112                  71
FLORIDA                       6112                    5434                 678
GEORGIA                       2620                    2297                 323
HAWAII                         484                     434                  50
IDAHO                          448                     357                  91
ILLINOIS                      8964                    8196                 768
INDIANA                       1891                    1706                 185
IOWA                           725                     667                  58
KANSAS                         933                     806                 127
KENTUCKY                       459                     436                  23
LOUISIANA                      790                     762                  28
MAINE                           87                      87                   0
MARYLAND                      5394                    4770                 624
MASSACHUSETTS                 8452                    7803                 649
MICHIGAN                      2929                    2571                 358
MINNESOTA                     2205                    1920                 285
MISSISSIPPI                    261                     236                  25
MISSOURI                      1633                    1484                 149
NEBRASKA                       569                     504                  65
NEVADA                        1578                    1343                 235
NEW HAMPSHIRE                  181                     161                  20
NEW JERSEY                    8600                    7639                 961
NEW MEXICO                     164                     115                  49
NEW YORK                     16951                   15342                1609
NORTH CAROLINA                2323                    2089                 234
NORTH DAKOTA                   131                     129                   2
OHIO                          3486                    3144                 342
OKLAHOMA                       655                     563                  92
OREGON                        1295                    1027                 268
PENNSYLVANIA                  3347                    3009                 338
PUERTO RICO                    249                     233                  16
RHODE ISLAND                   791                     721                  70
SOUTH CAROLINA                 899                     769                 130
SOUTH DAKOTA                   200                     190                  10
TENNESSEE                     1348                    1171                 177
TEXAS                         5986                    5280                 706
UTAH                           775                     720                  55
VERMONT                        140                     131                   9
VIRGINIA                      3032                    2443                 589
WASHINGTON                    2404                    1961                 443
WEST VIRGINIA                  138                     134                   4
WISCONSIN                      897                     772                 125

In [100]:
# add a row called "NATIONAL" to the df_2006_cycles_by_state, which is the sum of all states
df_2006_cycles_by_state.loc['NATIONAL'] = df_2006_cycles_by_state.sum()
df_2006_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        870                     758                 112
ALASKA                          59                      58                   1
ARIZONA                       2140                    1874                 266
ARKANSAS                       244                     227                  17
CALIFORNIA                   18054                   14780                3274
COLORADO                      2187                    1733                 454
CONNECTICUT                   3246                    2921                 325
DELAWARE                       284                     269                  15
DISTRICT OF COLUMBIA          1183                    1112                  71
FLORIDA                       6112                    5434                 678
GEORGIA                       2620                    2297                 323
HAWAII                         484                     434                  50
IDAHO                          448                     357                  91
ILLINOIS                      8964                    8196                 768
INDIANA                       1891                    1706                 185
IOWA                           725                     667                  58
KANSAS                         933                     806                 127
KENTUCKY                       459                     436                  23
LOUISIANA                      790                     762                  28
MAINE                           87                      87                   0
MARYLAND                      5394                    4770                 624
MASSACHUSETTS                 8452                    7803                 649
MICHIGAN                      2929                    2571                 358
MINNESOTA                     2205                    1920                 285
MISSISSIPPI                    261                     236                  25
MISSOURI                      1633                    1484                 149
NEBRASKA                       569                     504                  65
NEVADA                        1578                    1343                 235
NEW HAMPSHIRE                  181                     161                  20
NEW JERSEY                    8600                    7639                 961
NEW MEXICO                     164                     115                  49
NEW YORK                     16951                   15342                1609
NORTH CAROLINA                2323                    2089                 234
NORTH DAKOTA                   131                     129                   2
OHIO                          3486                    3144                 342
OKLAHOMA                       655                     563                  92
OREGON                        1295                    1027                 268
PENNSYLVANIA                  3347                    3009                 338
PUERTO RICO                    249                     233                  16
RHODE ISLAND                   791                     721                  70
SOUTH CAROLINA                 899                     769                 130
SOUTH DAKOTA                   200                     190                  10
TENNESSEE                     1348                    1171                 177
TEXAS                         5986                    5280                 706
UTAH                           775                     720                  55
VERMONT                        140                     131                   9
VIRGINIA                      3032                    2443                 589
WASHINGTON                    2404                    1961                 443
WEST VIRGINIA                  138                     134                   4
WISCONSIN                      897                     772                 125
NATIONAL                    128793                  113288               15505

In [101]:
# save to csv in the "Output" folder as "2006_cycles_by_state.csv"
df_2006_cycles_by_state.to_csv("Output/2006_cycles_by_state.csv")

## 2010 data

In [102]:
# read excel "clinic_tables_data_2010"
df_2010 = pd.read_excel("Input/clinic_tables_data_2010.xls", sheet_name="Clinic Table Data Records", header=0)
df_2010

,OrderID,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,GIFT_Rate,ZIFT_Rate,Combo_Rate,ICSI_Rate,...,ThwDnrEmbryosRate,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation,state_code
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,38%,...,1.5,Alabama Fertility Specialists,Yes,Yes,Yes,No,Yes,Yes,Yes,AL
1,2,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,88%,...,2.0,ART Fertility Program of Alabama,Yes,Yes,Yes,Yes,Yes,Yes,Yes,AL
2,3,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,100%,0%,0%,0%,58%,...,2.0,University of Alabama at Birmingham,Yes,No,Yes,Yes,Yes,Yes,Yes,AL
3,4,"HUNTSVILLE REPRODUCTIVE MEDICINE, PC",NaN,HUNTSVILLE,ALABAMA,100%,0%,0%,0%,76%,...,2.1,"Huntsville Reproductive Medicine, PC",Yes,Yes,Yes,Yes,Yes,No,No,AL
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,0%,0%,0%,84%,...,NaN,Center for Reproductive Medicine,Yes,Yes,No,Yes,Yes,Yes,Yes,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,439,WISCONSIN FERTILITY INSTITUTE,NaN,MIDDLETON,WISCONSIN,100%,0%,0%,0%,94%,...,2.2,Wisconsin Fertility Institute,Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
439,440,REPRODUCTIVE MEDICINE CENTER,FROEDTERT-MEDICAL COLLEGE,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,92%,...,1.8,"Reproductive Medicine Center, Froedtert-Medica...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI
440,441,REPRODUCTIVE SPECIALTY CENTER,NaN,MILWAUKEE,WISCONSIN,100%,0%,0%,0%,46%,...,NaN,Reproductive Specialty Center,Yes,No,Yes,Yes,Yes,Yes,Yes,WI
441,442,"WOMEN'S HEALTH CARE, SC",NaN,WAUKESHA,WISCONSIN,100%,0%,0%,0%,56%,...,NaN,This clinic has closed or reorganized since 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WI
442,443,"AURORA HEALTH CARE-AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,100%,0%,0%,0%,92%,...,2.0,"Aurora Health Care-Aurora Fertility Services, ...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,WI

In [103]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2010_cycles
df_2010_cycles = df_2010[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2010_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,35,12,6,4,17,2,0,0,3,6
1,168,28,32,1,46,7,2,2,27,21
2,18,14,3,1,6,3,1,0,1,2
3,42,19,9,2,23,8,8,0,10,10
4,95,39,23,16,9,6,6,3,22,0
...,...,...,...,...,...,...,...,...,...,...
438,60,35,19,4,36,16,11,2,21,25
439,109,46,33,2,29,16,12,0,21,11
440,21,12,20,15,8,5,3,0,2,0
441,3,3,2,1,2,0,0,0,0,0
442,52,23,16,4,9,1,1,0,5,1

In [104]:
# turn all data into numeric
df_2010_cycles = df_2010_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2010_cycles = df_2010_cycles.astype(int)
df_2010_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,35,12,6,4,17,2,0,0,3,6
1,168,28,32,1,46,7,2,2,27,21
2,18,14,3,1,6,3,1,0,1,2
3,42,19,9,2,23,8,8,0,10,10
4,95,39,23,16,9,6,6,3,22,0
...,...,...,...,...,...,...,...,...,...,...
438,60,35,19,4,36,16,11,2,21,25
439,109,46,33,2,29,16,12,0,21,11
440,21,12,20,15,8,5,3,0,2,0
441,3,3,2,1,2,0,0,0,0,0
442,52,23,16,4,9,1,1,0,5,1

In [105]:
# add a "State" column from "ClinStateCode" from the df_2010 data frame
df_2010_cycles['State'] = df_2010['ClinStateCode']
df_2010_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,35,12,6,4,17,2,0,0,3,6,ALABAMA
1,168,28,32,1,46,7,2,2,27,21,ALABAMA
2,18,14,3,1,6,3,1,0,1,2,ALABAMA
3,42,19,9,2,23,8,8,0,10,10,ALABAMA
4,95,39,23,16,9,6,6,3,22,0,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...
438,60,35,19,4,36,16,11,2,21,25,WISCONSIN
439,109,46,33,2,29,16,12,0,21,11,WISCONSIN
440,21,12,20,15,8,5,3,0,2,0,WISCONSIN
441,3,3,2,1,2,0,0,0,0,0,WISCONSIN
442,52,23,16,4,9,1,1,0,5,1,WISCONSIN

In [106]:
# add a column "total cycles" by summing all numeric columns
df_2010_cycles['total_cycles'] = df_2010_cycles.iloc[:, 0:10].sum(axis=1)
df_2010_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,35,12,6,4,17,2,0,0,3,6,ALABAMA,85
1,168,28,32,1,46,7,2,2,27,21,ALABAMA,334
2,18,14,3,1,6,3,1,0,1,2,ALABAMA,49
3,42,19,9,2,23,8,8,0,10,10,ALABAMA,131
4,95,39,23,16,9,6,6,3,22,0,ALABAMA,219
...,...,...,...,...,...,...,...,...,...,...,...,...
438,60,35,19,4,36,16,11,2,21,25,WISCONSIN,229
439,109,46,33,2,29,16,12,0,21,11,WISCONSIN,279
440,21,12,20,15,8,5,3,0,2,0,WISCONSIN,86
441,3,3,2,1,2,0,0,0,0,0,WISCONSIN,11
442,52,23,16,4,9,1,1,0,5,1,WISCONSIN,112

In [107]:
# group by state
df_2010_cycles_by_state = df_2010_cycles.groupby('State').sum()
df_2010_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,374,119,76,29,104,26,17,5,63,39,852
ALASKA,32,12,16,7,5,1,2,0,2,0,77
ARIZONA,561,262,240,104,294,108,98,34,142,113,1956
ARKANSAS,124,47,38,12,46,11,8,2,11,9,308
CALIFORNIA,3913,2675,3136,1644,1506,941,740,318,1787,1212,17872
COLORADO,493,250,209,84,289,188,200,82,257,184,2236
CONNECTICUT,1000,604,636,283,206,123,119,28,266,211,3476
DELAWARE,248,78,66,23,77,53,36,13,11,30,635
DISTRICT OF COLUMBIA,334,235,283,182,53,49,27,15,40,35,1253
FLORIDA,1923,958,951,420,453,187,152,55,537,239,5875
GEORGIA,747,414,402,140,343,172,135,28,110,161,2652
HAWAII,154,118,133,70,34,25,29,2,51,49,665
IDAHO,110,43,43,10,62,18,13,6,41,45,391
ILLINOIS,2945,1461,1520,706,950,437,309,104,531,346,9309
INDIANA,770,256,193,49,176,67,32,9,130,74,1756
IOWA,422,107,74,31,150,38,25,8,33,53,941
KANSAS,391,151,98,21,118,47,16,3,54,28,927
KENTUCKY,229,62,38,24,73,37,14,7,27,19,530
LOUISIANA,341,107,100,43,72,24,18,6,22,17,750
MARYLAND,1869,1074,1103,496,407,238,182,62,672,285,6388
MASSACHUSETTS,3155,1871,1935,939,622,345,269,89,384,240,9849
MICHIGAN,1084,408,409,133,441,149,109,22,165,171,3091
MINNESOTA,877,316,299,97,246,93,54,11,166,103,2262
MISSISSIPPI,85,28,16,8,18,8,7,1,8,15,194
MISSOURI,453,200,113,40,172,65,44,14,61,43,1205
NEBRASKA,222,89,48,21,73,16,11,5,41,20,546
NEVADA,308,127,177,41,198,79,59,16,74,94,1173
NEW HAMPSHIRE,61,40,39,15,18,2,6,1,5,7,194
NEW JERSEY,2449,1246,1277,697,625,352,236,74,513,368,7837
NEW MEXICO,78,32,31,10,21,13,8,2,20,25,240
NEW YORK,4798,2913,3584,2087,1439,753,651,224,1196,652,18297
NORTH CAROLINA,955,443,364,139,298,171,78,27,205,105,2785
NORTH DAKOTA,58,19,11,8,29,11,8,2,8,1,155
OHIO,1409,575,432,159,403,162,100,41,202,156,3639
OKLAHOMA,330,105,76,12,75,32,20,5,34,29,718
OREGON,309,161,171,52,132,60,55,20,152,108,1220
PENNSYLVANIA,1478,697,622,219,446,202,143,47,238,236,4328
PUERTO RICO,69,49,38,16,4,4,0,1,10,0,191
RHODE ISLAND,216,119,115,78,48,31,13,3,20,7,650
SOUTH CAROLINA,349,149,93,30,114,49,26,6,95,56,967
SOUTH DAKOTA,112,26,19,7,26,9,9,1,6,1,216
TENNESSEE,438,158,134,34,145,54,37,9,59,175,1243
TEXAS,2920,1356,1221,456,834,364,318,90,629,352,8540
UTAH,466,101,87,31,126,30,17,6,56,8,928
VERMONT,41,34,28,12,5,2,2,1,10,3,138
VIRGINIA,872,492,499,201,259,148,97,46,326,230,3170
WASHINGTON,721,396,396,156,251,141,98,35,334,267,2795
WEST VIRGINIA,64,21,31,2,12,4,3,0,5,1,143
WISCONSIN,384,162,119,42,133,56,32,5,57,43,1033

In [108]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2010 = df_2010_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2010: {total_cycles_2010}')

Total number of cycles in 2010: 136596

In [109]:
#  in df_2010_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2010_cycles_by_state['total_cycles_non_donor'] = df_2010_cycles_by_state['FshNDCycle1'] + df_2010_cycles_by_state['FshNDCycle2'] + df_2010_cycles_by_state['FshNDCycle3'] + df_2010_cycles_by_state['FshNDCycle4'] + df_2010_cycles_by_state['ThwNDTransfers1'] + df_2010_cycles_by_state['ThwNDTransfers2'] + df_2010_cycles_by_state['ThwNDTransfers3'] + df_2010_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2010_cycles_by_state['total_cycles_donor'] = df_2010_cycles_by_state['FshDnrTransfers'] + df_2010_cycles_by_state['ThwDnrTransfers']
df_2010_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,374,119,76,29,104,26,17,5,63,39,852,750,102
ALASKA,32,12,16,7,5,1,2,0,2,0,77,75,2
ARIZONA,561,262,240,104,294,108,98,34,142,113,1956,1701,255
ARKANSAS,124,47,38,12,46,11,8,2,11,9,308,288,20
CALIFORNIA,3913,2675,3136,1644,1506,941,740,318,1787,1212,17872,14873,2999
COLORADO,493,250,209,84,289,188,200,82,257,184,2236,1795,441
CONNECTICUT,1000,604,636,283,206,123,119,28,266,211,3476,2999,477
DELAWARE,248,78,66,23,77,53,36,13,11,30,635,594,41
DISTRICT OF COLUMBIA,334,235,283,182,53,49,27,15,40,35,1253,1178,75
FLORIDA,1923,958,951,420,453,187,152,55,537,239,5875,5099,776
GEORGIA,747,414,402,140,343,172,135,28,110,161,2652,2381,271
HAWAII,154,118,133,70,34,25,29,2,51,49,665,565,100
IDAHO,110,43,43,10,62,18,13,6,41,45,391,305,86
ILLINOIS,2945,1461,1520,706,950,437,309,104,531,346,9309,8432,877
INDIANA,770,256,193,49,176,67,32,9,130,74,1756,1552,204
IOWA,422,107,74,31,150,38,25,8,33,53,941,855,86
KANSAS,391,151,98,21,118,47,16,3,54,28,927,845,82
KENTUCKY,229,62,38,24,73,37,14,7,27,19,530,484,46
LOUISIANA,341,107,100,43,72,24,18,6,22,17,750,711,39
MARYLAND,1869,1074,1103,496,407,238,182,62,672,285,6388,5431,957
MASSACHUSETTS,3155,1871,1935,939,622,345,269,89,384,240,9849,9225,624
MICHIGAN,1084,408,409,133,441,149,109,22,165,171,3091,2755,336
MINNESOTA,877,316,299,97,246,93,54,11,166,103,2262,1993,269
MISSISSIPPI,85,28,16,8,18,8,7,1,8,15,194,171,23
MISSOURI,453,200,113,40,172,65,44,14,61,43,1205,1101,104
NEBRASKA,222,89,48,21,73,16,11,5,41,20,546,485,61
NEVADA,308,127,177,41,198,79,59,16,74,94,1173,1005,168
NEW HAMPSHIRE,61,40,39,15,18,2,6,1,5,7,194,182,12
NEW JERSEY,2449,1246,1277,697,625,352,236,74,513,368,7837,6956,881
NEW MEXICO,78,32,31,10,21,13,8,2,20,25,240,195,45
NEW YORK,4798,2913,3584,2087,1439,753,651,224,1196,652,18297,16449,1848
NORTH CAROLINA,955,443,364,139,298,171,78,27,205,105,2785,2475,310
NORTH DAKOTA,58,19,11,8,29,11,8,2,8,1,155,146,9
OHIO,1409,575,432,159,403,162,100,41,202,156,3639,3281,358
OKLAHOMA,330,105,76,12,75,32,20,5,34,29,718,655,63
OREGON,309,161,171,52,132,60,55,20,152,108,1220,960,260
PENNSYLVANIA,1478,697,622,219,446,202,143,47,238,236,4328,3854,474
PUERTO RICO,69,49,38,16,4,4,0,1,10,0,191,181,10
RHODE ISLAND,216,119,115,78,48,31,13,3,20,7,650,623,27
SOUTH CAROLINA,349,149,93,30,114,49,26,6,95,56,967,816,151
SOUTH DAKOTA,112,26,19,7,26,9,9,1,6,1,216,209,7
TENNESSEE,438,158,134,34,145,54,37,9,59,175,1243,1009,234
TEXAS,2920,1356,1221,456,834,364,318,90,629,352,8540,7559,981
UTAH,466,101,87,31,126,30,17,6,56,8,928,864,64
VERMONT,41,34,28,12,5,2,2,1,10,3,138,125,13
VIRGINIA,872,492,499,201,259,148,97,46,326,230,3170,2614,556
WASHINGTON,721,396,396,156,251,141,98,35,334,267,2795,2194,601
WEST VIRGINIA,64,21,31,2,12,4,3,0,5,1,143,137,6
WISCONSIN,384,162,119,42,133,56,32,5,57,43,1033,933,100

In [110]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2010_cycles_by_state = df_2010_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2010_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        852                     750                 102
ALASKA                          77                      75                   2
ARIZONA                       1956                    1701                 255
ARKANSAS                       308                     288                  20
CALIFORNIA                   17872                   14873                2999
COLORADO                      2236                    1795                 441
CONNECTICUT                   3476                    2999                 477
DELAWARE                       635                     594                  41
DISTRICT OF COLUMBIA          1253                    1178                  75
FLORIDA                       5875                    5099                 776
GEORGIA                       2652                    2381                 271
HAWAII                         665                     565                 100
IDAHO                          391                     305                  86
ILLINOIS                      9309                    8432                 877
INDIANA                       1756                    1552                 204
IOWA                           941                     855                  86
KANSAS                         927                     845                  82
KENTUCKY                       530                     484                  46
LOUISIANA                      750                     711                  39
MARYLAND                      6388                    5431                 957
MASSACHUSETTS                 9849                    9225                 624
MICHIGAN                      3091                    2755                 336
MINNESOTA                     2262                    1993                 269
MISSISSIPPI                    194                     171                  23
MISSOURI                      1205                    1101                 104
NEBRASKA                       546                     485                  61
NEVADA                        1173                    1005                 168
NEW HAMPSHIRE                  194                     182                  12
NEW JERSEY                    7837                    6956                 881
NEW MEXICO                     240                     195                  45
NEW YORK                     18297                   16449                1848
NORTH CAROLINA                2785                    2475                 310
NORTH DAKOTA                   155                     146                   9
OHIO                          3639                    3281                 358
OKLAHOMA                       718                     655                  63
OREGON                        1220                     960                 260
PENNSYLVANIA                  4328                    3854                 474
PUERTO RICO                    191                     181                  10
RHODE ISLAND                   650                     623                  27
SOUTH CAROLINA                 967                     816                 151
SOUTH DAKOTA                   216                     209                   7
TENNESSEE                     1243                    1009                 234
TEXAS                         8540                    7559                 981
UTAH                           928                     864                  64
VERMONT                        138                     125                  13
VIRGINIA                      3170                    2614                 556
WASHINGTON                    2795                    2194                 601
WEST VIRGINIA                  143                     137                   6
WISCONSIN                     1033                     933                 100

In [112]:
# add a row called "NATIONAL" to the df_2010_cycles_by_state, which is the sum of all states
df_2010_cycles_by_state.loc['NATIONAL'] = df_2010_cycles_by_state.sum()
df_2010_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        852                     750                 102
ALASKA                          77                      75                   2
ARIZONA                       1956                    1701                 255
ARKANSAS                       308                     288                  20
CALIFORNIA                   17872                   14873                2999
COLORADO                      2236                    1795                 441
CONNECTICUT                   3476                    2999                 477
DELAWARE                       635                     594                  41
DISTRICT OF COLUMBIA          1253                    1178                  75
FLORIDA                       5875                    5099                 776
GEORGIA                       2652                    2381                 271
HAWAII                         665                     565                 100
IDAHO                          391                     305                  86
ILLINOIS                      9309                    8432                 877
INDIANA                       1756                    1552                 204
IOWA                           941                     855                  86
KANSAS                         927                     845                  82
KENTUCKY                       530                     484                  46
LOUISIANA                      750                     711                  39
MARYLAND                      6388                    5431                 957
MASSACHUSETTS                 9849                    9225                 624
MICHIGAN                      3091                    2755                 336
MINNESOTA                     2262                    1993                 269
MISSISSIPPI                    194                     171                  23
MISSOURI                      1205                    1101                 104
NEBRASKA                       546                     485                  61
NEVADA                        1173                    1005                 168
NEW HAMPSHIRE                  194                     182                  12
NEW JERSEY                    7837                    6956                 881
NEW MEXICO                     240                     195                  45
NEW YORK                     18297                   16449                1848
NORTH CAROLINA                2785                    2475                 310
NORTH DAKOTA                   155                     146                   9
OHIO                          3639                    3281                 358
OKLAHOMA                       718                     655                  63
OREGON                        1220                     960                 260
PENNSYLVANIA                  4328                    3854                 474
PUERTO RICO                    191                     181                  10
RHODE ISLAND                   650                     623                  27
SOUTH CAROLINA                 967                     816                 151
SOUTH DAKOTA                   216                     209                   7
TENNESSEE                     1243                    1009                 234
TEXAS                         8540                    7559                 981
UTAH                           928                     864                  64
VERMONT                        138                     125                  13
VIRGINIA                      3170                    2614                 556
WASHINGTON                    2795                    2194                 601
WEST VIRGINIA                  143                     137                   6
WISCONSIN                     1033                     933                 100
NATIONAL                    273192                  240130               33062

In [113]:
# save to csv in the "Output" folder as "2010_cycles_by_state.csv"
df_2010_cycles_by_state.to_csv("Output/2010_cycles_by_state.csv")

## 2011 data

In [114]:
# read excel "clinic_tables_data_2011"
df_2011 = pd.read_excel("Input/clinic_tables_data_2011.xls", sheet_name="Clinic Table Data Records", header=0)
df_2011

,OrderID,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,ICSI_Rate,Unstimulated_Rate,Gest_Rate,PGD_Rate,...,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation,TotExcludedBankingCycles,state_code
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,100%,42%,0%,0%,0%,...,Alabama Fertility Specialists,Yes,Yes,Yes,No,Yes,Yes,Yes,0,AL
1,2,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,84%,0%,1%,3%,...,ART Fertility Program of Alabama,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
2,3,UNIVERSITY OF ALABAMA AT BIRMINGHAM,NaN,BIRMINGHAM,ALABAMA,100%,64%,0%,0%,7%,...,University of Alabama at Birmingham,Yes,No,Yes,Yes,Yes,Yes,Yes,4,AL
3,4,"HUNTSVILLE REPRODUCTIVE MEDICINE, PC",NaN,HUNTSVILLE,ALABAMA,100%,77%,0%,1%,0%,...,"Huntsville Reproductive Medicine, PC",Yes,Yes,Yes,Yes,Yes,No,No,2,AL
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,83%,0%,1%,1%,...,Center for Reproductive Medicine,Yes,Yes,No,Yes,Yes,Yes,Yes,2,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,447,UNIVERSITY OF WISCONSIN-GENERATIONS FERTILITY ...,NaN,MIDDLETON,WISCONSIN,100%,61%,0%,0%,5%,...,University of Wisconsin-Generations Fertility ...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1,WI
447,448,WISCONSIN FERTILITY INSTITUTE,NaN,MIDDLETON,WISCONSIN,100%,82%,2%,3%,10%,...,Wisconsin Fertility Institute,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,WI
448,449,FROEDTERT & MEDICAL COLLEGE OF WISCONSIN,REPRODUCTIVE MEDICINE CENTER,MILWAUKEE,WISCONSIN,100%,95%,0%,0%,4%,...,"Froedtert & Medical College of Wisconsin, Repr...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,WI
449,450,REPRODUCTIVE SPECIALTY CENTER,IVF COLUMBIA,MILWAUKEE,WISCONSIN,100%,61%,0%,0%,0%,...,"Reproductive Specialty Center, IVF Columbia",Yes,No,Yes,Yes,Yes,Yes,Yes,0,WI
450,451,"AURORA HEALTH CARE-AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,100%,92%,0%,0%,4%,...,This clinic has closed or reorganized since 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,WI

In [115]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2011_cycles
df_2011_cycles = df_2011[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2011_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,39,8,9,4,6,7,3,2,8,2
1,163,33,23,2,37,9,6,0,22,17
2,34,9,10,2,3,5,2,1,11,5
3,50,16,15,2,9,7,3,0,12,7
4,98,31,26,12,18,12,5,2,18,7
...,...,...,...,...,...,...,...,...,...,...
446,60,13,10,3,15,3,3,0,0,1
447,58,18,26,15,39,15,12,4,24,31
448,114,36,39,12,41,18,10,1,19,9
449,14,10,9,3,2,8,5,1,1,0
450,57,21,23,9,11,3,7,3,10,1

In [116]:
# turn all data into numeric
df_2011_cycles = df_2011_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals
df_2011_cycles = df_2011_cycles.astype(int)
df_2011_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers
0,39,8,9,4,6,7,3,2,8,2
1,163,33,23,2,37,9,6,0,22,17
2,34,9,10,2,3,5,2,1,11,5
3,50,16,15,2,9,7,3,0,12,7
4,98,31,26,12,18,12,5,2,18,7
...,...,...,...,...,...,...,...,...,...,...
446,60,13,10,3,15,3,3,0,0,1
447,58,18,26,15,39,15,12,4,24,31
448,114,36,39,12,41,18,10,1,19,9
449,14,10,9,3,2,8,5,1,1,0
450,57,21,23,9,11,3,7,3,10,1

In [117]:
# add a "State" column from "ClinStateCode" from the df_2011 data frame
df_2011_cycles['State'] = df_2011['ClinStateCode']
df_2011_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State
0,39,8,9,4,6,7,3,2,8,2,ALABAMA
1,163,33,23,2,37,9,6,0,22,17,ALABAMA
2,34,9,10,2,3,5,2,1,11,5,ALABAMA
3,50,16,15,2,9,7,3,0,12,7,ALABAMA
4,98,31,26,12,18,12,5,2,18,7,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...
446,60,13,10,3,15,3,3,0,0,1,WISCONSIN
447,58,18,26,15,39,15,12,4,24,31,WISCONSIN
448,114,36,39,12,41,18,10,1,19,9,WISCONSIN
449,14,10,9,3,2,8,5,1,1,0,WISCONSIN
450,57,21,23,9,11,3,7,3,10,1,WISCONSIN

In [118]:
# add a column "total cycles" by summing all numeric columns
df_2011_cycles['total_cycles'] = df_2011_cycles.iloc[:, 0:10].sum(axis=1)
df_2011_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,State,total_cycles
0,39,8,9,4,6,7,3,2,8,2,ALABAMA,88
1,163,33,23,2,37,9,6,0,22,17,ALABAMA,312
2,34,9,10,2,3,5,2,1,11,5,ALABAMA,82
3,50,16,15,2,9,7,3,0,12,7,ALABAMA,121
4,98,31,26,12,18,12,5,2,18,7,ALABAMA,229
...,...,...,...,...,...,...,...,...,...,...,...,...
446,60,13,10,3,15,3,3,0,0,1,WISCONSIN,108
447,58,18,26,15,39,15,12,4,24,31,WISCONSIN,242
448,114,36,39,12,41,18,10,1,19,9,WISCONSIN,299
449,14,10,9,3,2,8,5,1,1,0,WISCONSIN,53
450,57,21,23,9,11,3,7,3,10,1,WISCONSIN,145

In [119]:
# group by state
df_2011_cycles_by_state = df_2011_cycles.groupby('State').sum()
df_2011_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,
ALABAMA,405,102,87,23,75,42,21,5,71,38,869
ALASKA,62,16,16,2,7,1,3,0,6,2,115
ARIZONA,559,234,228,99,324,123,89,42,109,139,1946
ARKANSAS,127,40,33,13,42,15,10,1,6,6,293
CALIFORNIA,3775,2592,2863,1705,1641,1104,853,371,1716,1290,17910
COLORADO,453,211,168,68,392,261,232,104,249,218,2356
CONNECTICUT,969,517,569,298,237,133,108,41,215,199,3286
DELAWARE,176,61,47,24,141,54,25,7,9,29,573
DISTRICT OF COLUMBIA,390,251,380,177,77,55,36,19,35,25,1445
FLORIDA,1998,1049,1094,496,537,232,173,78,528,244,6429
GEORGIA,779,410,334,123,398,185,155,40,102,167,2693
HAWAII,182,138,157,100,41,41,32,8,92,37,828
IDAHO,118,37,29,15,49,20,8,3,46,49,374
ILLINOIS,2807,1385,1360,693,1036,492,355,129,535,426,9218
INDIANA,686,259,191,65,163,59,34,8,109,56,1630
IOWA,412,125,99,34,182,45,32,6,35,32,1002
KANSAS,394,123,88,22,124,48,19,4,64,54,940
KENTUCKY,178,71,52,20,63,28,19,2,29,29,491
LOUISIANA,374,133,131,53,64,33,15,4,23,16,846
MARYLAND,2014,1115,1144,568,556,293,215,83,785,387,7160
MASSACHUSETTS,3186,1793,1948,950,821,417,300,94,410,273,10192
MICHIGAN,1138,429,343,133,487,153,118,34,213,188,3236
MINNESOTA,827,305,241,105,224,105,46,11,179,95,2138
MISSISSIPPI,68,32,17,10,17,5,4,0,5,18,176
MISSOURI,512,147,124,32,203,73,49,30,75,53,1298
MONTANA,31,15,5,1,3,1,1,0,0,1,58
NEBRASKA,270,76,63,16,76,12,14,7,37,15,586
NEVADA,197,98,89,55,184,69,66,11,65,72,906
NEW HAMPSHIRE,58,32,19,9,19,15,2,3,8,5,170
NEW JERSEY,2364,1193,1078,668,751,397,282,84,456,396,7669
NEW MEXICO,72,33,22,8,20,10,8,2,13,21,209
NEW YORK,4581,2908,3610,2341,1516,810,768,333,1117,751,18735
NORTH CAROLINA,1052,473,357,152,329,176,114,33,214,112,3012
NORTH DAKOTA,95,20,12,4,47,10,6,2,4,3,203
OHIO,1391,489,383,151,351,162,96,36,215,150,3424
OKLAHOMA,329,95,69,22,89,21,14,9,43,26,717
OREGON,323,180,133,69,131,87,67,20,153,103,1266
PENNSYLVANIA,1432,660,646,277,482,195,111,39,238,219,4299
PUERTO RICO,77,53,42,26,6,0,3,1,17,3,228
RHODE ISLAND,265,108,110,60,32,14,15,7,26,6,643
SOUTH CAROLINA,384,151,111,35,129,63,38,15,85,54,1065
SOUTH DAKOTA,130,20,23,2,53,8,6,1,4,1,248
TENNESSEE,445,170,122,32,199,62,44,11,46,168,1299
TEXAS,3199,1394,1248,505,983,482,330,88,646,424,9299
UTAH,599,138,101,24,158,42,25,9,63,24,1183
VERMONT,48,33,27,7,5,3,2,2,13,2,142
VIRGINIA,901,548,543,215,304,154,86,26,272,226,3275
WASHINGTON,791,339,427,171,345,177,146,50,325,244,3015
WEST VIRGINIA,50,29,11,8,12,6,3,0,2,0,121
WISCONSIN,386,133,134,47,146,58,41,10,59,47,1061

In [120]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2011 = df_2011_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2011: {total_cycles_2011}')

Total number of cycles in 2011: 140277

In [121]:
#  in df_2011_cycles_by_state, group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4] into a new column "total_cycles_non_donor"
df_2011_cycles_by_state['total_cycles_non_donor'] = df_2011_cycles_by_state['FshNDCycle1'] + df_2011_cycles_by_state['FshNDCycle2'] + df_2011_cycles_by_state['FshNDCycle3'] + df_2011_cycles_by_state['FshNDCycle4'] + df_2011_cycles_by_state['ThwNDTransfers1'] + df_2011_cycles_by_state['ThwNDTransfers2'] + df_2011_cycles_by_state['ThwNDTransfers3'] + df_2011_cycles_by_state['ThwNDTransfers4']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2011_cycles_by_state['total_cycles_donor'] = df_2011_cycles_by_state['FshDnrTransfers'] + df_2011_cycles_by_state['ThwDnrTransfers']
df_2011_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,
ALABAMA,405,102,87,23,75,42,21,5,71,38,869,760,109
ALASKA,62,16,16,2,7,1,3,0,6,2,115,107,8
ARIZONA,559,234,228,99,324,123,89,42,109,139,1946,1698,248
ARKANSAS,127,40,33,13,42,15,10,1,6,6,293,281,12
CALIFORNIA,3775,2592,2863,1705,1641,1104,853,371,1716,1290,17910,14904,3006
COLORADO,453,211,168,68,392,261,232,104,249,218,2356,1889,467
CONNECTICUT,969,517,569,298,237,133,108,41,215,199,3286,2872,414
DELAWARE,176,61,47,24,141,54,25,7,9,29,573,535,38
DISTRICT OF COLUMBIA,390,251,380,177,77,55,36,19,35,25,1445,1385,60
FLORIDA,1998,1049,1094,496,537,232,173,78,528,244,6429,5657,772
GEORGIA,779,410,334,123,398,185,155,40,102,167,2693,2424,269
HAWAII,182,138,157,100,41,41,32,8,92,37,828,699,129
IDAHO,118,37,29,15,49,20,8,3,46,49,374,279,95
ILLINOIS,2807,1385,1360,693,1036,492,355,129,535,426,9218,8257,961
INDIANA,686,259,191,65,163,59,34,8,109,56,1630,1465,165
IOWA,412,125,99,34,182,45,32,6,35,32,1002,935,67
KANSAS,394,123,88,22,124,48,19,4,64,54,940,822,118
KENTUCKY,178,71,52,20,63,28,19,2,29,29,491,433,58
LOUISIANA,374,133,131,53,64,33,15,4,23,16,846,807,39
MARYLAND,2014,1115,1144,568,556,293,215,83,785,387,7160,5988,1172
MASSACHUSETTS,3186,1793,1948,950,821,417,300,94,410,273,10192,9509,683
MICHIGAN,1138,429,343,133,487,153,118,34,213,188,3236,2835,401
MINNESOTA,827,305,241,105,224,105,46,11,179,95,2138,1864,274
MISSISSIPPI,68,32,17,10,17,5,4,0,5,18,176,153,23
MISSOURI,512,147,124,32,203,73,49,30,75,53,1298,1170,128
MONTANA,31,15,5,1,3,1,1,0,0,1,58,57,1
NEBRASKA,270,76,63,16,76,12,14,7,37,15,586,534,52
NEVADA,197,98,89,55,184,69,66,11,65,72,906,769,137
NEW HAMPSHIRE,58,32,19,9,19,15,2,3,8,5,170,157,13
NEW JERSEY,2364,1193,1078,668,751,397,282,84,456,396,7669,6817,852
NEW MEXICO,72,33,22,8,20,10,8,2,13,21,209,175,34
NEW YORK,4581,2908,3610,2341,1516,810,768,333,1117,751,18735,16867,1868
NORTH CAROLINA,1052,473,357,152,329,176,114,33,214,112,3012,2686,326
NORTH DAKOTA,95,20,12,4,47,10,6,2,4,3,203,196,7
OHIO,1391,489,383,151,351,162,96,36,215,150,3424,3059,365
OKLAHOMA,329,95,69,22,89,21,14,9,43,26,717,648,69
OREGON,323,180,133,69,131,87,67,20,153,103,1266,1010,256
PENNSYLVANIA,1432,660,646,277,482,195,111,39,238,219,4299,3842,457
PUERTO RICO,77,53,42,26,6,0,3,1,17,3,228,208,20
RHODE ISLAND,265,108,110,60,32,14,15,7,26,6,643,611,32
SOUTH CAROLINA,384,151,111,35,129,63,38,15,85,54,1065,926,139
SOUTH DAKOTA,130,20,23,2,53,8,6,1,4,1,248,243,5
TENNESSEE,445,170,122,32,199,62,44,11,46,168,1299,1085,214
TEXAS,3199,1394,1248,505,983,482,330,88,646,424,9299,8229,1070
UTAH,599,138,101,24,158,42,25,9,63,24,1183,1096,87
VERMONT,48,33,27,7,5,3,2,2,13,2,142,127,15
VIRGINIA,901,548,543,215,304,154,86,26,272,226,3275,2777,498
WASHINGTON,791,339,427,171,345,177,146,50,325,244,3015,2446,569
WEST VIRGINIA,50,29,11,8,12,6,3,0,2,0,121,119,2
WISCONSIN,386,133,134,47,146,58,41,10,59,47,1061,955,106

In [122]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2011_cycles_by_state = df_2011_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2011_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        869                     760                 109
ALASKA                         115                     107                   8
ARIZONA                       1946                    1698                 248
ARKANSAS                       293                     281                  12
CALIFORNIA                   17910                   14904                3006
COLORADO                      2356                    1889                 467
CONNECTICUT                   3286                    2872                 414
DELAWARE                       573                     535                  38
DISTRICT OF COLUMBIA          1445                    1385                  60
FLORIDA                       6429                    5657                 772
GEORGIA                       2693                    2424                 269
HAWAII                         828                     699                 129
IDAHO                          374                     279                  95
ILLINOIS                      9218                    8257                 961
INDIANA                       1630                    1465                 165
IOWA                          1002                     935                  67
KANSAS                         940                     822                 118
KENTUCKY                       491                     433                  58
LOUISIANA                      846                     807                  39
MARYLAND                      7160                    5988                1172
MASSACHUSETTS                10192                    9509                 683
MICHIGAN                      3236                    2835                 401
MINNESOTA                     2138                    1864                 274
MISSISSIPPI                    176                     153                  23
MISSOURI                      1298                    1170                 128
MONTANA                         58                      57                   1
NEBRASKA                       586                     534                  52
NEVADA                         906                     769                 137
NEW HAMPSHIRE                  170                     157                  13
NEW JERSEY                    7669                    6817                 852
NEW MEXICO                     209                     175                  34
NEW YORK                     18735                   16867                1868
NORTH CAROLINA                3012                    2686                 326
NORTH DAKOTA                   203                     196                   7
OHIO                          3424                    3059                 365
OKLAHOMA                       717                     648                  69
OREGON                        1266                    1010                 256
PENNSYLVANIA                  4299                    3842                 457
PUERTO RICO                    228                     208                  20
RHODE ISLAND                   643                     611                  32
SOUTH CAROLINA                1065                     926                 139
SOUTH DAKOTA                   248                     243                   5
TENNESSEE                     1299                    1085                 214
TEXAS                         9299                    8229                1070
UTAH                          1183                    1096                  87
VERMONT                        142                     127                  15
VIRGINIA                      3275                    2777                 498
WASHINGTON                    3015                    2446                 569
WEST VIRGINIA                  121                     119                   2
WISCONSIN                     1061                     955                 106

In [123]:
# add a row called "NATIONAL" to the df_2011_cycles_by_state, which is the sum of all states
df_2011_cycles_by_state.loc['NATIONAL'] = df_2011_cycles_by_state.sum()
df_2011_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/4056775927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2011_cycles_by_state.loc['NATIONAL'] = df_2011_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                        869                     760                 109
ALASKA                         115                     107                   8
ARIZONA                       1946                    1698                 248
ARKANSAS                       293                     281                  12
CALIFORNIA                   17910                   14904                3006
COLORADO                      2356                    1889                 467
CONNECTICUT                   3286                    2872                 414
DELAWARE                       573                     535                  38
DISTRICT OF COLUMBIA          1445                    1385                  60
FLORIDA                       6429                    5657                 772
GEORGIA                       2693                    2424                 269
HAWAII                         828                     699                 129
IDAHO                          374                     279                  95
ILLINOIS                      9218                    8257                 961
INDIANA                       1630                    1465                 165
IOWA                          1002                     935                  67
KANSAS                         940                     822                 118
KENTUCKY                       491                     433                  58
LOUISIANA                      846                     807                  39
MARYLAND                      7160                    5988                1172
MASSACHUSETTS                10192                    9509                 683
MICHIGAN                      3236                    2835                 401
MINNESOTA                     2138                    1864                 274
MISSISSIPPI                    176                     153                  23
MISSOURI                      1298                    1170                 128
MONTANA                         58                      57                   1
NEBRASKA                       586                     534                  52
NEVADA                         906                     769                 137
NEW HAMPSHIRE                  170                     157                  13
NEW JERSEY                    7669                    6817                 852
NEW MEXICO                     209                     175                  34
NEW YORK                     18735                   16867                1868
NORTH CAROLINA                3012                    2686                 326
NORTH DAKOTA                   203                     196                   7
OHIO                          3424                    3059                 365
OKLAHOMA                       717                     648                  69
OREGON                        1266                    1010                 256
PENNSYLVANIA                  4299                    3842                 457
PUERTO RICO                    228                     208                  20
RHODE ISLAND                   643                     611                  32
SOUTH CAROLINA                1065                     926                 139
SOUTH DAKOTA                   248                     243                   5
TENNESSEE                     1299                    1085                 214
TEXAS                         9299                    8229                1070
UTAH                          1183                    1096                  87
VERMONT                        142                     127                  15
VIRGINIA                      3275                    2777                 498
WASHINGTON                    3015                    2446                 569
WEST VIRGINIA                  121                     119                   2
WISCONSIN                     1061                     955                 106
NATIONAL                    140277                  123367               16910

In [124]:
# save to csv in the "Output" folder as "2011_cycles_by_state.csv"
df_2011_cycles_by_state.to_csv("Output/2011_cycles_by_state.csv")

## 2015 data

In [148]:
# read excel "clinic_tables_data_2015"
df_2015 = pd.read_excel("Input/FINAL-2015-clinic-table-dataset.xls", sheet_name="Clinic Table Data Records", header=0)
df_2015

,Order ID,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,IVF_Rate,ICSI_Rate,Unstimulated_Rate,Gest_Rate,PGD_Rate,...,CurrClinNameAll,DonorEgg,DonorEmbryo,SingleWomen,Surrogates,Cryopreservation,SART_Member,Accreditation,TotExcludedResearchCycles,state_code
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,100%,43%,0%,0%,0%,...,Alabama Fertility Specialists,Yes,Yes,Yes,No,Yes,Yes,Yes,0,AL
1,2,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,100%,74%,0%,0%,0%,...,ART Fertility Program of Alabama,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
2,3,UNIVERSITY OF ALABAMA AT BIRMINGHAM,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,BIRMINGHAM,ALABAMA,100%,60%,0%,0%,0%,...,"University of Alabama at Birmingham, Reproduct...",Yes,No,Yes,Yes,Yes,Yes,Yes,0,AL
3,4,"HUNTSVILLE REPRODUCTIVE MEDICINE, PC",NaN,MADISON,ALABAMA,100%,96%,0%,0%,0%,...,"Huntsville Reproductive Medicine, PC",Yes,Yes,Yes,Yes,Yes,No,No,0,AL
4,5,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,100%,78%,0%,2%,1%,...,Center for Reproductive Medicine,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,460,UNIVERSITY OF WISCONSIN-GENERATIONS FERTILITY ...,NaN,MIDDLETON,WISCONSIN,100%,64%,0%,0%,0%,...,University of Wisconsin-Generations Fertility ...,Yes,No,Yes,No,Yes,Yes,Yes,0,WI
460,461,WISCONSIN FERTILITY INSTITUTE,NaN,MIDDLETON,WISCONSIN,100%,83%,0%,<1%,<1%,...,Wisconsin Fertility Institute,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
461,462,REPRODUCTIVE SPECIALTY CENTER,NaN,MILWAUKEE,WISCONSIN,100%,65%,0%,0%,0%,...,Reproductive Specialty Center,Yes,No,Yes,Yes,Yes,Yes,Yes,0,WI
462,463,GUNDERSEN FERTILITY CENTER,NaN,ONALASKA,WISCONSIN,100%,95%,0%,0%,2%,...,Gundersen Fertility Center,Yes,No,Yes,Yes,Yes,Yes,Yes,0,WI
463,464,"AURORA HEALTH CARE-AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,100%,79%,0%,0%,0%,...,"Aurora Health Care-Aurora Fertility Services, ...",Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI

In [149]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, FshNDCycle5, FshNDCycle6, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, ThwNDTransfers5,  ThwNDTransfers6, FshDnrTransfers, ThwDnrTransfers, FshDnrTotCycles, ThwDnrTotCycles, FshDnrTransfers, ThwDnrTransfers
# display the columns, and name the df as df_2015_cycles
df_2015_cycles = df_2015[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'FshNDCycle5', 'FshNDCycle6', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'ThwNDTransfers5', 'ThwNDTransfers6', 'FshDnrTransfers', 'ThwDnrTransfers']]
df_2015_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers
0,20,12,3,2,0,0,12,6,0,1,0,0,0,9
1,129,31,23,7,6,0,89,21,18,4,0,0,8,34
2,70,12,13,7,4,0,48,9,9,1,1,0,7,8
3,73,19,15,4,1,0,31,12,3,3,1,1,7,3
4,76,37,25,8,3,0,40,18,11,7,1,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,68,26,16,4,0,0,35,18,9,1,1,0,1,1
460,59,23,12,6,3,1,82,29,17,6,5,0,7,63
461,12,3,2,0,0,0,3,4,1,0,1,0,0,0
462,26,10,5,0,0,0,11,2,4,0,0,0,0,3
463,44,14,3,5,0,0,67,22,9,5,0,0,5,9

In [154]:
# turn all data into numeric
df_2015_cycles = df_2015_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals, replace NaN with 0
df_2015_cycles = df_2015_cycles.fillna(0)
df_2015_cycles = df_2015_cycles.astype(int)

df_2015_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers
0,20,12,3,2,0,0,12,6,0,1,0,0,0,9
1,129,31,23,7,6,0,89,21,18,4,0,0,8,34
2,70,12,13,7,4,0,48,9,9,1,1,0,7,8
3,73,19,15,4,1,0,31,12,3,3,1,1,7,3
4,76,37,25,8,3,0,40,18,11,7,1,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,68,26,16,4,0,0,35,18,9,1,1,0,1,1
460,59,23,12,6,3,1,82,29,17,6,5,0,7,63
461,12,3,2,0,0,0,3,4,1,0,1,0,0,0
462,26,10,5,0,0,0,11,2,4,0,0,0,0,3
463,44,14,3,5,0,0,67,22,9,5,0,0,5,9

In [142]:
# add a "State" column from "ClinStateCode" from the df_2015 data frame
df_2015_cycles['State'] = df_2015['ClinStateCode']
df_2015_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers,State
0,20.0,12.0,3.0,2.0,0.0,0.0,12.0,6.0,0.0,1.0,0.0,0.0,0.0,9.0,ALABAMA
1,129.0,31.0,23.0,7.0,6.0,0.0,89.0,21.0,18.0,4.0,0.0,0.0,8.0,34.0,ALABAMA
2,70.0,12.0,13.0,7.0,4.0,0.0,48.0,9.0,9.0,1.0,1.0,0.0,7.0,8.0,ALABAMA
3,73.0,19.0,15.0,4.0,1.0,0.0,31.0,12.0,3.0,3.0,1.0,1.0,7.0,3.0,ALABAMA
4,76.0,37.0,25.0,8.0,3.0,0.0,40.0,18.0,11.0,7.0,1.0,0.0,3.0,11.0,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,68.0,26.0,16.0,4.0,0.0,0.0,35.0,18.0,9.0,1.0,1.0,0.0,1.0,1.0,WISCONSIN
460,59.0,23.0,12.0,6.0,3.0,1.0,82.0,29.0,17.0,6.0,5.0,0.0,7.0,63.0,WISCONSIN
461,12.0,3.0,2.0,0.0,0.0,0.0,3.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0,WISCONSIN
462,26.0,10.0,5.0,0.0,0.0,0.0,11.0,2.0,4.0,0.0,0.0,0.0,0.0,3.0,WISCONSIN
463,44.0,14.0,3.0,5.0,0.0,0.0,67.0,22.0,9.0,5.0,0.0,0.0,5.0,9.0,WISCONSIN

In [160]:
# add a column "total cycles" by summing all numeric columns
df_2015_cycles['total_cycles'] = df_2015_cycles.iloc[:, 0:14].sum(axis=1)
df_2015_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers,total_cycles
0,20,12,3,2,0,0,12,6,0,1,0,0,0,9,65
1,129,31,23,7,6,0,89,21,18,4,0,0,8,34,370
2,70,12,13,7,4,0,48,9,9,1,1,0,7,8,189
3,73,19,15,4,1,0,31,12,3,3,1,1,7,3,173
4,76,37,25,8,3,0,40,18,11,7,1,0,3,11,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,68,26,16,4,0,0,35,18,9,1,1,0,1,1,180
460,59,23,12,6,3,1,82,29,17,6,5,0,7,63,313
461,12,3,2,0,0,0,3,4,1,0,1,0,0,0,26
462,26,10,5,0,0,0,11,2,4,0,0,0,0,3,61
463,44,14,3,5,0,0,67,22,9,5,0,0,5,9,183

In [161]:
# add a column "State" from the original df_2015 "ClinicStateCode"
df_2015_cycles['State'] = df_2015['ClinStateCode']
df_2015_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers,total_cycles,State
0,20,12,3,2,0,0,12,6,0,1,0,0,0,9,65,ALABAMA
1,129,31,23,7,6,0,89,21,18,4,0,0,8,34,370,ALABAMA
2,70,12,13,7,4,0,48,9,9,1,1,0,7,8,189,ALABAMA
3,73,19,15,4,1,0,31,12,3,3,1,1,7,3,173,ALABAMA
4,76,37,25,8,3,0,40,18,11,7,1,0,3,11,240,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,68,26,16,4,0,0,35,18,9,1,1,0,1,1,180,WISCONSIN
460,59,23,12,6,3,1,82,29,17,6,5,0,7,63,313,WISCONSIN
461,12,3,2,0,0,0,3,4,1,0,1,0,0,0,26,WISCONSIN
462,26,10,5,0,0,0,11,2,4,0,0,0,0,3,61,WISCONSIN
463,44,14,3,5,0,0,67,22,9,5,0,0,5,9,183,WISCONSIN

In [163]:
# group by state
df_2015_cycles_by_state = df_2015_cycles.groupby('State').sum()
df_2015_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers,total_cycles
State,,,,,,,,,,,,,,,
ALABAMA,395,115,83,30,16,0,227,68,41,16,3,1,25,65,1085
ARIZONA,487,186,170,78,43,15,580,243,166,50,20,12,49,167,2266
ARKANSAS,118,38,16,3,3,0,49,20,6,2,1,0,9,6,271
CALIFORNIA,3440,2231,2230,1349,833,323,3690,2576,2174,950,445,218,1012,2831,24302
COLORADO,391,171,156,54,76,24,760,459,390,169,76,20,90,349,3185
CONNECTICUT,852,433,411,188,114,42,459,254,210,55,31,10,240,356,3655
DELAWARE,123,45,47,20,15,4,213,100,59,11,2,4,4,78,725
DISTRICT OF COLUMBIA,115,99,137,96,44,35,83,77,88,21,19,9,7,68,898
FLORIDA,1869,913,856,423,151,64,1358,707,441,173,68,29,295,441,7788
GEORGIA,834,383,291,130,61,17,637,393,278,95,32,17,65,313,3546
HAWAII,152,94,135,79,33,18,147,76,95,36,25,7,69,143,1109
IDAHO,86,41,15,6,5,1,57,33,17,4,0,0,51,78,394
ILLINOIS,2936,1407,1274,602,402,134,2023,1021,672,244,95,19,329,700,11858
INDIANA,785,225,159,58,31,10,401,106,68,8,5,2,105,123,2086
IOWA,340,106,67,28,6,0,288,112,51,19,5,1,29,83,1135
KANSAS,370,122,76,26,13,0,426,125,65,13,7,1,19,43,1306
KENTUCKY,212,60,32,16,6,2,119,38,27,8,1,0,9,27,557
LOUISIANA,385,126,95,37,13,5,284,98,77,22,4,2,6,41,1195
MAINE,119,44,47,16,2,1,63,30,18,6,2,0,1,14,363
MARYLAND,900,1169,1183,674,298,55,1337,764,572,199,83,19,647,714,8614
MASSACHUSETTS,2318,1403,1294,696,295,27,1463,985,640,216,78,12,171,370,9968
MICHIGAN,1161,448,360,160,67,39,712,282,187,49,14,8,131,249,3867
MINNESOTA,771,276,192,64,28,4,421,198,102,30,9,4,136,129,2364
MISSISSIPPI,83,31,21,6,1,2,63,23,12,2,1,0,10,38,293
MISSOURI,630,204,143,51,9,1,373,170,123,55,31,24,48,107,1969
MONTANA,60,19,9,5,0,0,32,7,0,2,0,0,1,2,137
NEBRASKA,245,74,63,22,3,0,179,58,26,4,2,0,40,34,750
NEVADA,232,110,94,46,14,10,334,161,144,40,24,13,91,196,1509
NEW HAMPSHIRE,49,27,34,12,2,0,17,12,3,3,1,1,2,4,167
NEW JERSEY,1931,1040,907,466,280,85,1603,838,688,236,84,34,201,505,8898
NEW MEXICO,9,5,4,0,1,1,34,14,13,4,1,0,0,16,102
NEW YORK,3967,2466,2835,1867,1287,506,2980,1818,1556,747,331,211,581,1158,22310
NORTH CAROLINA,932,415,330,142,54,22,772,320,211,58,26,7,136,251,3676
NORTH DAKOTA,126,42,14,7,3,0,65,21,13,2,1,0,0,5,299
OHIO,1473,565,410,163,55,12,807,264,175,50,14,4,185,239,4416
OKLAHOMA,386,112,88,14,5,1,124,34,17,6,1,0,41,56,885
OREGON,251,140,107,39,18,14,236,148,132,49,10,3,73,330,1550
PENNSYLVANIA,1458,735,478,216,115,21,1085,507,296,89,38,7,175,358,5578
PUERTO RICO,62,41,42,20,10,5,7,7,9,6,2,2,14,1,228
RHODE ISLAND,159,110,80,47,12,0,66,55,21,4,3,2,9,11,579
SOUTH CAROLINA,347,140,116,25,11,5,311,126,90,16,5,3,58,73,1326
SOUTH DAKOTA,118,33,19,3,3,0,70,25,14,3,1,0,1,9,299
TENNESSEE,477,189,139,36,10,14,422,141,91,27,8,2,31,255,1842
TEXAS,3246,1249,1088,472,239,78,3402,1438,999,350,120,24,340,918,13963
UTAH,751,204,112,40,15,9,455,121,76,31,10,2,78,76,1980
VERMONT,60,32,35,9,5,3,35,17,15,3,1,1,10,5,231
VIRGINIA,614,365,306,174,132,119,487,251,178,58,31,10,100,333,3158
WASHINGTON,676,369,285,132,86,33,674,348,266,77,36,6,76,425,3489
WEST VIRGINIA,75,20,13,4,1,0,22,5,0,1,0,0,4,8,153
WISCONSIN,368,151,93,21,14,1,354,143,72,22,8,1,31,113,1392

In [164]:
# sum all numbers in "total_cycles" column, and just print the total number of cycles out
total_cycles_2015 = df_2015_cycles_by_state['total_cycles'].sum()
print(f'Total number of cycles in 2015: {total_cycles_2015}')

Total number of cycles in 2015: 173716

In [165]:
# group [FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, FshNDCycle5, FshNDCycle6, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, ThwNDTransfers5,  ThwNDTransfers6] into a new column "total_cycles_non_donor"
df_2015_cycles_by_state['total_cycles_non_donor'] = df_2015_cycles_by_state['FshNDCycle1'] + df_2015_cycles_by_state['FshNDCycle2'] + df_2015_cycles_by_state['FshNDCycle3'] + df_2015_cycles_by_state['FshNDCycle4'] + df_2015_cycles_by_state['FshNDCycle5'] + df_2015_cycles_by_state['FshNDCycle6'] + df_2015_cycles_by_state['ThwNDTransfers1'] + df_2015_cycles_by_state['ThwNDTransfers2'] + df_2015_cycles_by_state['ThwNDTransfers3'] + df_2015_cycles_by_state['ThwNDTransfers4'] + df_2015_cycles_by_state['ThwNDTransfers5'] + df_2015_cycles_by_state['ThwNDTransfers6']
# group [FshDnrTransfers, ThwDnrTransfers] into a new column "total_cycles_donor"
df_2015_cycles_by_state['total_cycles_donor'] = df_2015_cycles_by_state['FshDnrTransfers'] + df_2015_cycles_by_state['ThwDnrTransfers']
df_2015_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,FshNDCycle6,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,ThwNDTransfers6,FshDnrTransfers,ThwDnrTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,,,,,
ALABAMA,395,115,83,30,16,0,227,68,41,16,3,1,25,65,1085,995,90
ARIZONA,487,186,170,78,43,15,580,243,166,50,20,12,49,167,2266,2050,216
ARKANSAS,118,38,16,3,3,0,49,20,6,2,1,0,9,6,271,256,15
CALIFORNIA,3440,2231,2230,1349,833,323,3690,2576,2174,950,445,218,1012,2831,24302,20459,3843
COLORADO,391,171,156,54,76,24,760,459,390,169,76,20,90,349,3185,2746,439
CONNECTICUT,852,433,411,188,114,42,459,254,210,55,31,10,240,356,3655,3059,596
DELAWARE,123,45,47,20,15,4,213,100,59,11,2,4,4,78,725,643,82
DISTRICT OF COLUMBIA,115,99,137,96,44,35,83,77,88,21,19,9,7,68,898,823,75
FLORIDA,1869,913,856,423,151,64,1358,707,441,173,68,29,295,441,7788,7052,736
GEORGIA,834,383,291,130,61,17,637,393,278,95,32,17,65,313,3546,3168,378
HAWAII,152,94,135,79,33,18,147,76,95,36,25,7,69,143,1109,897,212
IDAHO,86,41,15,6,5,1,57,33,17,4,0,0,51,78,394,265,129
ILLINOIS,2936,1407,1274,602,402,134,2023,1021,672,244,95,19,329,700,11858,10829,1029
INDIANA,785,225,159,58,31,10,401,106,68,8,5,2,105,123,2086,1858,228
IOWA,340,106,67,28,6,0,288,112,51,19,5,1,29,83,1135,1023,112
KANSAS,370,122,76,26,13,0,426,125,65,13,7,1,19,43,1306,1244,62
KENTUCKY,212,60,32,16,6,2,119,38,27,8,1,0,9,27,557,521,36
LOUISIANA,385,126,95,37,13,5,284,98,77,22,4,2,6,41,1195,1148,47
MAINE,119,44,47,16,2,1,63,30,18,6,2,0,1,14,363,348,15
MARYLAND,900,1169,1183,674,298,55,1337,764,572,199,83,19,647,714,8614,7253,1361
MASSACHUSETTS,2318,1403,1294,696,295,27,1463,985,640,216,78,12,171,370,9968,9427,541
MICHIGAN,1161,448,360,160,67,39,712,282,187,49,14,8,131,249,3867,3487,380
MINNESOTA,771,276,192,64,28,4,421,198,102,30,9,4,136,129,2364,2099,265
MISSISSIPPI,83,31,21,6,1,2,63,23,12,2,1,0,10,38,293,245,48
MISSOURI,630,204,143,51,9,1,373,170,123,55,31,24,48,107,1969,1814,155
MONTANA,60,19,9,5,0,0,32,7,0,2,0,0,1,2,137,134,3
NEBRASKA,245,74,63,22,3,0,179,58,26,4,2,0,40,34,750,676,74
NEVADA,232,110,94,46,14,10,334,161,144,40,24,13,91,196,1509,1222,287
NEW HAMPSHIRE,49,27,34,12,2,0,17,12,3,3,1,1,2,4,167,161,6
NEW JERSEY,1931,1040,907,466,280,85,1603,838,688,236,84,34,201,505,8898,8192,706
NEW MEXICO,9,5,4,0,1,1,34,14,13,4,1,0,0,16,102,86,16
NEW YORK,3967,2466,2835,1867,1287,506,2980,1818,1556,747,331,211,581,1158,22310,20571,1739
NORTH CAROLINA,932,415,330,142,54,22,772,320,211,58,26,7,136,251,3676,3289,387
NORTH DAKOTA,126,42,14,7,3,0,65,21,13,2,1,0,0,5,299,294,5
OHIO,1473,565,410,163,55,12,807,264,175,50,14,4,185,239,4416,3992,424
OKLAHOMA,386,112,88,14,5,1,124,34,17,6,1,0,41,56,885,788,97
OREGON,251,140,107,39,18,14,236,148,132,49,10,3,73,330,1550,1147,403
PENNSYLVANIA,1458,735,478,216,115,21,1085,507,296,89,38,7,175,358,5578,5045,533
PUERTO RICO,62,41,42,20,10,5,7,7,9,6,2,2,14,1,228,213,15
RHODE ISLAND,159,110,80,47,12,0,66,55,21,4,3,2,9,11,579,559,20
SOUTH CAROLINA,347,140,116,25,11,5,311,126,90,16,5,3,58,73,1326,1195,131
SOUTH DAKOTA,118,33,19,3,3,0,70,25,14,3,1,0,1,9,299,289,10
TENNESSEE,477,189,139,36,10,14,422,141,91,27,8,2,31,255,1842,1556,286
TEXAS,3246,1249,1088,472,239,78,3402,1438,999,350,120,24,340,918,13963,12705,1258
UTAH,751,204,112,40,15,9,455,121,76,31,10,2,78,76,1980,1826,154
VERMONT,60,32,35,9,5,3,35,17,15,3,1,1,10,5,231,216,15
VIRGINIA,614,365,306,174,132,119,487,251,178,58,31,10,100,333,3158,2725,433
WASHINGTON,676,369,285,132,86,33,674,348,266,77,36,6,76,425,3489,2988,501
WEST VIRGINIA,75,20,13,4,1,0,22,5,0,1,0,0,4,8,153,141,12
WISCONSIN,368,151,93,21,14,1,354,143,72,22,8,1,31,113,1392,1248,144

In [166]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2015_cycles_by_state = df_2015_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2015_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                       1085                     995                  90
ARIZONA                       2266                    2050                 216
ARKANSAS                       271                     256                  15
CALIFORNIA                   24302                   20459                3843
COLORADO                      3185                    2746                 439
CONNECTICUT                   3655                    3059                 596
DELAWARE                       725                     643                  82
DISTRICT OF COLUMBIA           898                     823                  75
FLORIDA                       7788                    7052                 736
GEORGIA                       3546                    3168                 378
HAWAII                        1109                     897                 212
IDAHO                          394                     265                 129
ILLINOIS                     11858                   10829                1029
INDIANA                       2086                    1858                 228
IOWA                          1135                    1023                 112
KANSAS                        1306                    1244                  62
KENTUCKY                       557                     521                  36
LOUISIANA                     1195                    1148                  47
MAINE                          363                     348                  15
MARYLAND                      8614                    7253                1361
MASSACHUSETTS                 9968                    9427                 541
MICHIGAN                      3867                    3487                 380
MINNESOTA                     2364                    2099                 265
MISSISSIPPI                    293                     245                  48
MISSOURI                      1969                    1814                 155
MONTANA                        137                     134                   3
NEBRASKA                       750                     676                  74
NEVADA                        1509                    1222                 287
NEW HAMPSHIRE                  167                     161                   6
NEW JERSEY                    8898                    8192                 706
NEW MEXICO                     102                      86                  16
NEW YORK                     22310                   20571                1739
NORTH CAROLINA                3676                    3289                 387
NORTH DAKOTA                   299                     294                   5
OHIO                          4416                    3992                 424
OKLAHOMA                       885                     788                  97
OREGON                        1550                    1147                 403
PENNSYLVANIA                  5578                    5045                 533
PUERTO RICO                    228                     213                  15
RHODE ISLAND                   579                     559                  20
SOUTH CAROLINA                1326                    1195                 131
SOUTH DAKOTA                   299                     289                  10
TENNESSEE                     1842                    1556                 286
TEXAS                        13963                   12705                1258
UTAH                          1980                    1826                 154
VERMONT                        231                     216                  15
VIRGINIA                      3158                    2725                 433
WASHINGTON                    3489                    2988                 501
WEST VIRGINIA                  153                     141                  12
WISCONSIN                     1392                    1248                 144

In [167]:
# add a row called "NATIONAL" to the df_2015_cycles_by_state, which is the sum of all states
df_2015_cycles_by_state.loc['NATIONAL'] = df_2015_cycles_by_state.sum()
df_2015_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/4021078965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015_cycles_by_state.loc['NATIONAL'] = df_2015_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                       1085                     995                  90
ARIZONA                       2266                    2050                 216
ARKANSAS                       271                     256                  15
CALIFORNIA                   24302                   20459                3843
COLORADO                      3185                    2746                 439
CONNECTICUT                   3655                    3059                 596
DELAWARE                       725                     643                  82
DISTRICT OF COLUMBIA           898                     823                  75
FLORIDA                       7788                    7052                 736
GEORGIA                       3546                    3168                 378
HAWAII                        1109                     897                 212
IDAHO                          394                     265                 129
ILLINOIS                     11858                   10829                1029
INDIANA                       2086                    1858                 228
IOWA                          1135                    1023                 112
KANSAS                        1306                    1244                  62
KENTUCKY                       557                     521                  36
LOUISIANA                     1195                    1148                  47
MAINE                          363                     348                  15
MARYLAND                      8614                    7253                1361
MASSACHUSETTS                 9968                    9427                 541
MICHIGAN                      3867                    3487                 380
MINNESOTA                     2364                    2099                 265
MISSISSIPPI                    293                     245                  48
MISSOURI                      1969                    1814                 155
MONTANA                        137                     134                   3
NEBRASKA                       750                     676                  74
NEVADA                        1509                    1222                 287
NEW HAMPSHIRE                  167                     161                   6
NEW JERSEY                    8898                    8192                 706
NEW MEXICO                     102                      86                  16
NEW YORK                     22310                   20571                1739
NORTH CAROLINA                3676                    3289                 387
NORTH DAKOTA                   299                     294                   5
OHIO                          4416                    3992                 424
OKLAHOMA                       885                     788                  97
OREGON                        1550                    1147                 403
PENNSYLVANIA                  5578                    5045                 533
PUERTO RICO                    228                     213                  15
RHODE ISLAND                   579                     559                  20
SOUTH CAROLINA                1326                    1195                 131
SOUTH DAKOTA                   299                     289                  10
TENNESSEE                     1842                    1556                 286
TEXAS                        13963                   12705                1258
UTAH                          1980                    1826                 154
VERMONT                        231                     216                  15
VIRGINIA                      3158                    2725                 433
WASHINGTON                    3489                    2988                 501
WEST VIRGINIA                  153                     141                  12
WISCONSIN                     1392                    1248                 144
NATIONAL                    173716                  154967               18749

In [168]:
# save to csv in the "Output" folder as "2015_cycles_by_state.csv"
df_2015_cycles_by_state.to_csv("Output/2015_cycles_by_state.csv")

## 2016 data

In [240]:
# read excel "FINAL-2016-clinic-table-dataset.xlsx"
df_2016 = pd.read_excel("Input/FINAL-2016-clinic-table-dataset.xlsx", sheet_name="Clinic Table Data Records", header=0)
df_2016

,OrderID,PrevClinName1,PrevClinName2,ClinCityCode,ClinStateCode,TotNumberCycles,TotUsingFrozenEggs,MedicalDirector,IVF_Rate,Unstimulated_Rate,...,DonorEgg,DonorEmbryo,EmbryoCryo,EggCryo,SingleWomen,Surrogates,SART_Member,Accreditation,TotExcludedResearchCycles,state_code
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,92,0,"Janet M. Bouknight, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
1,2,ART FERTILITY PROGRAM OF ALABAMA,NaN,BIRMINGHAM,ALABAMA,376,0,"Virginia L. Houserman, MD",100%,<1%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
2,3,UNIVERSITY OF ALABAMA AT BIRMINGHAM,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,BIRMINGHAM,ALABAMA,289,2,"G. Wright Bates, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
3,4,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,324,0,"George T. Koulianos, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
4,5,UNIVERSITY OF SOUTH ALABAMA IVF AND ART PROGRAM,NaN,MOBILE,ALABAMA,39,0,"Botros M. Rizk, MD",100%,0%,...,No,No,Yes,Yes,Yes,No,Yes,Yes,0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,459,UNIVERSITY OF WISCONSIN-GENERATIONS FERTILITY ...,NaN,MIDDLETON,WISCONSIN,258,1,"Christina E. Broadwell, MD",100%,0%,...,Yes,No,Yes,Yes,Yes,No,Yes,Yes,0,WI
459,460,WISCONSIN FERTILITY INSTITUTE,NaN,MIDDLETON,WISCONSIN,365,0,"Elizabeth Pritts, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
460,461,REPRODUCTIVE SPECIALTY CENTER,NaN,MILWAUKEE,WISCONSIN,44,0,"Grace M. Janik, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
461,462,GUNDERSEN FERTILITY CENTER,NaN,ONALASKA,WISCONSIN,79,0,"Catherine R. Ryan, MD",100%,0%,...,No,No,No,No,No,No,Yes,No,0,WI
462,463,"AURORA HEALTH CARE-AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,266,0,"Estil Y. Strawn, MD",100%,0%,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI

In [241]:
# find the column names: FshNDCycle1, FshNDCycle2, FshNDCycle3, FshNDCycle4, FshNDCycle5, ThwNDTransfers1, ThwNDTransfers2, ThwNDTransfers3, ThwNDTransfers4, ThwNDTransfers5, FshDnrTransfers, ThwDnrTransfers, FshDnrTotCycles, ThwDnrTotCycles, FshDnrTransfers, ThwDnrTransfers, FshDnrEggTransfers, ThwDnrEggTransfers, ThwDnrEmbTransfers, DonatedEmbTransfers, TotBankingCycles1, TotBankingCycles2, TotBankingCycles3, TotBankingCycles4, TotBankingCycles5
# display the columns, and name the df as df_2016_cycles
df_2016_cycles = df_2016[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'FshNDCycle5', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'ThwNDTransfers5', 'TotBankingCycles1', 'TotBankingCycles2', 'TotBankingCycles3', 'TotBankingCycles4', 'TotBankingCycles5', 'TotBankLTCycles1','TotBankLTCycles2', 'TotBankLTCycles3', 'TotBankLTCycles4', 'TotBankLTCycles5', 'FshDnrEggTotCycles','ThwDnrEggTotCycles','ThwDnrEmbTotCycles', 'DonatedEmbCycles','FshDnrEggTransfers', 'ThwDnrEggTransfers', 'ThwDnrEmbTransfers', 'DonatedEmbTransfers']]
df_2016_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,TotBankLTCycles4,TotBankLTCycles5,FshDnrEggTotCycles,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers
0,29,11,12,1,0,9,8,5,0,0,...,0,0,4,1,4,6,4,1,4,5
1,87,36,21,4,3,57,17,16,4,2,...,0,0,7,8,28,12,6,7,23,9
2,56,12,10,5,2,57,32,14,2,0,...,0,0,5,2,14,0,5,1,14,0
3,76,32,20,7,0,70,19,19,3,2,...,0,0,0,16,8,0,0,11,8,0
4,15,7,3,5,2,5,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,58,29,17,1,0,58,28,13,3,0,...,0,0,0,17,2,0,0,14,2,0
459,42,11,8,1,4,88,43,24,3,2,...,0,4,1,0,36,22,0,0,31,17
460,10,5,6,1,3,12,3,0,1,0,...,0,0,0,0,0,1,0,0,0,1
461,11,4,1,0,0,24,10,5,0,0,...,0,0,0,6,4,0,0,3,4,0
462,10,3,4,4,0,55,33,15,0,0,...,1,0,4,0,10,1,3,0,10,1

In [242]:
# turn all data into numeric
df_2016_cycles = df_2016_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals, replace NaN with 0
df_2016_cycles = df_2016_cycles.fillna(0)
df_2016_cycles = df_2016_cycles.astype(int)
df_2016_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,TotBankLTCycles4,TotBankLTCycles5,FshDnrEggTotCycles,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers
0,29,11,12,1,0,9,8,5,0,0,...,0,0,4,1,4,6,4,1,4,5
1,87,36,21,4,3,57,17,16,4,2,...,0,0,7,8,28,12,6,7,23,9
2,56,12,10,5,2,57,32,14,2,0,...,0,0,5,2,14,0,5,1,14,0
3,76,32,20,7,0,70,19,19,3,2,...,0,0,0,16,8,0,0,11,8,0
4,15,7,3,5,2,5,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,58,29,17,1,0,58,28,13,3,0,...,0,0,0,17,2,0,0,14,2,0
459,42,11,8,1,4,88,43,24,3,2,...,0,4,1,0,36,22,0,0,31,17
460,10,5,6,1,3,12,3,0,1,0,...,0,0,0,0,0,1,0,0,0,1
461,11,4,1,0,0,24,10,5,0,0,...,0,0,0,6,4,0,0,3,4,0
462,10,3,4,4,0,55,33,15,0,0,...,1,0,4,0,10,1,3,0,10,1

In [243]:
# add a "State" column from "ClinStateCode" from the df_2016 data frame
df_2016_cycles['State'] = df_2016['ClinStateCode']
df_2016_cycles

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,TotBankLTCycles5,FshDnrEggTotCycles,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers,State
0,29,11,12,1,0,9,8,5,0,0,...,0,4,1,4,6,4,1,4,5,ALABAMA
1,87,36,21,4,3,57,17,16,4,2,...,0,7,8,28,12,6,7,23,9,ALABAMA
2,56,12,10,5,2,57,32,14,2,0,...,0,5,2,14,0,5,1,14,0,ALABAMA
3,76,32,20,7,0,70,19,19,3,2,...,0,0,16,8,0,0,11,8,0,ALABAMA
4,15,7,3,5,2,5,0,1,1,0,...,0,0,0,0,0,0,0,0,0,ALABAMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,58,29,17,1,0,58,28,13,3,0,...,0,0,17,2,0,0,14,2,0,WISCONSIN
459,42,11,8,1,4,88,43,24,3,2,...,4,1,0,36,22,0,0,31,17,WISCONSIN
460,10,5,6,1,3,12,3,0,1,0,...,0,0,0,0,1,0,0,0,1,WISCONSIN
461,11,4,1,0,0,24,10,5,0,0,...,0,0,6,4,0,0,3,4,0,WISCONSIN
462,10,3,4,4,0,55,33,15,0,0,...,0,4,0,10,1,3,0,10,1,WISCONSIN

In [244]:
# group by state
df_2016_cycles_by_state = df_2016_cycles.groupby('State').sum()
df_2016_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,TotBankLTCycles4,TotBankLTCycles5,FshDnrEggTotCycles,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers
State,,,,,,,,,,,,,,,,,,,,,
ALABAMA,263,98,66,22,7,198,76,55,10,4,...,0,0,16,27,54,18,15,20,49,14
ARIZONA,443,248,179,81,89,890,400,233,75,47,...,19,4,53,36,155,68,40,31,149,65
ARKANSAS,103,45,16,4,1,54,22,8,3,0,...,0,0,9,1,3,2,7,1,3,2
CALIFORNIA,3175,2107,2144,1179,1033,4403,3066,2483,1030,774,...,408,323,1068,198,3335,168,751,180,3118,154
COLORADO,258,142,102,58,64,942,569,432,193,117,...,72,82,100,44,369,31,64,36,362,31
CONNECTICUT,808,418,406,210,158,608,350,265,95,43,...,16,8,161,107,496,72,135,96,432,63
DELAWARE,120,38,45,18,17,221,104,87,9,8,...,0,1,4,23,71,35,3,19,66,33
DISTRICT OF COLUMBIA,112,133,122,86,85,79,89,77,29,18,...,12,5,11,9,57,4,5,7,48,4
FLORIDA,1666,810,760,353,169,1690,825,650,217,120,...,26,21,228,316,587,131,185,234,524,126
GEORGIA,719,346,267,115,112,755,410,308,105,57,...,19,6,48,254,357,63,44,241,331,63
HAWAII,182,114,87,59,45,201,117,95,42,28,...,19,10,103,17,175,3,79,17,162,3
IDAHO,79,23,17,5,5,89,37,27,7,5,...,0,0,22,1,93,11,16,1,92,11
ILLINOIS,2605,1403,1240,676,495,2317,1159,742,300,153,...,50,37,309,159,583,68,242,135,531,67
INDIANA,805,264,196,62,49,444,152,97,20,8,...,7,0,61,27,123,52,46,20,103,50
IOWA,334,89,79,33,10,331,107,76,16,8,...,0,0,17,10,31,45,12,8,30,41
KANSAS,287,77,52,13,9,464,140,70,14,8,...,1,0,20,44,42,1,17,35,37,1
KENTUCKY,187,74,42,16,13,120,39,41,8,4,...,0,0,15,6,15,26,11,5,15,25
LOUISIANA,386,157,89,29,15,428,167,82,22,12,...,0,0,13,6,29,13,9,5,24,13
MAINE,98,46,39,27,14,74,37,26,13,2,...,0,0,1,0,7,1,1,0,7,1
MARYLAND,870,1153,1088,546,324,1570,1020,760,292,124,...,37,14,636,168,952,3,494,123,866,3
MASSACHUSETTS,2277,1279,1220,627,295,1873,1213,777,274,130,...,14,10,159,205,436,8,143,167,398,8
MICHIGAN,1198,437,357,144,140,834,374,213,66,35,...,4,1,147,68,152,55,128,55,145,50
MINNESOTA,829,312,213,81,36,582,259,164,56,22,...,4,2,161,34,160,7,143,29,151,6
MISSISSIPPI,54,28,16,2,0,86,32,10,4,3,...,0,0,10,0,47,14,9,0,42,14
MISSOURI,648,262,136,53,30,568,245,172,46,66,...,1,1,50,61,114,14,41,50,107,12
MONTANA,57,15,14,4,0,48,19,8,0,1,...,1,0,0,8,3,3,0,5,2,3
NEBRASKA,234,73,31,19,3,249,67,31,5,4,...,0,0,27,2,41,3,23,2,34,3
NEVADA,250,89,70,31,32,386,168,137,46,26,...,13,14,91,2,228,31,71,0,223,28
NEW JERSEY,1876,1065,957,476,405,894,1215,873,304,148,...,23,27,162,117,648,82,108,97,597,78
NEW MEXICO,9,6,2,1,3,50,19,20,7,4,...,2,0,2,0,14,11,2,0,14,11
NEW YORK,3964,2378,2700,1786,2156,3683,2329,2045,844,689,...,311,429,566,472,1161,85,486,395,1056,80
NORTH CAROLINA,937,415,309,135,65,888,424,284,85,47,...,10,1,164,84,219,57,133,72,199,53
NORTH DAKOTA,51,28,17,5,1,93,26,12,0,0,...,0,0,1,11,6,0,1,7,6,0
OHIO,1375,550,353,136,64,966,411,218,53,28,...,2,5,205,18,171,34,173,16,147,32
OKLAHOMA,386,107,80,14,8,178,50,24,7,2,...,0,0,35,2,30,28,31,2,30,26
OREGON,228,113,87,31,34,301,226,159,87,53,...,4,2,53,0,296,23,51,0,286,23
PENNSYLVANIA,1491,716,510,207,149,1356,631,357,120,76,...,13,13,194,165,358,42,148,133,324,38
PUERTO RICO,71,45,54,20,13,16,8,9,2,1,...,0,1,12,0,4,1,12,0,4,1
RHODE ISLAND,143,81,75,44,13,76,56,25,8,1,...,0,0,4,14,8,0,4,14,8,0
SOUTH CAROLINA,392,164,119,33,14,395,169,123,25,10,...,0,0,54,48,82,17,48,39,77,17
SOUTH DAKOTA,91,34,15,8,2,75,20,13,2,2,...,0,0,0,1,25,2,0,1,25,2
TENNESSEE,345,133,109,53,20,508,195,123,19,16,...,1,0,35,48,96,178,28,38,88,171
TEXAS,2567,1104,877,391,297,3895,1759,1059,366,165,...,64,36,312,208,926,114,247,139,839,107
UTAH,789,209,90,42,25,589,175,108,19,14,...,2,0,66,36,114,40,58,32,110,40
VERMONT,110,59,54,13,21,33,12,11,4,4,...,0,0,11,1,6,2,10,1,4,2
VIRGINIA,400,242,221,118,264,474,260,180,56,51,...,59,101,99,63,194,63,72,48,175,57
WASHINGTON,711,397,292,178,142,764,460,323,125,51,...,43,16,95,169,302,109,72,138,277,101
WEST VIRGINIA,69,22,16,6,3,35,9,1,2,1,...,0,0,12,3,8,1,11,3,7,1
WISCONSIN,287,130,79,14,12,410,196,107,10,4,...,1,4,22,36,75,30,17,26,67,24

In [245]:
# sum all numbers except these 4 columns: FshDnrEggTransfers	ThwDnrEggTransfers	ThwDnrEmbTransfers	DonatedEmbTransfers
# and just print the total number of cycles out, call it total_cycles_2016
total_cycles_2016 = df_2016_cycles_by_state[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'FshNDCycle5', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'ThwNDTransfers5', 'TotBankingCycles1', 'TotBankingCycles2', 'TotBankingCycles3', 'TotBankingCycles4', 'TotBankingCycles5', 'TotBankLTCycles1','TotBankLTCycles2', 'TotBankLTCycles3', 'TotBankLTCycles4', 'TotBankLTCycles5', 'FshDnrEggTotCycles','ThwDnrEggTotCycles','ThwDnrEmbTotCycles', 'DonatedEmbCycles']].sum().sum()
print(f'Total number of cycles in 2016: {total_cycles_2016}')

Total number of cycles in 2016: 267655

In [246]:
# create a column "total_cycles" by summing all numbers in each row except these 4 columns: FshDnrEggTransfers	ThwDnrEggTransfers	ThwDnrEmbTransfers	DonatedEmbTransfers
df_2016_cycles_by_state['total_cycles'] = df_2016_cycles_by_state[['FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'FshNDCycle5', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'ThwNDTransfers5', 'TotBankingCycles1', 'TotBankingCycles2', 'TotBankingCycles3', 'TotBankingCycles4', 'TotBankingCycles5', 'FshDnrEggTotCycles','ThwDnrEggTotCycles','ThwDnrEmbTotCycles', 'DonatedEmbCycles']].sum(axis=1)
df_2016_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,TotBankLTCycles5,FshDnrEggTotCycles,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers,total_cycles
State,,,,,,,,,,,,,,,,,,,,,
ALABAMA,263,98,66,22,7,198,76,55,10,4,...,0,16,27,54,18,15,20,49,14,1074
ARIZONA,443,248,179,81,89,890,400,233,75,47,...,4,53,36,155,68,40,31,149,65,4490
ARKANSAS,103,45,16,4,1,54,22,8,3,0,...,0,9,1,3,2,7,1,3,2,284
CALIFORNIA,3175,2107,2144,1179,1033,4403,3066,2483,1030,774,...,323,1068,198,3335,168,751,180,3118,154,42702
COLORADO,258,142,102,58,64,942,569,432,193,117,...,82,100,44,369,31,64,36,362,31,5994
CONNECTICUT,808,418,406,210,158,608,350,265,95,43,...,8,161,107,496,72,135,96,432,63,5540
DELAWARE,120,38,45,18,17,221,104,87,9,8,...,1,4,23,71,35,3,19,66,33,1035
DISTRICT OF COLUMBIA,112,133,122,86,85,79,89,77,29,18,...,5,11,9,57,4,5,7,48,4,1262
FLORIDA,1666,810,760,353,169,1690,825,650,217,120,...,21,228,316,587,131,185,234,524,126,10829
GEORGIA,719,346,267,115,112,755,410,308,105,57,...,6,48,254,357,63,44,241,331,63,5176
HAWAII,182,114,87,59,45,201,117,95,42,28,...,10,103,17,175,3,79,17,162,3,1484
IDAHO,79,23,17,5,5,89,37,27,7,5,...,0,22,1,93,11,16,1,92,11,566
ILLINOIS,2605,1403,1240,676,495,2317,1159,742,300,153,...,37,309,159,583,68,242,135,531,67,15293
INDIANA,805,264,196,62,49,444,152,97,20,8,...,0,61,27,123,52,46,20,103,50,2910
IOWA,334,89,79,33,10,331,107,76,16,8,...,0,17,10,31,45,12,8,30,41,1397
KANSAS,287,77,52,13,9,464,140,70,14,8,...,0,20,44,42,1,17,35,37,1,1622
KENTUCKY,187,74,42,16,13,120,39,41,8,4,...,0,15,6,15,26,11,5,15,25,686
LOUISIANA,386,157,89,29,15,428,167,82,22,12,...,0,13,6,29,13,9,5,24,13,1752
MAINE,98,46,39,27,14,74,37,26,13,2,...,0,1,0,7,1,1,0,7,1,412
MARYLAND,870,1153,1088,546,324,1570,1020,760,292,124,...,14,636,168,952,3,494,123,866,3,11797
MASSACHUSETTS,2277,1279,1220,627,295,1873,1213,777,274,130,...,10,159,205,436,8,143,167,398,8,12589
MICHIGAN,1198,437,357,144,140,834,374,213,66,35,...,1,147,68,152,55,128,55,145,50,5060
MINNESOTA,829,312,213,81,36,582,259,164,56,22,...,2,161,34,160,7,143,29,151,6,3451
MISSISSIPPI,54,28,16,2,0,86,32,10,4,3,...,0,10,0,47,14,9,0,42,14,426
MISSOURI,648,262,136,53,30,568,245,172,46,66,...,1,50,61,114,14,41,50,107,12,3589
MONTANA,57,15,14,4,0,48,19,8,0,1,...,0,0,8,3,3,0,5,2,3,215
NEBRASKA,234,73,31,19,3,249,67,31,5,4,...,0,27,2,41,3,23,2,34,3,968
NEVADA,250,89,70,31,32,386,168,137,46,26,...,14,91,2,228,31,71,0,223,28,2407
NEW JERSEY,1876,1065,957,476,405,894,1215,873,304,148,...,27,162,117,648,82,108,97,597,78,12054
NEW MEXICO,9,6,2,1,3,50,19,20,7,4,...,0,2,0,14,11,2,0,14,11,280
NEW YORK,3964,2378,2700,1786,2156,3683,2329,2045,844,689,...,429,566,472,1161,85,486,395,1056,80,35132
NORTH CAROLINA,937,415,309,135,65,888,424,284,85,47,...,1,164,84,219,57,133,72,199,53,4949
NORTH DAKOTA,51,28,17,5,1,93,26,12,0,0,...,0,1,11,6,0,1,7,6,0,321
OHIO,1375,550,353,136,64,966,411,218,53,28,...,5,205,18,171,34,173,16,147,32,5123
OKLAHOMA,386,107,80,14,8,178,50,24,7,2,...,0,35,2,30,28,31,2,30,26,1026
OREGON,228,113,87,31,34,301,226,159,87,53,...,2,53,0,296,23,51,0,286,23,2724
PENNSYLVANIA,1491,716,510,207,149,1356,631,357,120,76,...,13,194,165,358,42,148,133,324,38,7667
PUERTO RICO,71,45,54,20,13,16,8,9,2,1,...,1,12,0,4,1,12,0,4,1,265
RHODE ISLAND,143,81,75,44,13,76,56,25,8,1,...,0,4,14,8,0,4,14,8,0,598
SOUTH CAROLINA,392,164,119,33,14,395,169,123,25,10,...,0,54,48,82,17,48,39,77,17,1904
SOUTH DAKOTA,91,34,15,8,2,75,20,13,2,2,...,0,0,1,25,2,0,1,25,2,336
TENNESSEE,345,133,109,53,20,508,195,123,19,16,...,0,35,48,96,178,28,38,88,171,2378
TEXAS,2567,1104,877,391,297,3895,1759,1059,366,165,...,36,312,208,926,114,247,139,839,107,19644
UTAH,789,209,90,42,25,589,175,108,19,14,...,0,66,36,114,40,58,32,110,40,2704
VERMONT,110,59,54,13,21,33,12,11,4,4,...,0,11,1,6,2,10,1,4,2,407
VIRGINIA,400,242,221,118,264,474,260,180,56,51,...,101,99,63,194,63,72,48,175,57,3657
WASHINGTON,711,397,292,178,142,764,460,323,125,51,...,16,95,169,302,109,72,138,277,101,5646
WEST VIRGINIA,69,22,16,6,3,35,9,1,2,1,...,0,12,3,8,1,11,3,7,1,203
WISCONSIN,287,130,79,14,12,410,196,107,10,4,...,4,22,36,75,30,17,26,67,24,1695

In [247]:
# group 'FshNDCycle1', 'FshNDCycle2', 'FshNDCycle3', 'FshNDCycle4', 'FshNDCycle5', 'ThwNDTransfers1', 'ThwNDTransfers2', 'ThwNDTransfers3', 'ThwNDTransfers4', 'ThwNDTransfers5', 'TotBankingCycles1', 'TotBankingCycles2', 'TotBankingCycles3', 'TotBankingCycles4', 'TotBankingCycles5', 'TotBankLTCycles1','TotBankLTCycles2', 'TotBankLTCycles3', 'TotBankLTCycles4', 'TotBankLTCycles5' into a new column "total_cycles_non_donor"
df_2016_cycles_by_state['total_cycles_non_donor'] = df_2016_cycles_by_state['FshNDCycle1'] + df_2016_cycles_by_state['FshNDCycle2'] + df_2016_cycles_by_state['FshNDCycle3'] + df_2016_cycles_by_state['FshNDCycle4'] + df_2016_cycles_by_state['FshNDCycle5'] + df_2016_cycles_by_state['ThwNDTransfers1'] + df_2016_cycles_by_state['ThwNDTransfers2'] + df_2016_cycles_by_state['ThwNDTransfers3'] + df_2016_cycles_by_state['ThwNDTransfers4'] + df_2016_cycles_by_state['ThwNDTransfers5'] + df_2016_cycles_by_state['TotBankingCycles1'] + df_2016_cycles_by_state['TotBankingCycles2'] + df_2016_cycles_by_state['TotBankingCycles3'] + df_2016_cycles_by_state['TotBankingCycles4'] + df_2016_cycles_by_state['TotBankingCycles5'] + df_2016_cycles_by_state['FshDnrEggTotCycles'] + df_2016_cycles_by_state['ThwDnrEggTotCycles'] + df_2016_cycles_by_state['ThwDnrEmbTotCycles'] + df_2016_cycles_by_state['DonatedEmbCycles']
# group [FshDnrEggTransfers, ThwDnrEggTransfers, ThwDnrEmbTransfers, DonatedEmbTransfers] into a new column "total_cycles_donor"
df_2016_cycles_by_state['total_cycles_donor'] = df_2016_cycles_by_state['FshDnrEggTransfers'] + df_2016_cycles_by_state['ThwDnrEggTransfers'] + df_2016_cycles_by_state['ThwDnrEmbTransfers'] + df_2016_cycles_by_state['DonatedEmbTransfers']
df_2016_cycles_by_state

,FshNDCycle1,FshNDCycle2,FshNDCycle3,FshNDCycle4,FshNDCycle5,ThwNDTransfers1,ThwNDTransfers2,ThwNDTransfers3,ThwNDTransfers4,ThwNDTransfers5,...,ThwDnrEggTotCycles,ThwDnrEmbTotCycles,DonatedEmbCycles,FshDnrEggTransfers,ThwDnrEggTransfers,ThwDnrEmbTransfers,DonatedEmbTransfers,total_cycles,total_cycles_non_donor,total_cycles_donor
State,,,,,,,,,,,,,,,,,,,,,
ALABAMA,263,98,66,22,7,198,76,55,10,4,...,27,54,18,15,20,49,14,1074,1074,98
ARIZONA,443,248,179,81,89,890,400,233,75,47,...,36,155,68,40,31,149,65,4490,4490,285
ARKANSAS,103,45,16,4,1,54,22,8,3,0,...,1,3,2,7,1,3,2,284,284,13
CALIFORNIA,3175,2107,2144,1179,1033,4403,3066,2483,1030,774,...,198,3335,168,751,180,3118,154,42702,42702,4203
COLORADO,258,142,102,58,64,942,569,432,193,117,...,44,369,31,64,36,362,31,5994,5994,493
CONNECTICUT,808,418,406,210,158,608,350,265,95,43,...,107,496,72,135,96,432,63,5540,5540,726
DELAWARE,120,38,45,18,17,221,104,87,9,8,...,23,71,35,3,19,66,33,1035,1035,121
DISTRICT OF COLUMBIA,112,133,122,86,85,79,89,77,29,18,...,9,57,4,5,7,48,4,1262,1262,64
FLORIDA,1666,810,760,353,169,1690,825,650,217,120,...,316,587,131,185,234,524,126,10829,10829,1069
GEORGIA,719,346,267,115,112,755,410,308,105,57,...,254,357,63,44,241,331,63,5176,5176,679
HAWAII,182,114,87,59,45,201,117,95,42,28,...,17,175,3,79,17,162,3,1484,1484,261
IDAHO,79,23,17,5,5,89,37,27,7,5,...,1,93,11,16,1,92,11,566,566,120
ILLINOIS,2605,1403,1240,676,495,2317,1159,742,300,153,...,159,583,68,242,135,531,67,15293,15293,975
INDIANA,805,264,196,62,49,444,152,97,20,8,...,27,123,52,46,20,103,50,2910,2910,219
IOWA,334,89,79,33,10,331,107,76,16,8,...,10,31,45,12,8,30,41,1397,1397,91
KANSAS,287,77,52,13,9,464,140,70,14,8,...,44,42,1,17,35,37,1,1622,1622,90
KENTUCKY,187,74,42,16,13,120,39,41,8,4,...,6,15,26,11,5,15,25,686,686,56
LOUISIANA,386,157,89,29,15,428,167,82,22,12,...,6,29,13,9,5,24,13,1752,1752,51
MAINE,98,46,39,27,14,74,37,26,13,2,...,0,7,1,1,0,7,1,412,412,9
MARYLAND,870,1153,1088,546,324,1570,1020,760,292,124,...,168,952,3,494,123,866,3,11797,11797,1486
MASSACHUSETTS,2277,1279,1220,627,295,1873,1213,777,274,130,...,205,436,8,143,167,398,8,12589,12589,716
MICHIGAN,1198,437,357,144,140,834,374,213,66,35,...,68,152,55,128,55,145,50,5060,5060,378
MINNESOTA,829,312,213,81,36,582,259,164,56,22,...,34,160,7,143,29,151,6,3451,3451,329
MISSISSIPPI,54,28,16,2,0,86,32,10,4,3,...,0,47,14,9,0,42,14,426,426,65
MISSOURI,648,262,136,53,30,568,245,172,46,66,...,61,114,14,41,50,107,12,3589,3589,210
MONTANA,57,15,14,4,0,48,19,8,0,1,...,8,3,3,0,5,2,3,215,215,10
NEBRASKA,234,73,31,19,3,249,67,31,5,4,...,2,41,3,23,2,34,3,968,968,62
NEVADA,250,89,70,31,32,386,168,137,46,26,...,2,228,31,71,0,223,28,2407,2407,322
NEW JERSEY,1876,1065,957,476,405,894,1215,873,304,148,...,117,648,82,108,97,597,78,12054,12054,880
NEW MEXICO,9,6,2,1,3,50,19,20,7,4,...,0,14,11,2,0,14,11,280,280,27
NEW YORK,3964,2378,2700,1786,2156,3683,2329,2045,844,689,...,472,1161,85,486,395,1056,80,35132,35132,2017
NORTH CAROLINA,937,415,309,135,65,888,424,284,85,47,...,84,219,57,133,72,199,53,4949,4949,457
NORTH DAKOTA,51,28,17,5,1,93,26,12,0,0,...,11,6,0,1,7,6,0,321,321,14
OHIO,1375,550,353,136,64,966,411,218,53,28,...,18,171,34,173,16,147,32,5123,5123,368
OKLAHOMA,386,107,80,14,8,178,50,24,7,2,...,2,30,28,31,2,30,26,1026,1026,89
OREGON,228,113,87,31,34,301,226,159,87,53,...,0,296,23,51,0,286,23,2724,2724,360
PENNSYLVANIA,1491,716,510,207,149,1356,631,357,120,76,...,165,358,42,148,133,324,38,7667,7667,643
PUERTO RICO,71,45,54,20,13,16,8,9,2,1,...,0,4,1,12,0,4,1,265,265,17
RHODE ISLAND,143,81,75,44,13,76,56,25,8,1,...,14,8,0,4,14,8,0,598,598,26
SOUTH CAROLINA,392,164,119,33,14,395,169,123,25,10,...,48,82,17,48,39,77,17,1904,1904,181
SOUTH DAKOTA,91,34,15,8,2,75,20,13,2,2,...,1,25,2,0,1,25,2,336,336,28
TENNESSEE,345,133,109,53,20,508,195,123,19,16,...,48,96,178,28,38,88,171,2378,2378,325
TEXAS,2567,1104,877,391,297,3895,1759,1059,366,165,...,208,926,114,247,139,839,107,19644,19644,1332
UTAH,789,209,90,42,25,589,175,108,19,14,...,36,114,40,58,32,110,40,2704,2704,240
VERMONT,110,59,54,13,21,33,12,11,4,4,...,1,6,2,10,1,4,2,407,407,17
VIRGINIA,400,242,221,118,264,474,260,180,56,51,...,63,194,63,72,48,175,57,3657,3657,352
WASHINGTON,711,397,292,178,142,764,460,323,125,51,...,169,302,109,72,138,277,101,5646,5646,588
WEST VIRGINIA,69,22,16,6,3,35,9,1,2,1,...,3,8,1,11,3,7,1,203,203,22
WISCONSIN,287,130,79,14,12,410,196,107,10,4,...,36,75,30,17,26,67,24,1695,1695,134

In [248]:
# only display [ State, total_cycles, total_cycles_non_donor, total_cycles_donor] in the data frame
df_2016_cycles_by_state = df_2016_cycles_by_state[['total_cycles', 'total_cycles_non_donor', 'total_cycles_donor']]
df_2016_cycles_by_state

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                       1074                    1074                  98
ARIZONA                       4490                    4490                 285
ARKANSAS                       284                     284                  13
CALIFORNIA                   42702                   42702                4203
COLORADO                      5994                    5994                 493
CONNECTICUT                   5540                    5540                 726
DELAWARE                      1035                    1035                 121
DISTRICT OF COLUMBIA          1262                    1262                  64
FLORIDA                      10829                   10829                1069
GEORGIA                       5176                    5176                 679
HAWAII                        1484                    1484                 261
IDAHO                          566                     566                 120
ILLINOIS                     15293                   15293                 975
INDIANA                       2910                    2910                 219
IOWA                          1397                    1397                  91
KANSAS                        1622                    1622                  90
KENTUCKY                       686                     686                  56
LOUISIANA                     1752                    1752                  51
MAINE                          412                     412                   9
MARYLAND                     11797                   11797                1486
MASSACHUSETTS                12589                   12589                 716
MICHIGAN                      5060                    5060                 378
MINNESOTA                     3451                    3451                 329
MISSISSIPPI                    426                     426                  65
MISSOURI                      3589                    3589                 210
MONTANA                        215                     215                  10
NEBRASKA                       968                     968                  62
NEVADA                        2407                    2407                 322
NEW JERSEY                   12054                   12054                 880
NEW MEXICO                     280                     280                  27
NEW YORK                     35132                   35132                2017
NORTH CAROLINA                4949                    4949                 457
NORTH DAKOTA                   321                     321                  14
OHIO                          5123                    5123                 368
OKLAHOMA                      1026                    1026                  89
OREGON                        2724                    2724                 360
PENNSYLVANIA                  7667                    7667                 643
PUERTO RICO                    265                     265                  17
RHODE ISLAND                   598                     598                  26
SOUTH CAROLINA                1904                    1904                 181
SOUTH DAKOTA                   336                     336                  28
TENNESSEE                     2378                    2378                 325
TEXAS                        19644                   19644                1332
UTAH                          2704                    2704                 240
VERMONT                        407                     407                  17
VIRGINIA                      3657                    3657                 352
WASHINGTON                    5646                    5646                 588
WEST VIRGINIA                  203                     203                  22
WISCONSIN                     1695                    1695                 134

In [249]:
# add a row called "NATIONAL" to the df_2016_cycles_by_state, which is the sum of all states
df_2016_cycles_by_state.loc['NATIONAL'] = df_2016_cycles_by_state.sum()
df_2016_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/3560739979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016_cycles_by_state.loc['NATIONAL'] = df_2016_cycles_by_state.sum()

                      total_cycles  total_cycles_non_donor  total_cycles_donor
State
ALABAMA                       1074                    1074                  98
ARIZONA                       4490                    4490                 285
ARKANSAS                       284                     284                  13
CALIFORNIA                   42702                   42702                4203
COLORADO                      5994                    5994                 493
CONNECTICUT                   5540                    5540                 726
DELAWARE                      1035                    1035                 121
DISTRICT OF COLUMBIA          1262                    1262                  64
FLORIDA                      10829                   10829                1069
GEORGIA                       5176                    5176                 679
HAWAII                        1484                    1484                 261
IDAHO                          566                     566                 120
ILLINOIS                     15293                   15293                 975
INDIANA                       2910                    2910                 219
IOWA                          1397                    1397                  91
KANSAS                        1622                    1622                  90
KENTUCKY                       686                     686                  56
LOUISIANA                     1752                    1752                  51
MAINE                          412                     412                   9
MARYLAND                     11797                   11797                1486
MASSACHUSETTS                12589                   12589                 716
MICHIGAN                      5060                    5060                 378
MINNESOTA                     3451                    3451                 329
MISSISSIPPI                    426                     426                  65
MISSOURI                      3589                    3589                 210
MONTANA                        215                     215                  10
NEBRASKA                       968                     968                  62
NEVADA                        2407                    2407                 322
NEW JERSEY                   12054                   12054                 880
NEW MEXICO                     280                     280                  27
NEW YORK                     35132                   35132                2017
NORTH CAROLINA                4949                    4949                 457
NORTH DAKOTA                   321                     321                  14
OHIO                          5123                    5123                 368
OKLAHOMA                      1026                    1026                  89
OREGON                        2724                    2724                 360
PENNSYLVANIA                  7667                    7667                 643
PUERTO RICO                    265                     265                  17
RHODE ISLAND                   598                     598                  26
SOUTH CAROLINA                1904                    1904                 181
SOUTH DAKOTA                   336                     336                  28
TENNESSEE                     2378                    2378                 325
TEXAS                        19644                   19644                1332
UTAH                          2704                    2704                 240
VERMONT                        407                     407                  17
VIRGINIA                      3657                    3657                 352
WASHINGTON                    5646                    5646                 588
WEST VIRGINIA                  203                     203                  22
WISCONSIN                     1695                    1695                 134
NATIONAL                    253723                  253723               21318

In [251]:
# save to csv in the "Output" folder as "2016_cycles_by_state.csv"
df_2016_cycles_by_state.to_csv("Output/2016_cycles_by_state.csv")

## 2020 data

In [322]:
# read excel "Preliminary-2020-National-Summary-Clinic-Table.xlsx"
df_2020 = pd.read_excel("Input/Preliminary-2020-National-Summary-Clinic-Table.xlsx", sheet_name="Clinic Table Data Records", header=0)
# display all columns
pd.set_option('display.max_columns', None)
df_2020

,OrderID,CurrentClinicName1,CurrentClinicName2,CurrentClinicCity,CurrentClinicState,MedicalDirector,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_IntentRetLB1,ND_IntentRetLB2,ND_IntentRetLB3,ND_IntentRetLB4,ND_IntentRetSingleLB1,ND_IntentRetSingleLB2,ND_IntentRetSingleLB3,ND_IntentRetSingleLB4,ND_NumRetrieve1,ND_NumRetrieve2,ND_NumRetrieve3,ND_NumRetrieve4,ND_RetrieveLB1,ND_RetrieveLB2,ND_RetrieveLB3,ND_RetrieveLB4,ND_RetrieveSingleLB1,ND_RetrieveSingleLB2,ND_RetrieveSingleLB3,ND_RetrieveSingleLB4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,ND_TransLB1,ND_TransLB2,ND_TransLB3,ND_TransLB4,ND_TransSingleLB1,ND_TransSingleLB2,ND_TransSingleLB3,ND_TransSingleLB4,ND_IntentRetPerLB1,ND_IntentRetPerLB2,ND_IntentRetPerLB3,ND_IntentRetPerLB4,NewND_1IntentRetLB1,NewND_1IntentRetLB2,NewND_1IntentRetLB3,NewND_1IntentRetLB4,NewND_2IntentRetLB1,NewND_2IntentRetLB2,NewND_2IntentRetLB3,NewND_2IntentRetLB4,NewND_AllIntentRetLB1,NewND_AllIntentRetLB2,NewND_AllIntentRetLB3,NewND_AllIntentRetLB4,NewND_IntentRetPerNew1,NewND_IntentRetPerNew2,NewND_IntentRetPerNew3,NewND_IntentRetPerNew4,NewND_TransPerIntentRet1,NewND_TransPerIntentRet2,NewND_TransPerIntentRet3,NewND_TransPerIntentRet4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,Donor_TransLB1,Donor_TransLB2,Donor_TransLB3,Donor_TransLB4,Donor_TranSingleLB1,Donor_TranSingleLB2,Donor_TranSingleLB3,Donor_TranSingleLB4,TotNumCycles1,TotNumCycles2,TotNumCycles3,TotNumCycles4,TotNumCyclesAll,CycleCancel1,CycleCancel2,CycleCancel3,CycleCancel4,CycleCancelAll,CycleStop1,CycleStop2,CycleStop3,CycleStop4,CycleStopAll,CycleFertPres1,CycleFertPres2,CycleFertPres3,CycleFertPres4,CycleFertPresAll,TransCarrier1,TransCarrier2,TransCarrier3,TransCarrier4,TransCarrierAll,TransFrozEmb1,TransFrozEmb2,TransFrozEmb3,TransFrozEmb4,TransFrozEmbAll,TransICSI1,TransICSI2,TransICSI3,TransICSI4,TransICSIAll,TransPGT1,TransPGT2,TransPGT3,TransPGT4,TransPGTAll,ReasonMale,ReasonEndo,ReasonTubal,ReasonOvul,ReasonUterine,ReasonPGT,ReasonCarrier,ReasonDOR,ReasonBank,ReasonPregLoss,ReasonOtherInfert,ReasonNonInfert,ReasonUnexplained,DonorEggService,DonatedEmbryoService,EmbryoCryoService,EggCryoService,GestCarrierService,SARTmember,LabAccred,NumResearch,CurrentStateAbbrev
0,1,ALABAMA FERTILITY SPECIALISTS,NaN,BIRMINGHAM,ALABAMA,"Mamie R. McLean, MD",102,48,36,31,47.1%,37.5%,27.8%,6.5%,38.2%,31.3%,25.0%,6.5%,95,44,28,22,50.5%,40.9%,35.7%,9.1%,41.1%,34.1%,32.1%,9.1%,107,44,24,19,44.9%,40.9%,41.7%,* / 19,36.4%,34.1%,37.5%,* / 19,2.1,2.7,3.6,15.5,48.1%,44.4%,* / 17,5.0%,55.8%,44.4%,6 / 17,5.0%,55.8%,44.4%,7 / 17,5.0%,1.2,1.2,1.4,1.3,1.0,0.9,0.8,0.5,6,8,11,0,5 / 6,* / 8,* / 11,NaN,5 / 6,* / 8,* / 11,NaN,300,84,72,62,518,4.1%,10.0%,5.0%,25.0%,7.5%,25.9%,12.5%,20.0%,23.6%,22.6%,1.0%,6.0%,2.8%,0.0%,1.9%,0.5%,0.0%,0.0%,0.0%,0.3%,75.5%,78.8%,78.9%,62.9%,75.1%,52.7%,50.0%,57.9%,42.9%,51.8%,9.6%,26.9%,34.2%,14.3%,16.0%,31%,25%,12%,13%,3%,4%,0%,9%,15%,11%,15%,3%,9%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
1,2,UNIVERSITY OF ALABAMA AT BIRMINGHAM,REPRODUCTIVE ENDOCRINOLOGY AND INFERTILITY,BIRMINGHAM,ALABAMA,"Deidre D Gunn, MD",21,10,9,7,42.9%,* / 10,0 / 9,0 / 7,42.9%,* / 10,0 / 9,0 / 7,19,9,6,6,9 / 19,* / 9,0 / 6,0 / 6,9 / 19,* / 9,0 / 6,0 / 6,19,6,*,*,9 / 19,* / 6,0 / *,0 / *,9 / 19,* / 6,0 / *,0 / *,2.3,5.0,NaN,NaN,8 / 17,* / 7,0 / 5,0 / *,8 / 17,* / 7,0 / 5,0 / *,8 / 17,* / 7,0 / 5,0 / *,1.2,1.0,1.4,1.3,0.9,0.6,0.4,0.4,0,*,5,0,NaN,0 / *,* / 5,NaN,NaN,0 / *,* / 5,NaN,71,36,27,15,149,20.6%,6 / 19,* / 15,* / 6,20.3%,23.4%,30.0%,38.5%,* / 14,27.6%,11.3%,5.6%,11.1%,0 / 15,8.7%,2.9%,0 / 13,0 / 9,* / 8,3.1%,97.1%,12 / 13,9 / 9,8 / 8,96.9%,55.9%,6 / 13,9 / 9,* / 8,57.8%,55.9%,9 / 13,* / 9,* / 8,54.7%,37%,12%,21%,7%,16%,1%,2%,22%,24%,1%,7%,1%,9%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
2,3,FERTILITY INSTITUTE OF NORTH ALABAMA,NaN,HUNTSVILLE,ALABAMA,"Brett Davenport, MD",17,5,*,*,10 / 17,* / 5,* / *,0 / *,10 / 17,* / 5,* / *,0 / *,16,5,*,*,10 / 16,* / 5,* / *,0 / *,10 / 16,* / 5,* / *,0 / *,15,*,*,0,10 / 15,* / *,* / *,NaN,10 / 15,* / *,* / *,NaN,1.7,1.7,4.0,NaN,9 / 14,* / *,* / *,NaN,10 / 14,* / *,* / *,NaN,10 / 14,* / *,* / *,NaN,1.1,1.3,1.5,NaN,0.9,1.0,0.3,NaN,0,0,0,*,NaN,NaN,NaN,* / *,NaN,NaN,NaN,* / *,114,21,31,13,179,1.7%,0 / 11,0.0%,* / 10,2.0%,7.1%,0.0%,12.9%,* / 12,7.9%,4.4%,4.8%,16.1%,* / 13,7.8%,0.0%,0 / 10,* / 11,0 / *,2.5%,96.5%,10 / 10,10 / 11,* / *,96.3%,78.9%,7 / 10,10 / 11,0 / *,76.5%,49.1%,6 / 10,* / 11,0 / *,46.9%,34%,15%,9%,16%,8%,61%,1%,15%,88%,5%,2%,0%,5%,Yes,No,Yes,Yes,Yes,No,Yes,0,AL
3,4,CENTER FOR REPRODUCTIVE MEDICINE,NaN,MOBILE,ALABAMA,"George T. Koulianos, MD",54,61,20,18,51.9%,36.1%,30.0%,* / 18,46.3%,31.1%,25.0%,* / 18,50,49,18,17,56.0%,44.9%,6 / 18,* / 17,50.0%,38.8%,5 / 18,* / 17,57,46,15,7,49.1%,47.8%,6 / 15,* / 7,43.9%,41.3%,5 / 15,* / 7,1.9,2.8,3.3,9.0,53.8%,33.3%,* / 9,0 / 7,56.4%,48.5%,* / 9,* / 7,56.4%,48.5%,* / 9,* / 7,1.1,1.3,1.4,1.9,1.1,0.8,0.4,0.3,0,7,15,5,NaN,* / 7,* / 15,* / 5,NaN,* / 7,* / 15,* / 5,140,79,58,51,328,6.5%,15.8%,9.7%,* / 19,10.0%,12.5%,13.7%,16.4%,26.5%,15.7%,1.4%,2.5%,0.0%,0.0%,1.2%,0.0%,2.2%,0.0%,3.8%,1.1%,78.9%,80.0%,82.8%,80.8%,80.0%,91.1%,88.9%,86.2%,50.0%,84.2%,11.1%,40.0%,34.5%,23.1%,23.2%,47%,20%,20%,15%,<1%,21%,1%,16%,24%,4%,28%,2%,3%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,AL
4,5,"KATIE OSTROM MD, LLC",NaN,HOMER,ALASKA,"Gary Levy, MD",0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,*,*,16,0 / *,0 / *,0 / *,0 / *,0 / 8,* / 5,* / 5,* / *,* / *,6 / 16,0 / 5,0 / 5,0 / *,* / *,* / 16,0 / *,0 / *,0 / *,0 / *,0 / 8,* / *,* / *,* / *,* / *,8 / 8,0 / *,0 / *,0 / *,0 / *,0 / 8,0 / *,0 / *,0 / *,0 / *,0 / 8,* / 16,0 / 16,* / 16,5 / 16,0 / 16,0 / 16,0 / 16,5 / 16,* / 16,0 / 16,0 / 16,* / 16,* / 16,Yes,No,Yes,Yes,Yes,No,No,0,AK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,445,FROEDTERT & MEDICAL COLLEGE OF WISCONSIN,REPRODUCTIVE MEDICINE CENTER,MENOMONEE FALLS,WISCONSIN,"Katherine Schoyer, MD",146,51,41,20,58.2%,35.3%,19.5%,10.0%,54.8%,35.3%,14.6%,10.0%,140,47,36,18,60.7%,38.3%,22.2%,* / 18,57.1%,38.3%,16.7%,* / 18,183,53,35,16,46.4%,34.0%,22.9%,* / 16,43.7%,34.0%,17.1%,* / 16,1.7,2.8,5.1,10.0,63.8%,27.6%,* / 16,* / 14,68.6%,37.9%,* / 16,* / 14,68.6%,41.4%,* / 16,* / 14,1.1,1.3,1.3,1.3,1.3,1.1,1.0,0.7,*,*,18,*,* / *,* / *,8 / 18,* / *,* / *,* / *,8 / 18,* / *,228,131,117,64,540,6.4%,3.9%,7.3%,9.1%,6.3%,19.5%,20.9%,17.7%,17.7%,19.2%,5.3%,1.5%,3.4%,0.0%,3.3%,2.1%,4.4%,6.9%,8.7%,4.5%,72.4%,70.0%,72.2%,69.6%,71.4%,97.9%,93.3%,90.3%,87.0%,93.8%,9.0%,18.9%,15.3%,26.1%,15.0%,41%,5%,11%,19%,2%,5%,1%,24%,15%,5%,7%,1%,11%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
445,446,UNIVERSITY OF WISCONSIN-GENERATIONS FERTILITY ...,NaN,MIDDLETON,WISCONSIN,"Bala Bhagavath, MD",106,33,28,*,58.5%,39.4%,35.7%,0 / *,53.8%,39.4%,35.7%,0 / *,102,29,20,*,60.8%,44.8%,50.0%,0 / *,55.9%,44.8%,50.0%,0 / *,118,34,24,*,52.5%,38.2%,41.7%,0 / *,48.3%,38.2%,41.7%,0 / *,1.7,2.5,2.8,NaN,61.8%,7 / 18,8 / 18,0 / *,71.1%,8 / 18,9 / 18,0 / *,71.1%,9 / 18,9 / 18,0 / *,1.2,1.2,1.1,1.0,1.2,1.0,0.9,0.5,0,0,18,0,NaN,NaN,8 / 18,NaN,NaN,NaN,8 / 18,NaN,168,65,58,26,317,3.6%,0.0%,12.9%,* / 14,6.8%,14.5%,10.8%,22.2%,27.3%,16.0%,3.0%,1.5%,0.0%,0.0%,1.9%,0.9%,0.0%,0.0%,0 / 12,0.5%,65.2%,56.9%,75.0%,7 / 12,64.3%,66.1%,62.7%,56.3%,* / 12,61.9%,22.6%,13.7%,25.0%,0 / 12,19.5%,39%,12%,9%,15%,1%,16%,<1%,15%,19%,4%,18%,2%,18%,Yes,No,Yes,Yes,Yes,Yes,Yes,0,WI
446,447,WISCONSIN FERTILITY INSTITUTE,NaN,MIDDLETON,WISCONSIN,"Elizabeth Pritts, MD",66,44,22,18,42.4%,36.4%,13.6%,* / 18,39.4%,36.4%,9.1%,* / 18,64,39,17,15,43.8%,41.0%,* / 17,* / 15,40.6%,41.0%,* / 17,* / 15,89,51,15,6,31.5%,31.4%,* / 15,* / 6,29.2%,31.4%,* / 15,* / 6,2.4,2.8,7.3,18.0,48.1%,35.5%,* / 11,* / 8,48.1%,41.9%,* / 11,* / 8,48.1%,41.9%,* / 11,* / 8,1.0,1.2,1.2,1.8,1.3,1.1,0.7,0.4,0,7,54,18,NaN,* / 7,31.5%,* / 18,NaN,* / 7,29.6%,* / 18,323,96,85,85,589,5.8%,6.9%,7.1%,21.9%,8.6%,9.8%,11.7%,9.6%,23.1%,11.9%,0.9%,1.0%,4.7%,0.0%,1.4%,6.1%,3.5%,10.2%,4.8%,6.1%,97.2%,96.5%,95.9%,92.9%,96.3%,89.9%,89.5%,83.7%,61.9%,85.3%,30.7%,33.3%,26.5%,31.0%,30.6%,13%,5%,5%,3%,3%,1%,3%,53%,35%,1%,3%,0%,13%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
447,448,REPRODUCTIVE SPECIALTY CENTER,NaN,MILWAUKEE,WISCONSIN,"Grace M. Janik, MD",8,7,6,*,* / 8,* / 7,0 / 6,0 / *,* / 8,* / 7,0 / 6,0 / *,8,7,6,*,* / 8,* / 7,0 / 6,0 / *,* / 8,* / 7,0 / 6,0 / *,10,8,8,*,* / 10,* / 8,0 / 8,0 / *,* / 10,* / 8,0 / 8,0 / *,2.0,1.8,NaN,NaN,* / 6,* / 5,0 / *,0 / *,* / 6,* / 5,0 / *,0 / *,* / 6,* / 5,0 / *,0 / *,1.0,1.0,2.5,1.0,1.3,1.2,1.2,1.0,0,0,*,0,NaN,NaN,* / *,NaN,NaN,NaN,* / *,NaN,13,13,8,7,41,0 / 5,0 / *,0 / *,0 / *,0 / 16,* / 13,* / 13,0 / 8,* / 7,14.6%,0 / 13,0 / 13,0 / 8,0 / 7,0.0%,0 / 11,0 / 11,0 / 8,0 / 5,0.0%,8 / 11,7 / 11,5 / 8,* / 5,62.9%,* / 11,7 / 11,* / 8,* / 5,45.7%,0 / 11,0 / 11,0 / 8,0 / 5,0.0%,39%,51%,27%,46%,0%,0%,0%,2%,0%,0%,7%,5%,0%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI
448,449,"AURORA HEALTH CARE-AURORA FERTILITY SERVICES, ...",NaN,WEST ALLIS,WISCONSIN,"Katherine A Green, MD",65,35,22,15,50.8%,25.7%,18.2%,* / 15,50.8%,25.7%,18.2%,* / 15,65,30,22,14,50.8%,30.0%,18.2%,* / 14,50.8%,30.0%,18.2%,* / 14,51,20,11,*,64.7%,45.0%,* / 11,* / *,64.7%,45.0%,* / 11,* / *,2.0,3.9,5.5,7.5,53.5%,39.1%,* / 14,* / 9,58.1%,39.1%,* / 14,* / 9,62.8%,39.1%,* / 14,* / 9,1.2,1.2,1.4,1.2,0.8,0.6,0.5,0.1,0,0,12,0,NaN,NaN,7 / 12,NaN,NaN,NaN,6 / 12,NaN,203,106,59,36,404,2.1%,13.0%,8.8%,* / 18,7.2%,9.5%,19.0%,26.8%,39.4%,16.9%,2.0%,1.9%,3.4%,0.0%,2.0%,0.0%,0.0%,0.0%,0 / 15,0.0%,98.0%,96.2%,100.0%,15 / 15,97.9%,94.9%,94.3%,81.0%,9 / 15,90.4%,86.7%,84.9%,95.2%,14 / 15,87.7%,34%,7%,20%,6%,10%,81%,0%,25%,38%,5%,89%,2%,1%,Yes,Yes,Yes,Yes,Yes,Yes,Yes,0,WI

In [323]:
# find these columns: ND_NumIntentRet1	ND_NumIntentRet2	ND_NumIntentRet3	ND_NumIntentRet4	ND_NumTrans1	ND_NumTrans2	ND_NumTrans3	ND_NumTrans4	Donor_NumTrans1	Donor_NumTrans2	Donor_NumTrans3	Donor_NumTrans4 TotNumCyclesAll
# display the columns, and name the df as df_2020_cycles
df_2020_cycles = df_2020[[ 'ND_NumIntentRet1', 'ND_NumIntentRet2', 'ND_NumIntentRet3', 'ND_NumIntentRet4', 'ND_NumTrans1', 'ND_NumTrans2', 'ND_NumTrans3', 'ND_NumTrans4', 'Donor_NumTrans1', 'Donor_NumTrans2', 'Donor_NumTrans3', 'Donor_NumTrans4', 'TotNumCyclesAll']]
df_2020_cycles

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll
0,102,48,36,31,107,44,24,19,6,8,11,0,518
1,21,10,9,7,19,6,*,*,0,*,5,0,149
2,17,5,*,*,15,*,*,0,0,0,0,*,179
3,54,61,20,18,57,46,15,7,0,7,15,5,328
4,0,0,0,0,0,0,0,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,146,51,41,20,183,53,35,16,*,*,18,*,540
445,106,33,28,*,118,34,24,*,0,0,18,0,317
446,66,44,22,18,89,51,15,6,0,7,54,18,589
447,8,7,6,*,10,8,8,*,0,0,*,0,41
448,65,35,22,15,51,20,11,*,0,0,12,0,404

In [324]:
# turn all data into numeric
df_2020_cycles = df_2020_cycles.apply(pd.to_numeric, errors='coerce')
# leave out all decimals, replace NaN with 0
df_2020_cycles = df_2020_cycles.fillna(0)
df_2020_cycles = df_2020_cycles.astype(int)
df_2020_cycles

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll
0,102,48,36,31,107,44,24,19,6,8,11,0,518
1,21,10,9,7,19,6,0,0,0,0,5,0,149
2,17,5,0,0,15,0,0,0,0,0,0,0,179
3,54,61,20,18,57,46,15,7,0,7,15,5,328
4,0,0,0,0,0,0,0,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,146,51,41,20,183,53,35,16,0,0,18,0,540
445,106,33,28,0,118,34,24,0,0,0,18,0,317
446,66,44,22,18,89,51,15,6,0,7,54,18,589
447,8,7,6,0,10,8,8,0,0,0,0,0,41
448,65,35,22,15,51,20,11,0,0,0,12,0,404

In [325]:
# add a "State" column from "ClinStateCode" from the df_2020 data frame
df_2020_cycles['State'] = df_2020['CurrentClinicState']
df_2020_cycles

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll,State
0,102,48,36,31,107,44,24,19,6,8,11,0,518,ALABAMA
1,21,10,9,7,19,6,0,0,0,0,5,0,149,ALABAMA
2,17,5,0,0,15,0,0,0,0,0,0,0,179,ALABAMA
3,54,61,20,18,57,46,15,7,0,7,15,5,328,ALABAMA
4,0,0,0,0,0,0,0,0,0,0,0,0,16,ALASKA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,146,51,41,20,183,53,35,16,0,0,18,0,540,WISCONSIN
445,106,33,28,0,118,34,24,0,0,0,18,0,317,WISCONSIN
446,66,44,22,18,89,51,15,6,0,7,54,18,589,WISCONSIN
447,8,7,6,0,10,8,8,0,0,0,0,0,41,WISCONSIN
448,65,35,22,15,51,20,11,0,0,0,12,0,404,WISCONSIN

In [326]:
# group by state
df_2020_cycles_by_state = df_2020_cycles.groupby('State').sum()
df_2020_cycles_by_state

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll
State,,,,,,,,,,,,,
ALABAMA,194,124,65,56,198,96,39,26,6,15,31,5,1174
ALASKA,0,0,0,0,0,0,0,0,0,0,0,0,16
ARIZONA,955,553,551,390,937,430,319,110,5,0,213,29,4110
ARKANSAS,109,35,28,6,131,51,28,0,6,0,9,0,335
CALIFORNIA,6157,5306,5709,5728,5284,3604,2797,1314,88,173,3489,332,18646
COLORADO,931,706,643,556,833,469,324,117,0,12,376,45,1737
CONNECTICUT,934,647,634,721,970,513,360,232,0,53,315,29,1903
DELAWARE,242,100,106,66,284,83,50,19,0,0,36,28,1145
DISTRICT OF COLUMBIA,105,126,195,157,90,107,106,57,0,9,44,0,1102
FLORIDA,2226,1366,1268,919,2201,1099,743,286,52,156,695,141,6186
GEORGIA,1097,600,540,402,1167,558,347,143,16,30,409,23,1721
HAWAII,254,184,164,150,251,143,101,75,10,0,123,9,1527
IDAHO,95,41,42,23,92,36,22,5,0,0,180,11,753
ILLINOIS,3324,2011,2160,1683,3238,1585,1223,655,78,127,597,59,5354
INDIANA,863,351,243,91,945,335,165,48,16,20,136,40,2071
IOWA,513,191,127,51,537,156,72,21,0,36,59,25,862
KANSAS,546,201,131,71,615,173,101,23,0,10,59,27,1212
KENTUCKY,193,74,51,28,220,62,33,15,0,5,34,17,782
LOUISIANA,444,198,173,82,466,146,119,24,0,18,57,23,2297
MAINE,113,55,49,39,135,53,47,12,0,0,20,0,559
MARYLAND,749,409,426,1297,782,324,1072,502,159,102,611,111,1551
MASSACHUSETTS,1440,1821,1823,1151,1650,1869,1446,662,27,212,405,10,1274
MICHIGAN,1377,727,518,341,1498,593,325,106,48,70,218,62,3195
MINNESOTA,953,456,346,189,1127,451,262,71,44,54,194,16,774
MISSISSIPPI,133,49,22,5,149,52,6,0,0,0,32,12,582
MISSOURI,935,389,376,289,924,320,234,129,13,46,105,28,2925
MONTANA,90,49,27,0,89,35,13,0,0,9,15,5,401
NEBRASKA,331,126,112,39,370,131,68,14,0,0,67,0,1432
NEVADA,468,260,231,200,415,217,94,34,0,0,241,38,2662
NEW JERSEY,1292,1644,1599,1219,1357,1388,1046,441,0,63,574,80,5301
NEW MEXICO,126,49,51,27,92,29,30,7,0,7,20,0,587
NEW YORK,5144,4854,5644,6147,4600,3685,3086,2566,92,423,1742,108,14636
NORTH CAROLINA,1269,658,659,436,1374,596,417,144,23,57,343,46,3327
NORTH DAKOTA,81,23,18,9,101,22,9,0,0,0,12,0,347
OHIO,1679,715,611,390,1897,727,464,183,18,48,249,81,4927
OKLAHOMA,323,131,90,39,332,113,64,14,0,10,20,19,967
OREGON,389,310,299,230,391,239,168,46,19,0,426,71,1103
PENNSYLVANIA,1832,984,844,526,1943,827,527,190,69,99,380,87,2991
PUERTO RICO,62,54,48,36,67,45,50,18,5,0,9,0,388
RHODE ISLAND,165,90,99,46,224,105,84,25,0,14,16,0,804
SOUTH CAROLINA,507,271,182,95,553,237,121,42,30,8,122,41,400
SOUTH DAKOTA,115,33,26,8,153,31,21,5,0,5,10,0,437
TENNESSEE,611,277,215,130,616,222,110,34,0,5,145,303,2475
TEXAS,4533,2570,2197,1565,4791,2184,1300,464,47,124,959,217,9165
UTAH,789,304,257,161,915,275,180,60,15,29,236,52,1625
VERMONT,110,72,66,45,124,72,64,21,0,0,23,19,614
VIRGINIA,762,492,554,654,721,404,228,118,0,26,237,50,3792
WASHINGTON,1259,869,756,464,1258,654,369,111,12,38,376,96,2616
WEST VIRGINIA,85,20,17,9,84,15,10,0,0,0,0,0,227
WISCONSIN,470,191,129,60,533,188,102,22,0,7,114,18,2094

In [327]:
# sum these 4 columns: Donor_NumTrans1	Donor_NumTrans2	Donor_NumTrans3	Donor_NumTrans4 in each row and name the new colunn donor_cycles
df_2020_cycles_by_state['donor_cycles'] = df_2020_cycles_by_state[['Donor_NumTrans1', 'Donor_NumTrans2', 'Donor_NumTrans3', 'Donor_NumTrans4']].sum(axis=1)
df_2020_cycles_by_state

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll,donor_cycles
State,,,,,,,,,,,,,,
ALABAMA,194,124,65,56,198,96,39,26,6,15,31,5,1174,57
ALASKA,0,0,0,0,0,0,0,0,0,0,0,0,16,0
ARIZONA,955,553,551,390,937,430,319,110,5,0,213,29,4110,247
ARKANSAS,109,35,28,6,131,51,28,0,6,0,9,0,335,15
CALIFORNIA,6157,5306,5709,5728,5284,3604,2797,1314,88,173,3489,332,18646,4082
COLORADO,931,706,643,556,833,469,324,117,0,12,376,45,1737,433
CONNECTICUT,934,647,634,721,970,513,360,232,0,53,315,29,1903,397
DELAWARE,242,100,106,66,284,83,50,19,0,0,36,28,1145,64
DISTRICT OF COLUMBIA,105,126,195,157,90,107,106,57,0,9,44,0,1102,53
FLORIDA,2226,1366,1268,919,2201,1099,743,286,52,156,695,141,6186,1044
GEORGIA,1097,600,540,402,1167,558,347,143,16,30,409,23,1721,478
HAWAII,254,184,164,150,251,143,101,75,10,0,123,9,1527,142
IDAHO,95,41,42,23,92,36,22,5,0,0,180,11,753,191
ILLINOIS,3324,2011,2160,1683,3238,1585,1223,655,78,127,597,59,5354,861
INDIANA,863,351,243,91,945,335,165,48,16,20,136,40,2071,212
IOWA,513,191,127,51,537,156,72,21,0,36,59,25,862,120
KANSAS,546,201,131,71,615,173,101,23,0,10,59,27,1212,96
KENTUCKY,193,74,51,28,220,62,33,15,0,5,34,17,782,56
LOUISIANA,444,198,173,82,466,146,119,24,0,18,57,23,2297,98
MAINE,113,55,49,39,135,53,47,12,0,0,20,0,559,20
MARYLAND,749,409,426,1297,782,324,1072,502,159,102,611,111,1551,983
MASSACHUSETTS,1440,1821,1823,1151,1650,1869,1446,662,27,212,405,10,1274,654
MICHIGAN,1377,727,518,341,1498,593,325,106,48,70,218,62,3195,398
MINNESOTA,953,456,346,189,1127,451,262,71,44,54,194,16,774,308
MISSISSIPPI,133,49,22,5,149,52,6,0,0,0,32,12,582,44
MISSOURI,935,389,376,289,924,320,234,129,13,46,105,28,2925,192
MONTANA,90,49,27,0,89,35,13,0,0,9,15,5,401,29
NEBRASKA,331,126,112,39,370,131,68,14,0,0,67,0,1432,67
NEVADA,468,260,231,200,415,217,94,34,0,0,241,38,2662,279
NEW JERSEY,1292,1644,1599,1219,1357,1388,1046,441,0,63,574,80,5301,717
NEW MEXICO,126,49,51,27,92,29,30,7,0,7,20,0,587,27
NEW YORK,5144,4854,5644,6147,4600,3685,3086,2566,92,423,1742,108,14636,2365
NORTH CAROLINA,1269,658,659,436,1374,596,417,144,23,57,343,46,3327,469
NORTH DAKOTA,81,23,18,9,101,22,9,0,0,0,12,0,347,12
OHIO,1679,715,611,390,1897,727,464,183,18,48,249,81,4927,396
OKLAHOMA,323,131,90,39,332,113,64,14,0,10,20,19,967,49
OREGON,389,310,299,230,391,239,168,46,19,0,426,71,1103,516
PENNSYLVANIA,1832,984,844,526,1943,827,527,190,69,99,380,87,2991,635
PUERTO RICO,62,54,48,36,67,45,50,18,5,0,9,0,388,14
RHODE ISLAND,165,90,99,46,224,105,84,25,0,14,16,0,804,30
SOUTH CAROLINA,507,271,182,95,553,237,121,42,30,8,122,41,400,201
SOUTH DAKOTA,115,33,26,8,153,31,21,5,0,5,10,0,437,15
TENNESSEE,611,277,215,130,616,222,110,34,0,5,145,303,2475,453
TEXAS,4533,2570,2197,1565,4791,2184,1300,464,47,124,959,217,9165,1347
UTAH,789,304,257,161,915,275,180,60,15,29,236,52,1625,332
VERMONT,110,72,66,45,124,72,64,21,0,0,23,19,614,42
VIRGINIA,762,492,554,654,721,404,228,118,0,26,237,50,3792,313
WASHINGTON,1259,869,756,464,1258,654,369,111,12,38,376,96,2616,522
WEST VIRGINIA,85,20,17,9,84,15,10,0,0,0,0,0,227,0
WISCONSIN,470,191,129,60,533,188,102,22,0,7,114,18,2094,139

In [328]:
# sum these columns in each row: ND_NumIntentRet1	ND_NumIntentRet2	ND_NumIntentRet3	ND_NumIntentRet4	ND_NumTrans1	ND_NumTrans2	ND_NumTrans3	ND_NumTrans4
# create a new column "non_donor_cycles"
df_2020_cycles_by_state['non_donor_cycles'] = df_2020_cycles_by_state[['ND_NumIntentRet1', 'ND_NumIntentRet2', 'ND_NumIntentRet3', 'ND_NumIntentRet4', 'ND_NumTrans1', 'ND_NumTrans2', 'ND_NumTrans3', 'ND_NumTrans4']].sum(axis=1)
df_2020_cycles_by_state

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll,donor_cycles,non_donor_cycles
State,,,,,,,,,,,,,,,
ALABAMA,194,124,65,56,198,96,39,26,6,15,31,5,1174,57,798
ALASKA,0,0,0,0,0,0,0,0,0,0,0,0,16,0,0
ARIZONA,955,553,551,390,937,430,319,110,5,0,213,29,4110,247,4245
ARKANSAS,109,35,28,6,131,51,28,0,6,0,9,0,335,15,388
CALIFORNIA,6157,5306,5709,5728,5284,3604,2797,1314,88,173,3489,332,18646,4082,35899
COLORADO,931,706,643,556,833,469,324,117,0,12,376,45,1737,433,4579
CONNECTICUT,934,647,634,721,970,513,360,232,0,53,315,29,1903,397,5011
DELAWARE,242,100,106,66,284,83,50,19,0,0,36,28,1145,64,950
DISTRICT OF COLUMBIA,105,126,195,157,90,107,106,57,0,9,44,0,1102,53,943
FLORIDA,2226,1366,1268,919,2201,1099,743,286,52,156,695,141,6186,1044,10108
GEORGIA,1097,600,540,402,1167,558,347,143,16,30,409,23,1721,478,4854
HAWAII,254,184,164,150,251,143,101,75,10,0,123,9,1527,142,1322
IDAHO,95,41,42,23,92,36,22,5,0,0,180,11,753,191,356
ILLINOIS,3324,2011,2160,1683,3238,1585,1223,655,78,127,597,59,5354,861,15879
INDIANA,863,351,243,91,945,335,165,48,16,20,136,40,2071,212,3041
IOWA,513,191,127,51,537,156,72,21,0,36,59,25,862,120,1668
KANSAS,546,201,131,71,615,173,101,23,0,10,59,27,1212,96,1861
KENTUCKY,193,74,51,28,220,62,33,15,0,5,34,17,782,56,676
LOUISIANA,444,198,173,82,466,146,119,24,0,18,57,23,2297,98,1652
MAINE,113,55,49,39,135,53,47,12,0,0,20,0,559,20,503
MARYLAND,749,409,426,1297,782,324,1072,502,159,102,611,111,1551,983,5561
MASSACHUSETTS,1440,1821,1823,1151,1650,1869,1446,662,27,212,405,10,1274,654,11862
MICHIGAN,1377,727,518,341,1498,593,325,106,48,70,218,62,3195,398,5485
MINNESOTA,953,456,346,189,1127,451,262,71,44,54,194,16,774,308,3855
MISSISSIPPI,133,49,22,5,149,52,6,0,0,0,32,12,582,44,416
MISSOURI,935,389,376,289,924,320,234,129,13,46,105,28,2925,192,3596
MONTANA,90,49,27,0,89,35,13,0,0,9,15,5,401,29,303
NEBRASKA,331,126,112,39,370,131,68,14,0,0,67,0,1432,67,1191
NEVADA,468,260,231,200,415,217,94,34,0,0,241,38,2662,279,1919
NEW JERSEY,1292,1644,1599,1219,1357,1388,1046,441,0,63,574,80,5301,717,9986
NEW MEXICO,126,49,51,27,92,29,30,7,0,7,20,0,587,27,411
NEW YORK,5144,4854,5644,6147,4600,3685,3086,2566,92,423,1742,108,14636,2365,35726
NORTH CAROLINA,1269,658,659,436,1374,596,417,144,23,57,343,46,3327,469,5553
NORTH DAKOTA,81,23,18,9,101,22,9,0,0,0,12,0,347,12,263
OHIO,1679,715,611,390,1897,727,464,183,18,48,249,81,4927,396,6666
OKLAHOMA,323,131,90,39,332,113,64,14,0,10,20,19,967,49,1106
OREGON,389,310,299,230,391,239,168,46,19,0,426,71,1103,516,2072
PENNSYLVANIA,1832,984,844,526,1943,827,527,190,69,99,380,87,2991,635,7673
PUERTO RICO,62,54,48,36,67,45,50,18,5,0,9,0,388,14,380
RHODE ISLAND,165,90,99,46,224,105,84,25,0,14,16,0,804,30,838
SOUTH CAROLINA,507,271,182,95,553,237,121,42,30,8,122,41,400,201,2008
SOUTH DAKOTA,115,33,26,8,153,31,21,5,0,5,10,0,437,15,392
TENNESSEE,611,277,215,130,616,222,110,34,0,5,145,303,2475,453,2215
TEXAS,4533,2570,2197,1565,4791,2184,1300,464,47,124,959,217,9165,1347,19604
UTAH,789,304,257,161,915,275,180,60,15,29,236,52,1625,332,2941
VERMONT,110,72,66,45,124,72,64,21,0,0,23,19,614,42,574
VIRGINIA,762,492,554,654,721,404,228,118,0,26,237,50,3792,313,3933
WASHINGTON,1259,869,756,464,1258,654,369,111,12,38,376,96,2616,522,5740
WEST VIRGINIA,85,20,17,9,84,15,10,0,0,0,0,0,227,0,240
WISCONSIN,470,191,129,60,533,188,102,22,0,7,114,18,2094,139,1695

In [329]:
# add a row called "NATIONAL" to the df_2020_cycles_by_state, which is the sum of all states
df_2020_cycles_by_state.loc['NATIONAL'] = df_2020_cycles_by_state.sum()
df_2020_cycles_by_state

,ND_NumIntentRet1,ND_NumIntentRet2,ND_NumIntentRet3,ND_NumIntentRet4,ND_NumTrans1,ND_NumTrans2,ND_NumTrans3,ND_NumTrans4,Donor_NumTrans1,Donor_NumTrans2,Donor_NumTrans3,Donor_NumTrans4,TotNumCyclesAll,donor_cycles,non_donor_cycles
State,,,,,,,,,,,,,,,
ALABAMA,194,124,65,56,198,96,39,26,6,15,31,5,1174,57,798
ALASKA,0,0,0,0,0,0,0,0,0,0,0,0,16,0,0
ARIZONA,955,553,551,390,937,430,319,110,5,0,213,29,4110,247,4245
ARKANSAS,109,35,28,6,131,51,28,0,6,0,9,0,335,15,388
CALIFORNIA,6157,5306,5709,5728,5284,3604,2797,1314,88,173,3489,332,18646,4082,35899
COLORADO,931,706,643,556,833,469,324,117,0,12,376,45,1737,433,4579
CONNECTICUT,934,647,634,721,970,513,360,232,0,53,315,29,1903,397,5011
DELAWARE,242,100,106,66,284,83,50,19,0,0,36,28,1145,64,950
DISTRICT OF COLUMBIA,105,126,195,157,90,107,106,57,0,9,44,0,1102,53,943
FLORIDA,2226,1366,1268,919,2201,1099,743,286,52,156,695,141,6186,1044,10108
GEORGIA,1097,600,540,402,1167,558,347,143,16,30,409,23,1721,478,4854
HAWAII,254,184,164,150,251,143,101,75,10,0,123,9,1527,142,1322
IDAHO,95,41,42,23,92,36,22,5,0,0,180,11,753,191,356
ILLINOIS,3324,2011,2160,1683,3238,1585,1223,655,78,127,597,59,5354,861,15879
INDIANA,863,351,243,91,945,335,165,48,16,20,136,40,2071,212,3041
IOWA,513,191,127,51,537,156,72,21,0,36,59,25,862,120,1668
KANSAS,546,201,131,71,615,173,101,23,0,10,59,27,1212,96,1861
KENTUCKY,193,74,51,28,220,62,33,15,0,5,34,17,782,56,676
LOUISIANA,444,198,173,82,466,146,119,24,0,18,57,23,2297,98,1652
MAINE,113,55,49,39,135,53,47,12,0,0,20,0,559,20,503
MARYLAND,749,409,426,1297,782,324,1072,502,159,102,611,111,1551,983,5561
MASSACHUSETTS,1440,1821,1823,1151,1650,1869,1446,662,27,212,405,10,1274,654,11862
MICHIGAN,1377,727,518,341,1498,593,325,106,48,70,218,62,3195,398,5485
MINNESOTA,953,456,346,189,1127,451,262,71,44,54,194,16,774,308,3855
MISSISSIPPI,133,49,22,5,149,52,6,0,0,0,32,12,582,44,416
MISSOURI,935,389,376,289,924,320,234,129,13,46,105,28,2925,192,3596
MONTANA,90,49,27,0,89,35,13,0,0,9,15,5,401,29,303
NEBRASKA,331,126,112,39,370,131,68,14,0,0,67,0,1432,67,1191
NEVADA,468,260,231,200,415,217,94,34,0,0,241,38,2662,279,1919
NEW JERSEY,1292,1644,1599,1219,1357,1388,1046,441,0,63,574,80,5301,717,9986
NEW MEXICO,126,49,51,27,92,29,30,7,0,7,20,0,587,27,411
NEW YORK,5144,4854,5644,6147,4600,3685,3086,2566,92,423,1742,108,14636,2365,35726
NORTH CAROLINA,1269,658,659,436,1374,596,417,144,23,57,343,46,3327,469,5553
NORTH DAKOTA,81,23,18,9,101,22,9,0,0,0,12,0,347,12,263
OHIO,1679,715,611,390,1897,727,464,183,18,48,249,81,4927,396,6666
OKLAHOMA,323,131,90,39,332,113,64,14,0,10,20,19,967,49,1106
OREGON,389,310,299,230,391,239,168,46,19,0,426,71,1103,516,2072
PENNSYLVANIA,1832,984,844,526,1943,827,527,190,69,99,380,87,2991,635,7673
PUERTO RICO,62,54,48,36,67,45,50,18,5,0,9,0,388,14,380
RHODE ISLAND,165,90,99,46,224,105,84,25,0,14,16,0,804,30,838
SOUTH CAROLINA,507,271,182,95,553,237,121,42,30,8,122,41,400,201,2008
SOUTH DAKOTA,115,33,26,8,153,31,21,5,0,5,10,0,437,15,392
TENNESSEE,611,277,215,130,616,222,110,34,0,5,145,303,2475,453,2215
TEXAS,4533,2570,2197,1565,4791,2184,1300,464,47,124,959,217,9165,1347,19604
UTAH,789,304,257,161,915,275,180,60,15,29,236,52,1625,332,2941
VERMONT,110,72,66,45,124,72,64,21,0,0,23,19,614,42,574
VIRGINIA,762,492,554,654,721,404,228,118,0,26,237,50,3792,313,3933
WASHINGTON,1259,869,756,464,1258,654,369,111,12,38,376,96,2616,522,5740
WEST VIRGINIA,85,20,17,9,84,15,10,0,0,0,0,0,227,0,240
WISCONSIN,470,191,129,60,533,188,102,22,0,7,114,18,2094,139,1695
NATIONAL,47374,31766,31121,27026,47724,25749,18966,9211,898,2120,14783,2413,127111,20214,238937

In [330]:
# display [ State, TotNumCyclesAll, donor_cycles, non_donor_cycles] in the data frame
df_2020_cycles_by_state = df_2020_cycles_by_state[[ 'TotNumCyclesAll', 'donor_cycles', 'non_donor_cycles']]
df_2020_cycles_by_state

                      TotNumCyclesAll  donor_cycles  non_donor_cycles
State
ALABAMA                          1174            57               798
ALASKA                             16             0                 0
ARIZONA                          4110           247              4245
ARKANSAS                          335            15               388
CALIFORNIA                      18646          4082             35899
COLORADO                         1737           433              4579
CONNECTICUT                      1903           397              5011
DELAWARE                         1145            64               950
DISTRICT OF COLUMBIA             1102            53               943
FLORIDA                          6186          1044             10108
GEORGIA                          1721           478              4854
HAWAII                           1527           142              1322
IDAHO                             753           191               356
ILLINOIS                         5354           861             15879
INDIANA                          2071           212              3041
IOWA                              862           120              1668
KANSAS                           1212            96              1861
KENTUCKY                          782            56               676
LOUISIANA                        2297            98              1652
MAINE                             559            20               503
MARYLAND                         1551           983              5561
MASSACHUSETTS                    1274           654             11862
MICHIGAN                         3195           398              5485
MINNESOTA                         774           308              3855
MISSISSIPPI                       582            44               416
MISSOURI                         2925           192              3596
MONTANA                           401            29               303
NEBRASKA                         1432            67              1191
NEVADA                           2662           279              1919
NEW JERSEY                       5301           717              9986
NEW MEXICO                        587            27               411
NEW YORK                        14636          2365             35726
NORTH CAROLINA                   3327           469              5553
NORTH DAKOTA                      347            12               263
OHIO                             4927           396              6666
OKLAHOMA                          967            49              1106
OREGON                           1103           516              2072
PENNSYLVANIA                     2991           635              7673
PUERTO RICO                       388            14               380
RHODE ISLAND                      804            30               838
SOUTH CAROLINA                    400           201              2008
SOUTH DAKOTA                      437            15               392
TENNESSEE                        2475           453              2215
TEXAS                            9165          1347             19604
UTAH                             1625           332              2941
VERMONT                           614            42               574
VIRGINIA                         3792           313              3933
WASHINGTON                       2616           522              5740
WEST VIRGINIA                     227             0               240
WISCONSIN                        2094           139              1695
NATIONAL                       127111         20214            238937

In [331]:
# create a new column "total_cycles" by summing all numbers in each row
df_2020_cycles_by_state['total_cycles'] = df_2020_cycles_by_state.sum(axis=1)
df_2020_cycles_by_state

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/725198181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_cycles_by_state['total_cycles'] = df_2020_cycles_by_state.sum(axis=1)

,TotNumCyclesAll,donor_cycles,non_donor_cycles,total_cycles
State,,,,
ALABAMA,1174,57,798,2029
ALASKA,16,0,0,16
ARIZONA,4110,247,4245,8602
ARKANSAS,335,15,388,738
CALIFORNIA,18646,4082,35899,58627
COLORADO,1737,433,4579,6749
CONNECTICUT,1903,397,5011,7311
DELAWARE,1145,64,950,2159
DISTRICT OF COLUMBIA,1102,53,943,2098
FLORIDA,6186,1044,10108,17338
GEORGIA,1721,478,4854,7053
HAWAII,1527,142,1322,2991
IDAHO,753,191,356,1300
ILLINOIS,5354,861,15879,22094
INDIANA,2071,212,3041,5324
IOWA,862,120,1668,2650
KANSAS,1212,96,1861,3169
KENTUCKY,782,56,676,1514
LOUISIANA,2297,98,1652,4047
MAINE,559,20,503,1082
MARYLAND,1551,983,5561,8095
MASSACHUSETTS,1274,654,11862,13790
MICHIGAN,3195,398,5485,9078
MINNESOTA,774,308,3855,4937
MISSISSIPPI,582,44,416,1042
MISSOURI,2925,192,3596,6713
MONTANA,401,29,303,733
NEBRASKA,1432,67,1191,2690
NEVADA,2662,279,1919,4860
NEW JERSEY,5301,717,9986,16004
NEW MEXICO,587,27,411,1025
NEW YORK,14636,2365,35726,52727
NORTH CAROLINA,3327,469,5553,9349
NORTH DAKOTA,347,12,263,622
OHIO,4927,396,6666,11989
OKLAHOMA,967,49,1106,2122
OREGON,1103,516,2072,3691
PENNSYLVANIA,2991,635,7673,11299
PUERTO RICO,388,14,380,782
RHODE ISLAND,804,30,838,1672
SOUTH CAROLINA,400,201,2008,2609
SOUTH DAKOTA,437,15,392,844
TENNESSEE,2475,453,2215,5143
TEXAS,9165,1347,19604,30116
UTAH,1625,332,2941,4898
VERMONT,614,42,574,1230
VIRGINIA,3792,313,3933,8038
WASHINGTON,2616,522,5740,8878
WEST VIRGINIA,227,0,240,467
WISCONSIN,2094,139,1695,3928
NATIONAL,127111,20214,238937,386262

## 2020 Number is a bit weird

## 2021 data

In [408]:
# read csv "2021_ART__Summary_20240530.csv"
df_2021 = pd.read_csv("Input/2021_ART__Summary_20240530.csv", header=0)
df_2021

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,SubTopic,Question,Breakout_Category,Breakout,Data_Value,data_value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,DisplayOrder,TopicId,SubTopicId,QuestionId,BreakoutCategoryId,BreakoutId,Geolocation
0,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Data Verified By:,Data Verified By:,NaN,NaN,"Data Verified By: Fernando Akerman, MD",0.0,NaN,NaN,NaN,241,NaN,TOP06,ST25,Q400,NaN,NaN,POINT (-80.3407 25.683)
1,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Cumulative ART Success Rates for Intended Retr...,Number of intended retrievals,Age of Patient,<35,59,59.0,NaN,NaN,264.0,241,NaN,TOP06,ST22,Q301,CAT2,B011,POINT (-80.3407 25.683)
2,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Cumulative ART Success Rates for Intended Retr...,Number of intended retrievals,Age of Patient,35-37,68,68.0,NaN,NaN,264.0,241,NaN,TOP06,ST22,Q301,CAT2,B012,POINT (-80.3407 25.683)
3,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Cumulative ART Success Rates for Intended Retr...,Number of intended retrievals,Age of Patient,38-40,74,74.0,NaN,NaN,264.0,241,NaN,TOP06,ST22,Q301,CAT2,B013,POINT (-80.3407 25.683)
4,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Cumulative ART Success Rates for Intended Retr...,Number of intended retrievals,Age of Patient,>40,63,63.0,NaN,NaN,264.0,241,NaN,TOP06,ST22,Q301,CAT2,B014,POINT (-80.3407 25.683)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60959,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Reason for Using ART,"Other factor, infertility",NaN,NaN,24,24.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST21,Q345,NaN,NaN,NaN
60960,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Reason for Using ART,"Other factor, non-infertility",NaN,NaN,6,6.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST21,Q346,NaN,NaN,NaN
60961,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Reason for Using ART,"Other factor, non-infertility",NaN,NaN,6,6.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST21,Q346,NaN,NaN,NaN
60962,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Reason for Using ART,Unexplained factor,NaN,NaN,11,11.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST21,Q347,NaN,NaN,NaN
60963,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Reason for Using ART,Unexplained factor,NaN,NaN,11,11.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST21,Q347,NaN,NaN,NaN

In [409]:
# filter to in the "Question" column == Total number of cycles
df_2021_cycles = df_2021[df_2021['Question'] == 'Total number of cycles']
df_2021_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,SubTopic,Question,Breakout_Category,Breakout,Data_Value,data_value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,DisplayOrder,TopicId,SubTopicId,QuestionId,BreakoutCategoryId,BreakoutId,Geolocation
73,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,196,196.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-80.3407 25.683)
74,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,35-37,205,205.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B012,POINT (-80.3407 25.683)
75,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,187,187.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B013,POINT (-80.3407 25.683)
76,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,222,222.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-80.3407 25.683)
77,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,810,810.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-80.3407 25.683)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60851,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,85658,85658.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST19,Q319,CAT2,B013,NaN
60852,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,81441,81441.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST19,Q319,CAT2,B014,NaN
60853,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,81441,81441.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST19,Q319,CAT2,B014,NaN
60854,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,413776,413776.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST19,Q319,CAT2,B016,NaN
60855,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,413776,413776.0,NaN,NaN,413776.0,9999,NaN,TOP06,ST19,Q319,CAT2,B016,NaN

In [410]:
# get rid of the FacilityName == "National" rows
df_2021_cycles = df_2021_cycles[df_2021_cycles['FacilityName'] != 'National']
df_2021_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,SubTopic,Question,Breakout_Category,Breakout,Data_Value,data_value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,DisplayOrder,TopicId,SubTopicId,QuestionId,BreakoutCategoryId,BreakoutId,Geolocation
73,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,196,196.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-80.3407 25.683)
74,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,35-37,205,205.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B012,POINT (-80.3407 25.683)
75,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,187,187.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B013,POINT (-80.3407 25.683)
76,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,222,222.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-80.3407 25.683)
77,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,810,810.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-80.3407 25.683)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60641,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,29,29.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-117.7319 33.6263)
60642,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,35-37,18,18.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B012,POINT (-117.7319 33.6263)
60643,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,24,24.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B013,POINT (-117.7319 33.6263)
60644,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,18,18.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-117.7319 33.6263)
60645,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,89,89.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-117.7319 33.6263)

In [411]:
# get rid of the rows with "Breakout" == 'Total' and save it to csv as "2021_cycles_by_clinic_age.csv"
df_2021_cycles_by_clinic_age = df_2021_cycles[df_2021_cycles['Breakout'] != 'Total']
df_2021_cycles_by_clinic_age

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,SubTopic,Question,Breakout_Category,Breakout,Data_Value,data_value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,DisplayOrder,TopicId,SubTopicId,QuestionId,BreakoutCategoryId,BreakoutId,Geolocation
73,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,196,196.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-80.3407 25.683)
74,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,35-37,205,205.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B012,POINT (-80.3407 25.683)
75,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,187,187.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B013,POINT (-80.3407 25.683)
76,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,222,222.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-80.3407 25.683)
207,2021,IL,Illinois,Vios Fertility Institute-Crest Hill,"Angie Beltsos, MD",2246 Weber Rd,Crest Hill,60403.0,(815) 725-4161,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,109,109.0,NaN,NaN,198.0,261,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-88.1206 41.5628)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60510,2021,FL,Florida,"Center for Living Well, Gaea Center","Nanette Rollene, MD","1530 Celebration Blvd, Suite 200",Celebration,34747.0,(407) 934-4100,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,*,0.0,*,*Reported sample size of 1 through 4 have been...,6.0,899,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-81.5648 28.3099)
60641,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,<35,29,29.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B011,POINT (-117.7319 33.6263)
60642,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,35-37,18,18.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B012,POINT (-117.7319 33.6263)
60643,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,38-40,24,24.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B013,POINT (-117.7319 33.6263)
60644,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,>40,18,18.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B014,POINT (-117.7319 33.6263)

In [412]:
# display 'LocationDesc', 'Breakout', 'Data_Value', 'Cycle_Count',	'ClinicId'
df_2021_cycles_by_clinic_age = df_2021_cycles_by_clinic_age[['LocationDesc', 'Breakout', 'data_value_num', 'Cycle_Count',	'ClinicId']]
df_2021_cycles_by_clinic_age

      LocationDesc Breakout  data_value_num  Cycle_Count  ClinicId
73         Florida      <35           196.0        810.0       241
74         Florida    35-37           205.0        810.0       241
75         Florida    38-40           187.0        810.0       241
76         Florida      >40           222.0        810.0       241
207       Illinois      <35           109.0        198.0       261
...            ...      ...             ...          ...       ...
60510      Florida      >40             0.0          6.0       899
60641   California      <35            29.0         89.0       921
60642   California    35-37            18.0         89.0       921
60643   California    38-40            24.0         89.0       921
60644   California      >40            18.0         89.0       921

[1812 rows x 5 columns]

In [413]:
df_2021_cycles_by_clinic_age.to_csv("Output/2021_cycles_by_clinic_age.csv")

### Now I have each clinic's cycles in age breakout

In [414]:
# filter to "Breakout" == 'Total'
df_2021_cycles = df_2021_cycles[df_2021_cycles['Breakout'] == 'Total']
df_2021_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,SubTopic,Question,Breakout_Category,Breakout,Data_Value,data_value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,DisplayOrder,TopicId,SubTopicId,QuestionId,BreakoutCategoryId,BreakoutId,Geolocation
77,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,810,810.0,NaN,NaN,810.0,241,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-80.3407 25.683)
211,2021,IL,Illinois,Vios Fertility Institute-Crest Hill,"Angie Beltsos, MD",2246 Weber Rd,Crest Hill,60403.0,(815) 725-4161,Reorganized,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,198,198.0,NaN,NaN,198.0,261,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-88.1206 41.5628)
345,2021,MO,Missouri,"Fertility and Reproductive Medicine Center, at...","Kenan R. Omurtag, MD","4444 Forest Park Ave, Suite 3100",St. Louis,63108.0,(314) 286-2400,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,947,947.0,NaN,NaN,947.0,389,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-90.257 38.6372)
479,2021,FL,Florida,Boca Fertility,"Moshe (Maurice) R. Peress, MD","875 Meadows Rd, Suite 334",Boca Raton,33486.0,(561) 368-5500,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,440,440.0,NaN,NaN,440.0,462,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-80.1043 26.3596)
613,2021,MA,Massachusetts,"Boston IVF, LLC","Michael M. Alper, MD",130 Second Ave,Waltham,2451.0,(781) 434-6500,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,8522,8522.0,NaN,NaN,8522.0,490,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-71.2638 42.3928)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60109,2021,CA,California,Reproductive Health and Wellness Center,"Marcus A. Rosencrantz, MD","23141 Moulton Pkwy, Suite 204",Laguna Hills,92653.0,(949) 516-0606,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,380,380.0,NaN,NaN,380.0,888,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-117.7321 33.6263)
60243,2021,CA,California,California Dream Fertility Center,"Fangyin Meng, MD, PHD","113 Waterworks Way, Suite 110",Irvine,92618.0,(949) 336-4956,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,46,46.0,NaN,NaN,46.0,889,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-117.7633 33.6655)
60377,2021,OK,Oklahoma,Mate Fertility,"Shaurin Patel, MD",3427 NW 50th St,Oklahoma City,73112.0,(405) 930-3483,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,36,36.0,NaN,NaN,36.0,892,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-97.5781 35.5225)
60511,2021,FL,Florida,"Center for Living Well, Gaea Center","Nanette Rollene, MD","1530 Celebration Blvd, Suite 200",Celebration,34747.0,(407) 934-4100,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,6,6.0,NaN,NaN,6.0,899,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-81.5648 28.3099)
60645,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Summary,Characteristics of ART Cycles,Total number of cycles,Age of Patient,Total,89,89.0,NaN,NaN,89.0,921,NaN,TOP06,ST19,Q319,CAT2,B016,POINT (-117.7319 33.6263)

In [415]:
# only display the columns 'LocationDesc', 'Cycle_Count'
df_2021_cycles = df_2021_cycles[['LocationDesc', 'Cycle_Count']]
df_2021_cycles

        LocationDesc  Cycle_Count
77           Florida        810.0
211         Illinois        198.0
345         Missouri        947.0
479          Florida        440.0
613    Massachusetts       8522.0
...              ...          ...
60109     California        380.0
60243     California         46.0
60377       Oklahoma         36.0
60511        Florida          6.0
60645     California         89.0

[453 rows x 2 columns]

In [416]:
# group by State, which is the column "LocationDesc"
df_2021_cycles_by_state = df_2021_cycles.groupby('LocationDesc').sum()
df_2021_cycles_by_state

                      Cycle_Count
LocationDesc
Alabama                    1595.0
Alaska                       41.0
Arizona                    6834.0
Arkansas                    396.0
California                66710.0
Colorado                  10078.0
Connecticut                7705.0
Delaware                   1705.0
District of Columbia       1446.0
Florida                   17371.0
Georgia                    9244.0
Hawaii                     1917.0
Idaho                      1066.0
Illinois                  24217.0
Indiana                    4100.0
Iowa                       2293.0
Kansas                     2836.0
Kentucky                   1155.0
Louisiana                  2665.0
Maine                       773.0
Maryland                  18133.0
Massachusetts             18097.0
Michigan                   7170.0
Minnesota                  5700.0
Mississippi                 736.0
Missouri                   3792.0
Montana                     492.0
Nebraska                   1775.0
Nevada                     3199.0
New Hampshire               195.0
New Jersey                20408.0
New Mexico                  831.0
New York                  65650.0
North Carolina             8788.0
North Dakota                447.0
Ohio                      10089.0
Oklahoma                   1258.0
Oregon                     3813.0
Pennsylvania              12286.0
Puerto Rico                 595.0
Rhode Island               1010.0
South Carolina             3466.0
South Dakota                546.0
Tennessee                  4491.0
Texas                     31284.0
Utah                       5542.0
Vermont                     768.0
Virginia                   6943.0
Washington                 9197.0
West Virginia               313.0
Wisconsin                  2615.0

In [417]:
# add a row called "NATIONAL" to the df_2021_cycles_by_state, which is the sum of all states
df_2021_cycles_by_state.loc['NATIONAL'] = df_2021_cycles_by_state.sum()
df_2021_cycles_by_state

                      Cycle_Count
LocationDesc
Alabama                    1595.0
Alaska                       41.0
Arizona                    6834.0
Arkansas                    396.0
California                66710.0
Colorado                  10078.0
Connecticut                7705.0
Delaware                   1705.0
District of Columbia       1446.0
Florida                   17371.0
Georgia                    9244.0
Hawaii                     1917.0
Idaho                      1066.0
Illinois                  24217.0
Indiana                    4100.0
Iowa                       2293.0
Kansas                     2836.0
Kentucky                   1155.0
Louisiana                  2665.0
Maine                       773.0
Maryland                  18133.0
Massachusetts             18097.0
Michigan                   7170.0
Minnesota                  5700.0
Mississippi                 736.0
Missouri                   3792.0
Montana                     492.0
Nebraska                   1775.0
Nevada                     3199.0
New Hampshire               195.0
New Jersey                20408.0
New Mexico                  831.0
New York                  65650.0
North Carolina             8788.0
North Dakota                447.0
Ohio                      10089.0
Oklahoma                   1258.0
Oregon                     3813.0
Pennsylvania              12286.0
Puerto Rico                 595.0
Rhode Island               1010.0
South Carolina             3466.0
South Dakota                546.0
Tennessee                  4491.0
Texas                     31284.0
Utah                       5542.0
Vermont                     768.0
Virginia                   6943.0
Washington                 9197.0
West Virginia               313.0
Wisconsin                  2615.0
NATIONAL                 413776.0

## Get the percentage of donor cycles from the Patient_and_Cycle_Characteristics dataset

In [418]:
# read csv "2021_ART__Patient_and_Cycle_Characteristics_20240530.csv"
df_2021_donor_cycles = pd.read_csv("Input/2021_ART__Patient_and_Cycle_Characteristics_20240530.csv")
df_2021_donor_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,Question,Breakout_Category,Breakout,Data_Value,Data_Value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,TopicId,QuestionId,BreakOutCategoryId,BreakOutId,Geolocation
0,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,<35,24.2,24.2,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B001,POINT (-80.3407 25.683)
1,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,35-37,25.3,25.3,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B002,POINT (-80.3407 25.683)
2,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,38-40,23.1,23.1,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B003,POINT (-80.3407 25.683)
3,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,>40,27.4,27.4,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B004,POINT (-80.3407 25.683)
4,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the reasons patients used ART?,Unexplained factor,Yes,1.4,1.4,NaN,NaN,810.0,241,TOP02,Q002,CAT14,B009,POINT (-80.3407 25.683)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29115,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,35-37,13.0,13.0,NaN,NaN,413776.0,9999,TOP02,Q102,CAT2,B002,NaN
29116,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,38-40,17.7,17.7,NaN,NaN,413776.0,9999,TOP02,Q102,CAT2,B003,NaN
29117,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,38-40,17.7,17.7,NaN,NaN,413776.0,9999,TOP02,Q102,CAT2,B003,NaN
29118,2021,NaN,Other,National,NaN,NaN,NaN,NaN,NaN,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,>40,25.6,25.6,NaN,NaN,413776.0,9999,TOP02,Q102,CAT2,B004,NaN
29119,2021,NaN,National,National,NaN,NaN,NaN,NaN,NaN,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,>40,25.6,25.6,NaN,NaN,413776.0,9999,TOP02,Q102,CAT2,B004,NaN

In [419]:
# filter out National rows
df_2021_donor_cycles = df_2021_donor_cycles[df_2021_donor_cycles['FacilityName'] != 'National']
df_2021_donor_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,Question,Breakout_Category,Breakout,Data_Value,Data_Value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,TopicId,QuestionId,BreakOutCategoryId,BreakOutId,Geolocation
0,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,<35,24.2,24.2,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B001,POINT (-80.3407 25.683)
1,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,35-37,25.3,25.3,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B002,POINT (-80.3407 25.683)
2,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,38-40,23.1,23.1,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B003,POINT (-80.3407 25.683)
3,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the ages of patients who used ART?,Age of Patient,>40,27.4,27.4,NaN,NaN,810.0,241,TOP02,Q001,CAT2,B004,POINT (-80.3407 25.683)
4,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What were the reasons patients used ART?,Unexplained factor,Yes,1.4,1.4,NaN,NaN,810.0,241,TOP02,Q002,CAT14,B009,POINT (-80.3407 25.683)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28987,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What percentage of cycles were discontinued af...,Age of Patient,>40,"""*/17""",0.0,*¥,*Reported sample size of 1 through 4 have been...,88.0,921,TOP02,Q101,CAT2,B004,POINT (-117.7319 33.6263)
28988,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,<35,3.4,3.4,NaN,NaN,89.0,921,TOP02,Q102,CAT2,B001,POINT (-117.7319 33.6263)
28989,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,35-37,"""0/18""",0.0,¥,¥Fractions are used for rates with denominator...,89.0,921,TOP02,Q102,CAT2,B002,POINT (-117.7319 33.6263)
28990,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,38-40,8.3,8.3,NaN,NaN,89.0,921,TOP02,Q102,CAT2,B003,POINT (-117.7319 33.6263)
28991,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles discontinued...,Age of Patient,>40,"""*/18""",0.0,*¥,*Reported sample size of 1 through 4 have been...,89.0,921,TOP02,Q102,CAT2,B004,POINT (-117.7319 33.6263)

In [420]:
# filter to rows with "What was the percentage of cycles in which patients used their own eggs and embryos?" in "Question" column
df_2021_donor_cycles = df_2021_donor_cycles[df_2021_donor_cycles['Question'] == 'What was the percentage of cycles in which patients used their own eggs and embryos?']
df_2021_donor_cycles

,Year,LocationAbbr,LocationDesc,FacilityName,MedicalDirector,Address,City,ZipCode,Phone,Clinic Status,Topic,Question,Breakout_Category,Breakout,Data_Value,Data_Value_num,Data_Value_Footnote_Symbol,Data_Value_Footnote,Cycle_Count,ClinicId,TopicId,QuestionId,BreakOutCategoryId,BreakOutId,Geolocation
16,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,<35,53.6,53.6,NaN,NaN,810.0,241,TOP02,Q003,CAT2,B001,POINT (-80.3407 25.683)
17,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,35-37,44.4,44.4,NaN,NaN,810.0,241,TOP02,Q003,CAT2,B002,POINT (-80.3407 25.683)
18,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,38-40,42.2,42.2,NaN,NaN,810.0,241,TOP02,Q003,CAT2,B003,POINT (-80.3407 25.683)
19,2021,FL,Florida,"Fertility & IVF Center of Miami, Inc., Fertili...","Fernando Akerman, MD","8950 N. Kendall Dr, Suite 103",Miami,33176.0,(305) 596-4013,Reorganized,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,>40,23.0,23.0,NaN,NaN,810.0,241,TOP02,Q003,CAT2,B004,POINT (-80.3407 25.683)
80,2021,IL,Illinois,Vios Fertility Institute-Crest Hill,"Angie Beltsos, MD",2246 Weber Rd,Crest Hill,60403.0,(815) 725-4161,Reorganized,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,<35,46.8,46.8,NaN,NaN,198.0,261,TOP02,Q003,CAT2,B001,POINT (-88.1206 41.5628)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28883,2021,FL,Florida,"Center for Living Well, Gaea Center","Nanette Rollene, MD","1530 Celebration Blvd, Suite 200",Celebration,34747.0,(407) 934-4100,Open,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,>40,"""0/*""",0.0,*¥,*Reported sample size of 1 through 4 have been...,NaN,899,TOP02,Q003,CAT2,B004,POINT (-81.5648 28.3099)
28944,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,<35,51.7,51.7,NaN,NaN,89.0,921,TOP02,Q003,CAT2,B001,POINT (-117.7319 33.6263)
28945,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,35-37,"""*/18""",0.0,*¥,*Reported sample size of 1 through 4 have been...,89.0,921,TOP02,Q003,CAT2,B002,POINT (-117.7319 33.6263)
28946,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,38-40,29.2,29.2,NaN,NaN,89.0,921,TOP02,Q003,CAT2,B003,POINT (-117.7319 33.6263)
28947,2021,CA,California,"Banafsheh Kashani, MD, Inc.","Banafsheh Kashani, MD","23141 Moulton Pkwy, Suite 205",Laguna Hills,92653.0,(949) 516-0150,Open,Patient & Cycle Characteristics,What was the percentage of cycles in which pat...,Age of Patient,>40,"""*/18""",0.0,*¥,*Reported sample size of 1 through 4 have been...,89.0,921,TOP02,Q003,CAT2,B004,POINT (-117.7319 33.6263)

In [421]:
# only display the columns 'LocationDesc', 'Data_Value_num'
df_2021_donor_cycles = df_2021_donor_cycles[['LocationDesc','Breakout', 'Data_Value_num', 'ClinicId']]
df_2021_donor_cycles

      LocationDesc Breakout  Data_Value_num  ClinicId
16         Florida      <35            53.6       241
17         Florida    35-37            44.4       241
18         Florida    38-40            42.2       241
19         Florida      >40            23.0       241
80        Illinois      <35            46.8       261
...            ...      ...             ...       ...
28883      Florida      >40             0.0       899
28944   California      <35            51.7       921
28945   California    35-37             0.0       921
28946   California    38-40            29.2       921
28947   California      >40             0.0       921

[1812 rows x 4 columns]

In [422]:
# read csv "2021_cycles_by_clinic_age.csv"
df_2021_cycles_by_clinic_age = pd.read_csv("Output/2021_cycles_by_clinic_age.csv")
df_2021_cycles_by_clinic_age

      Unnamed: 0 LocationDesc Breakout  data_value_num  Cycle_Count  ClinicId
0             73      Florida      <35           196.0        810.0       241
1             74      Florida    35-37           205.0        810.0       241
2             75      Florida    38-40           187.0        810.0       241
3             76      Florida      >40           222.0        810.0       241
4            207     Illinois      <35           109.0        198.0       261
...          ...          ...      ...             ...          ...       ...
1807       60510      Florida      >40             0.0          6.0       899
1808       60641   California      <35            29.0         89.0       921
1809       60642   California    35-37            18.0         89.0       921
1810       60643   California    38-40            24.0         89.0       921
1811       60644   California      >40            18.0         89.0       921

[1812 rows x 6 columns]

In [423]:
# merge df_2021_donor_cycles and df_2021_cycles_by_clinic_age by matching "ClinicId" and "Breakout"
df_2021_donor_cycles_merged = pd.merge(df_2021_donor_cycles, df_2021_cycles_by_clinic_age, on=['ClinicId', 'Breakout'])
df_2021_donor_cycles_merged

,LocationDesc_x,Breakout,Data_Value_num,ClinicId,Unnamed: 0,LocationDesc_y,data_value_num,Cycle_Count
0,Florida,<35,53.6,241,73,Florida,196.0,810.0
1,Florida,35-37,44.4,241,74,Florida,205.0,810.0
2,Florida,38-40,42.2,241,75,Florida,187.0,810.0
3,Florida,>40,23.0,241,76,Florida,222.0,810.0
4,Illinois,<35,46.8,261,207,Illinois,109.0,198.0
...,...,...,...,...,...,...,...,...
1807,Florida,>40,0.0,899,60510,Florida,0.0,6.0
1808,California,<35,51.7,921,60641,California,29.0,89.0
1809,California,35-37,0.0,921,60642,California,18.0,89.0
1810,California,38-40,29.2,921,60643,California,24.0,89.0
1811,California,>40,0.0,921,60644,California,18.0,89.0

In [424]:
# only display 'LocationDesc_x', 'Breakout', 'Data_Value_num', 'data_value_num', 'ClinicId'
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged[['LocationDesc_x', 'Breakout', 'Data_Value_num', 'data_value_num', 'ClinicId']]
df_2021_donor_cycles_merged

     LocationDesc_x Breakout  Data_Value_num  data_value_num  ClinicId
0           Florida      <35            53.6           196.0       241
1           Florida    35-37            44.4           205.0       241
2           Florida    38-40            42.2           187.0       241
3           Florida      >40            23.0           222.0       241
4          Illinois      <35            46.8           109.0       261
...             ...      ...             ...             ...       ...
1807        Florida      >40             0.0             0.0       899
1808     California      <35            51.7            29.0       921
1809     California    35-37             0.0            18.0       921
1810     California    38-40            29.2            24.0       921
1811     California      >40             0.0            18.0       921

[1812 rows x 5 columns]

In [425]:
# rename the column 'Data_Value_num' to  'donor_percentage'
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged.rename(columns={'Data_Value_num': 'donor_percentage'})
# rename the column 'data_value_num' to  'cycles_in_age_group'
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged.rename(columns={'data_value_num': 'cycles_in_age_group'})
df_2021_donor_cycles_merged

     LocationDesc_x Breakout  donor_percentage  cycles_in_age_group  ClinicId
0           Florida      <35              53.6                196.0       241
1           Florida    35-37              44.4                205.0       241
2           Florida    38-40              42.2                187.0       241
3           Florida      >40              23.0                222.0       241
4          Illinois      <35              46.8                109.0       261
...             ...      ...               ...                  ...       ...
1807        Florida      >40               0.0                  0.0       899
1808     California      <35              51.7                 29.0       921
1809     California    35-37               0.0                 18.0       921
1810     California    38-40              29.2                 24.0       921
1811     California      >40               0.0                 18.0       921

[1812 rows x 5 columns]

In [426]:
# create a new column "donor_cycles" by multiplying "donor_percentage" and "cycles_in_age_group"
df_2021_donor_cycles_merged['donor_cycles'] = df_2021_donor_cycles_merged['donor_percentage'] * df_2021_donor_cycles_merged['cycles_in_age_group']/100
df_2021_donor_cycles_merged

,LocationDesc_x,Breakout,donor_percentage,cycles_in_age_group,ClinicId,donor_cycles
0,Florida,<35,53.6,196.0,241,105.056
1,Florida,35-37,44.4,205.0,241,91.020
2,Florida,38-40,42.2,187.0,241,78.914
3,Florida,>40,23.0,222.0,241,51.060
4,Illinois,<35,46.8,109.0,261,51.012
...,...,...,...,...,...,...
1807,Florida,>40,0.0,0.0,899,0.000
1808,California,<35,51.7,29.0,921,14.993
1809,California,35-37,0.0,18.0,921,0.000
1810,California,38-40,29.2,24.0,921,7.008
1811,California,>40,0.0,18.0,921,0.000

In [427]:
# only display 'LocationDesc_x', 'Breakout', 'donor_cycles', 'ClinicId'
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged[['LocationDesc_x', 'Breakout', 'donor_cycles', 'ClinicId']]
df_2021_donor_cycles_merged

     LocationDesc_x Breakout  donor_cycles  ClinicId
0           Florida      <35       105.056       241
1           Florida    35-37        91.020       241
2           Florida    38-40        78.914       241
3           Florida      >40        51.060       241
4          Illinois      <35        51.012       261
...             ...      ...           ...       ...
1807        Florida      >40         0.000       899
1808     California      <35        14.993       921
1809     California    35-37         0.000       921
1810     California    38-40         7.008       921
1811     California      >40         0.000       921

[1812 rows x 4 columns]

In [428]:
# round the "donor_cycles" to the nearest whole number
df_2021_donor_cycles_merged['donor_cycles'] = df_2021_donor_cycles_merged['donor_cycles'].round()
df_2021_donor_cycles_merged

/var/folders/82/dd5bh8c53fn11t7t8bjlnk700000gn/T/ipykernel_35954/3399520596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_donor_cycles_merged['donor_cycles'] = df_2021_donor_cycles_merged['donor_cycles'].round()

     LocationDesc_x Breakout  donor_cycles  ClinicId
0           Florida      <35         105.0       241
1           Florida    35-37          91.0       241
2           Florida    38-40          79.0       241
3           Florida      >40          51.0       241
4          Illinois      <35          51.0       261
...             ...      ...           ...       ...
1807        Florida      >40           0.0       899
1808     California      <35          15.0       921
1809     California    35-37           0.0       921
1810     California    38-40           7.0       921
1811     California      >40           0.0       921

[1812 rows x 4 columns]

In [429]:
# group by 'ClinicId', and only sum the "donor_cycles"
# display 'LocationDesc_x', 'donor_cycles' and 'ClinicId'
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged.groupby('ClinicId').sum()
df_2021_donor_cycles_merged = df_2021_donor_cycles_merged[['LocationDesc_x','donor_cycles']]
df_2021_donor_cycles_merged

                                            LocationDesc_x  donor_cycles
ClinicId
1                         IllinoisIllinoisIllinoisIllinois         461.0
2         PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania        1306.0
3                                     TexasTexasTexasTexas         300.0
4                             FloridaFloridaFloridaFlorida         258.0
6         PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania         133.0
...                                                    ...           ...
888               CaliforniaCaliforniaCaliforniaCalifornia         142.0
889               CaliforniaCaliforniaCaliforniaCalifornia           0.0
892                       OklahomaOklahomaOklahomaOklahoma          10.0
899                           FloridaFloridaFloridaFlorida           0.0
921               CaliforniaCaliforniaCaliforniaCalifornia          22.0

[453 rows x 2 columns]

In [430]:
# calculate the total number of donor cycles in 2021
# print it out
total_donor_cycles_2021 = df_2021_donor_cycles_merged['donor_cycles'].sum()
print(f'Total number of donor cycles in 2021: {total_donor_cycles_2021}')

Total number of donor cycles in 2021: 217877.0

In [431]:
# group by "LocationDesc_x" and sum the "donor_cycles", leave out ClinicId and Breakout in display
df_2021_donor_cycles_by_state = df_2021_donor_cycles_merged.groupby('LocationDesc_x').sum()
df_2021_donor_cycles_by_state

                                                    donor_cycles
LocationDesc_x
AlabamaAlabamaAlabamaAlabama                              1019.0
AlaskaAlaskaAlaskaAlaska                                    21.0
ArizonaArizonaArizonaArizona                              3562.0
ArkansasArkansasArkansasArkansas                           343.0
CaliforniaCaliforniaCaliforniaCalifornia                 28777.0
ColoradoColoradoColoradoColorado                          4714.0
ConnecticutConnecticutConnecticutConnecticut              3992.0
DelawareDelawareDelawareDelaware                          1094.0
District of ColumbiaDistrict of ColumbiaDistric...         797.0
FloridaFloridaFloridaFlorida                              8680.0
GeorgiaGeorgiaGeorgiaGeorgia                              4769.0
HawaiiHawaiiHawaiiHawaii                                   948.0
IdahoIdahoIdahoIdaho                                       399.0
IllinoisIllinoisIllinoisIllinois                         13808.0
IndianaIndianaIndianaIndiana                              2357.0
IowaIowaIowaIowa                                          1601.0
KansasKansasKansasKansas                                  1587.0
KentuckyKentuckyKentuckyKentucky                           775.0
LouisianaLouisianaLouisianaLouisiana                      1743.0
MaineMaineMaineMaine                                       505.0
MarylandMarylandMarylandMaryland                         10510.0
MassachusettsMassachusettsMassachusettsMassachu...       12105.0
MichiganMichiganMichiganMichigan                          4491.0
MinnesotaMinnesotaMinnesotaMinnesota                      3458.0
MississippiMississippiMississippiMississippi               347.0
MissouriMissouriMissouriMissouri                          2328.0
MontanaMontanaMontanaMontana                               229.0
NebraskaNebraskaNebraskaNebraska                          1106.0
NevadaNevadaNevadaNevada                                  1477.0
New HampshireNew HampshireNew HampshireNew Hamp...         116.0
New JerseyNew JerseyNew JerseyNew Jersey                 10583.0
New MexicoNew MexicoNew MexicoNew Mexico                   364.0
New YorkNew YorkNew YorkNew York                         31832.0
North CarolinaNorth CarolinaNorth CarolinaNorth...        5170.0
North DakotaNorth DakotaNorth DakotaNorth Dakota           277.0
OhioOhioOhioOhio                                          6480.0
OklahomaOklahomaOklahomaOklahoma                           897.0
OregonOregonOregonOregon                                  1620.0
PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania          6908.0
Puerto RicoPuerto RicoPuerto RicoPuerto Rico               442.0
Rhode IslandRhode IslandRhode IslandRhode Island           724.0
South CarolinaSouth CarolinaSouth CarolinaSouth...        1934.0
South DakotaSouth DakotaSouth DakotaSouth Dakota           423.0
TennesseeTennesseeTennesseeTennessee                      2281.0
TexasTexasTexasTexas                                     16716.0
UtahUtahUtahUtah                                          3096.0
VermontVermontVermontVermont                               501.0
VirginiaVirginiaVirginiaVirginia                          3408.0
WashingtonWashingtonWashingtonWashington                  4760.0
West VirginiaWest VirginiaWest VirginiaWest Vir...         176.0
WisconsinWisconsinWisconsinWisconsin                      1627.0

In [432]:
# add a row called "NATIONAL" to the df_2021_donor_cycles_by_state, which is the sum of all states
df_2021_donor_cycles_by_state.loc['NATIONAL'] = df_2021_donor_cycles_by_state.sum()
df_2021_donor_cycles_by_state

                                                    donor_cycles
LocationDesc_x
AlabamaAlabamaAlabamaAlabama                              1019.0
AlaskaAlaskaAlaskaAlaska                                    21.0
ArizonaArizonaArizonaArizona                              3562.0
ArkansasArkansasArkansasArkansas                           343.0
CaliforniaCaliforniaCaliforniaCalifornia                 28777.0
ColoradoColoradoColoradoColorado                          4714.0
ConnecticutConnecticutConnecticutConnecticut              3992.0
DelawareDelawareDelawareDelaware                          1094.0
District of ColumbiaDistrict of ColumbiaDistric...         797.0
FloridaFloridaFloridaFlorida                              8680.0
GeorgiaGeorgiaGeorgiaGeorgia                              4769.0
HawaiiHawaiiHawaiiHawaii                                   948.0
IdahoIdahoIdahoIdaho                                       399.0
IllinoisIllinoisIllinoisIllinois                         13808.0
IndianaIndianaIndianaIndiana                              2357.0
IowaIowaIowaIowa                                          1601.0
KansasKansasKansasKansas                                  1587.0
KentuckyKentuckyKentuckyKentucky                           775.0
LouisianaLouisianaLouisianaLouisiana                      1743.0
MaineMaineMaineMaine                                       505.0
MarylandMarylandMarylandMaryland                         10510.0
MassachusettsMassachusettsMassachusettsMassachu...       12105.0
MichiganMichiganMichiganMichigan                          4491.0
MinnesotaMinnesotaMinnesotaMinnesota                      3458.0
MississippiMississippiMississippiMississippi               347.0
MissouriMissouriMissouriMissouri                          2328.0
MontanaMontanaMontanaMontana                               229.0
NebraskaNebraskaNebraskaNebraska                          1106.0
NevadaNevadaNevadaNevada                                  1477.0
New HampshireNew HampshireNew HampshireNew Hamp...         116.0
New JerseyNew JerseyNew JerseyNew Jersey                 10583.0
New MexicoNew MexicoNew MexicoNew Mexico                   364.0
New YorkNew YorkNew YorkNew York                         31832.0
North CarolinaNorth CarolinaNorth CarolinaNorth...        5170.0
North DakotaNorth DakotaNorth DakotaNorth Dakota           277.0
OhioOhioOhioOhio                                          6480.0
OklahomaOklahomaOklahomaOklahoma                           897.0
OregonOregonOregonOregon                                  1620.0
PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania          6908.0
Puerto RicoPuerto RicoPuerto RicoPuerto Rico               442.0
Rhode IslandRhode IslandRhode IslandRhode Island           724.0
South CarolinaSouth CarolinaSouth CarolinaSouth...        1934.0
South DakotaSouth DakotaSouth DakotaSouth Dakota           423.0
TennesseeTennesseeTennesseeTennessee                      2281.0
TexasTexasTexasTexas                                     16716.0
UtahUtahUtahUtah                                          3096.0
VermontVermontVermontVermont                               501.0
VirginiaVirginiaVirginiaVirginia                          3408.0
WashingtonWashingtonWashingtonWashington                  4760.0
West VirginiaWest VirginiaWest VirginiaWest Vir...         176.0
WisconsinWisconsinWisconsinWisconsin                      1627.0
NATIONAL                                                217877.0

In [433]:
# clean up the value in "LocationDesc_x" by only keeping the first part of string before the next dupplicate
df_2021_donor_cycles_by_state.index = df_2021_donor_cycles_by_state.index.str.split(',').str[0]
df_2021_donor_cycles_by_state

                                                    donor_cycles
LocationDesc_x
AlabamaAlabamaAlabamaAlabama                              1019.0
AlaskaAlaskaAlaskaAlaska                                    21.0
ArizonaArizonaArizonaArizona                              3562.0
ArkansasArkansasArkansasArkansas                           343.0
CaliforniaCaliforniaCaliforniaCalifornia                 28777.0
ColoradoColoradoColoradoColorado                          4714.0
ConnecticutConnecticutConnecticutConnecticut              3992.0
DelawareDelawareDelawareDelaware                          1094.0
District of ColumbiaDistrict of ColumbiaDistric...         797.0
FloridaFloridaFloridaFlorida                              8680.0
GeorgiaGeorgiaGeorgiaGeorgia                              4769.0
HawaiiHawaiiHawaiiHawaii                                   948.0
IdahoIdahoIdahoIdaho                                       399.0
IllinoisIllinoisIllinoisIllinois                         13808.0
IndianaIndianaIndianaIndiana                              2357.0
IowaIowaIowaIowa                                          1601.0
KansasKansasKansasKansas                                  1587.0
KentuckyKentuckyKentuckyKentucky                           775.0
LouisianaLouisianaLouisianaLouisiana                      1743.0
MaineMaineMaineMaine                                       505.0
MarylandMarylandMarylandMaryland                         10510.0
MassachusettsMassachusettsMassachusettsMassachu...       12105.0
MichiganMichiganMichiganMichigan                          4491.0
MinnesotaMinnesotaMinnesotaMinnesota                      3458.0
MississippiMississippiMississippiMississippi               347.0
MissouriMissouriMissouriMissouri                          2328.0
MontanaMontanaMontanaMontana                               229.0
NebraskaNebraskaNebraskaNebraska                          1106.0
NevadaNevadaNevadaNevada                                  1477.0
New HampshireNew HampshireNew HampshireNew Hamp...         116.0
New JerseyNew JerseyNew JerseyNew Jersey                 10583.0
New MexicoNew MexicoNew MexicoNew Mexico                   364.0
New YorkNew YorkNew YorkNew York                         31832.0
North CarolinaNorth CarolinaNorth CarolinaNorth...        5170.0
North DakotaNorth DakotaNorth DakotaNorth Dakota           277.0
OhioOhioOhioOhio                                          6480.0
OklahomaOklahomaOklahomaOklahoma                           897.0
OregonOregonOregonOregon                                  1620.0
PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania          6908.0
Puerto RicoPuerto RicoPuerto RicoPuerto Rico               442.0
Rhode IslandRhode IslandRhode IslandRhode Island           724.0
South CarolinaSouth CarolinaSouth CarolinaSouth...        1934.0
South DakotaSouth DakotaSouth DakotaSouth Dakota           423.0
TennesseeTennesseeTennesseeTennessee                      2281.0
TexasTexasTexasTexas                                     16716.0
UtahUtahUtahUtah                                          3096.0
VermontVermontVermontVermont                               501.0
VirginiaVirginiaVirginiaVirginia                          3408.0
WashingtonWashingtonWashingtonWashington                  4760.0
West VirginiaWest VirginiaWest VirginiaWest Vir...         176.0
WisconsinWisconsinWisconsinWisconsin                      1627.0
NATIONAL                                                217877.0

In [434]:
# change the cell 'AlabamaAlabamaAlabamaAlabama' to 'Alabama'
# change 'AlaskaAlaskaAlaskaAlaska' to 'Alaska'
# change ArizonaArizonaArizonaArizona to Arizona
# change ArkansasArkansasArkansasArkansas to Arkansas
# change CaliforniaCaliforniaCaliforniaCalifornia to California
# follow the pattern
# start writing code
df_2021_donor_cycles_by_state = df_2021_donor_cycles_by_state.rename(index={'AlabamaAlabamaAlabamaAlabama': 'Alabama', 'AlaskaAlaskaAlaskaAlaska': 'Alaska', 'ArizonaArizonaArizonaArizona': 'Arizona', 'ArkansasArkansasArkansasArkansas': 'Arkansas', 'CaliforniaCaliforniaCaliforniaCalifornia': 'California', 'ColoradoColoradoColoradoColorado': 'Colorado', 'ConnecticutConnecticutConnecticutConnecticut': 'Connecticut', 'DelawareDelawareDelawareDelaware': 'Delaware', 'District of ColumbiaDistrict of ColumbiaDistrict of ColumbiaDistrict of Columbia': 'District of Columbia', 'FloridaFloridaFloridaFlorida': 'Florida', 'GeorgiaGeorgiaGeorgiaGeorgia': 'Georgia', 'HawaiiHawaiiHawaiiHawaii': 'Hawaii', 'IdahoIdahoIdahoIdaho': 'Idaho', 'IllinoisIllinoisIllinoisIllinois': 'Illinois', 'IndianaIndianaIndianaIndiana': 'Indiana', 'IowaIowaIowaIowa': 'Iowa', 'KansasKansasKansasKansas': 'Kansas', 'KentuckyKentuckyKentuckyKentucky': 'Kentucky', 'LouisianaLouisianaLouisianaLouisiana': 'Louisiana', 'MaineMaineMaineMaine': 'Maine', 'MarylandMarylandMarylandMaryland': 'Maryland', 'MassachusettsMassachusettsMassachusettsMassachusetts': 'Massachusetts', 'MichiganMichiganMichiganMichigan': 'Michigan', 'MinnesotaMinnesotaMinnesotaMinnesota': 'Minnesota', 'MississippiMississippiMississippiMississippi': 'Mississippi', 'MissouriMissouriMissouriMissouri': 'Missouri', 'MontanaMontanaMontanaMontana': 'Montana', 'NebraskaNebraskaNebraskaNebraska': 'Nebraska', 'NevadaNevadaNevadaNevada': 'Nevada', 'New HampshireNew HampshireNew HampshireNew Hampshire': 'New Hampshire', 'New JerseyNew JerseyNew JerseyNew Jersey': 'New Jersey', 'New MexicoNew MexicoNew MexicoNew Mexico': 'New Mexico', 'New YorkNew YorkNew YorkNew York': 'New York', 'North CarolinaNorth CarolinaNorth CarolinaNorth Carolina': 'North Carolina', 'North DakotaNorth DakotaNorth DakotaNorth Dakota': 'North Dakota', 'OhioOhioOhioOhio': 'Ohio', 'OklahomaOklahomaOklahomaOklahoma': 'Oklahoma', 'OregonOregonOregonOregon': 'Oregon', 'PennsylvaniaPennsylvaniaPennsylvaniaPennsylvania': 'Pennsylvania', 'Rhode IslandRhode IslandRhode IslandRhode Island': 'Rhode Island', 'South CarolinaSouth CarolinaSouth CarolinaSouth Carolina': 'South Carolina', 'South DakotaSouth DakotaSouth DakotaSouth Dakota': 'South Dakota', 'TennesseeTennesseeTennesseeTennessee': 'Tennessee', 'TexasTexasTexasTexas': 'Texas', 'UtahUtahUtahUtah': 'Utah', 'VermontVermontVermontVermont': 'Vermont', 'VirginiaVirginiaVirginiaVirginia': 'Virginia', 'WashingtonWashingtonWashingtonWashington': 'Washington', 'West VirginiaWest VirginiaWest VirginiaWest Virginia': 'West Virginia', 'WisconsinWisconsinWisconsinWisconsin': 'Wisconsin', 'WyomingWyomingWyomingWyoming': 'Wyoming'})
df_2021_donor_cycles_by_state

                                              donor_cycles
LocationDesc_x
Alabama                                             1019.0
Alaska                                                21.0
Arizona                                             3562.0
Arkansas                                             343.0
California                                         28777.0
Colorado                                            4714.0
Connecticut                                         3992.0
Delaware                                            1094.0
District of Columbia                                 797.0
Florida                                             8680.0
Georgia                                             4769.0
Hawaii                                               948.0
Idaho                                                399.0
Illinois                                           13808.0
Indiana                                             2357.0
Iowa                                                1601.0
Kansas                                              1587.0
Kentucky                                             775.0
Louisiana                                           1743.0
Maine                                                505.0
Maryland                                           10510.0
Massachusetts                                      12105.0
Michigan                                            4491.0
Minnesota                                           3458.0
Mississippi                                          347.0
Missouri                                            2328.0
Montana                                              229.0
Nebraska                                            1106.0
Nevada                                              1477.0
New Hampshire                                        116.0
New Jersey                                         10583.0
New Mexico                                           364.0
New York                                           31832.0
North Carolina                                      5170.0
North Dakota                                         277.0
Ohio                                                6480.0
Oklahoma                                             897.0
Oregon                                              1620.0
Pennsylvania                                        6908.0
Puerto RicoPuerto RicoPuerto RicoPuerto Rico         442.0
Rhode Island                                         724.0
South Carolina                                      1934.0
South Dakota                                         423.0
Tennessee                                           2281.0
Texas                                              16716.0
Utah                                                3096.0
Vermont                                              501.0
Virginia                                            3408.0
Washington                                          4760.0
West Virginia                                        176.0
Wisconsin                                           1627.0
NATIONAL                                          217877.0

In [436]:
# replace Puerto RicoPuerto RicoPuerto RicoPuerto Rico with Puerto Rico

df_2021_donor_cycles_by_state = df_2021_donor_cycles_by_state.rename(index={'Puerto RicoPuerto RicoPuerto RicoPuerto Rico': 'Puerto Rico'})
df_2021_donor_cycles_by_state

                      donor_cycles
LocationDesc_x
Alabama                     1019.0
Alaska                        21.0
Arizona                     3562.0
Arkansas                     343.0
California                 28777.0
Colorado                    4714.0
Connecticut                 3992.0
Delaware                    1094.0
District of Columbia         797.0
Florida                     8680.0
Georgia                     4769.0
Hawaii                       948.0
Idaho                        399.0
Illinois                   13808.0
Indiana                     2357.0
Iowa                        1601.0
Kansas                      1587.0
Kentucky                     775.0
Louisiana                   1743.0
Maine                        505.0
Maryland                   10510.0
Massachusetts              12105.0
Michigan                    4491.0
Minnesota                   3458.0
Mississippi                  347.0
Missouri                    2328.0
Montana                      229.0
Nebraska                    1106.0
Nevada                      1477.0
New Hampshire                116.0
New Jersey                 10583.0
New Mexico                   364.0
New York                   31832.0
North Carolina              5170.0
North Dakota                 277.0
Ohio                        6480.0
Oklahoma                     897.0
Oregon                      1620.0
Pennsylvania                6908.0
Puerto Rico                  442.0
Rhode Island                 724.0
South Carolina              1934.0
South Dakota                 423.0
Tennessee                   2281.0
Texas                      16716.0
Utah                        3096.0
Vermont                      501.0
Virginia                    3408.0
Washington                  4760.0
West Virginia                176.0
Wisconsin                   1627.0
NATIONAL                  217877.0

In [437]:
# join this data frame with df_2021_cycles_by_state by "LocationDesc_x", remember to use left join
df_2021_cycles_by_state = df_2021_cycles_by_state.join(df_2021_donor_cycles_by_state)
df_2021_cycles_by_state

                      Cycle_Count  donor_cycles
LocationDesc
Alabama                    1595.0        1019.0
Alaska                       41.0          21.0
Arizona                    6834.0        3562.0
Arkansas                    396.0         343.0
California                66710.0       28777.0
Colorado                  10078.0        4714.0
Connecticut                7705.0        3992.0
Delaware                   1705.0        1094.0
District of Columbia       1446.0         797.0
Florida                   17371.0        8680.0
Georgia                    9244.0        4769.0
Hawaii                     1917.0         948.0
Idaho                      1066.0         399.0
Illinois                  24217.0       13808.0
Indiana                    4100.0        2357.0
Iowa                       2293.0        1601.0
Kansas                     2836.0        1587.0
Kentucky                   1155.0         775.0
Louisiana                  2665.0        1743.0
Maine                       773.0         505.0
Maryland                  18133.0       10510.0
Massachusetts             18097.0       12105.0
Michigan                   7170.0        4491.0
Minnesota                  5700.0        3458.0
Mississippi                 736.0         347.0
Missouri                   3792.0        2328.0
Montana                     492.0         229.0
Nebraska                   1775.0        1106.0
Nevada                     3199.0        1477.0
New Hampshire               195.0         116.0
New Jersey                20408.0       10583.0
New Mexico                  831.0         364.0
New York                  65650.0       31832.0
North Carolina             8788.0        5170.0
North Dakota                447.0         277.0
Ohio                      10089.0        6480.0
Oklahoma                   1258.0         897.0
Oregon                     3813.0        1620.0
Pennsylvania              12286.0        6908.0
Puerto Rico                 595.0         442.0
Rhode Island               1010.0         724.0
South Carolina             3466.0        1934.0
South Dakota                546.0         423.0
Tennessee                  4491.0        2281.0
Texas                     31284.0       16716.0
Utah                       5542.0        3096.0
Vermont                     768.0         501.0
Virginia                   6943.0        3408.0
Washington                 9197.0        4760.0
West Virginia               313.0         176.0
Wisconsin                  2615.0        1627.0
NATIONAL                 413776.0      217877.0

In [438]:
# save to csv in the "Output" folder as "2021_cycles_by_state.csv"
df_2021_cycles_by_state.to_csv("Output/2021_cycles_by_state.csv")